{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div class="row-row">
<div class="well clearfix">
    <form method='post' name='stock_back_testing' action="{{D['_bse']}}page/backtest/{{D['bid']}}" onsubmit='return check_thisForm()'>
    <div class="pull-left">
    <div class='select' style='margin-right:10px;vertical-align:bottom'>
        <input placeholder='종목코드' name='code' type='text' value="{{D['code']}}">
            <div class='btn-group'>
                <button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    <ul class='dropdown-menu'>
                        <li><a>종목코드</a></li>
                        {% for cdx in D['sel_codes'] %}
                        <li><a href='#'>{{cdx}}</a></li>
                        {% endfor %}
                    </ul>
            </div>
    </div>
    <div class='select' style='margin-right:10px;vertical-align:bottom'>
        <input placeholder='매매전략' name='strategy' type='text' value="{{D['strategy']}}">
            <div class='btn-group'>
                <button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    <ul class='dropdown-menu'>
                        <li><a>매매전략</a></li>
                        {% for stg in D['sel_strategy'] %}
                        <li><a href='#'>{{stg}}</a></li>
                        {% endfor %}
                    </ul>
            </div>
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 초기 자본금</div>
        <input type='text' name='capital' class="i-number" style="width:90px;text-align:center;" value="{{D['capital']}}">
    </div>
    </div> <!--pull left-->
    <div class="pull-right">
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 시작일자</div>
        <input type='text' name='start_date' class="i-date" value="{{D['start_date']}}" style="width:120px;text-align:center;">
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 종료일자</div>
        <input type='text' name='end_date' class="i-date" value="{{D['end_date']}}" style="width:120px;text-align:center;">
    </div>
    <button class="btn btn-red-s3" style="vertical-align:middle;">테스팅</button>
    </div> <!--pull right-->
    </form>
</div> <!--well-->
</div> <!--rowrow clearfix-->

{% if D['TR'] %}
<div class="row-row clearfix">
	<div class="pull-right" style="padding:10px;color:lightgray">
	{{D['output']}}
	</div>
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col><col><col><col><col style="background-color:#24272d;border:2px solid black;">
			<col><col><col><col style="background-color:#24272d;border:2px solid black;">
			<col><col><col><col><col><col>
			<col><col><col>	
		</colgroup>
		<thead>
			<tr style="background-color:#393f4a;border-bottom:1px solid black">
				<th style='text-align:left'>코드</th>
				<th style='text-align:center'>진행일</th>
				<th style='text-align:right'>회차</th>
				<th style='text-align:center'>기록일자</th>
				<th style='text-align:right'>당일종가</th>
				<th style='text-align:right'>체결단가</th>
				<th style='text-align:right'>체결수량</th>
				<th style='text-align:right'>매수금액</th>
				<th style='text-align:right'>평균단가</th>
				<th style='text-align:right'>보유수량</th>
				<th style='text-align:right'>평가금액</th>
				<th style='text-align:right'>총매수금</th>
				<th style='text-align:right'>수익현황</th>
				<th style='text-align:right'>수익률%</th>
				<th style='text-align:right'>매도금액</th>
				<th style='text-align:right'>가용잔액</th>
				<th style='text-align:center'>진행상황</th>
				<th style='text-align:center'>일매수금</th>
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if TR['진행상황'] == '매도체결' %}
			<tr style="border-top:2px solid yellow;border-bottom:2px solid yellow;background-color:black;"> 
			{% elif TR['진행상황'] == '강제매도' %}
			<tr style="border-top:2px solid orange;border-bottom:2px solid orange;background-color:black;"> 
			{% else %}
			<tr>
			{% endif %}
			<td style='text-align:left'>{{TR['코드']}}</td>
				<td style='text-align:center'>{{TR['시즌']}}</td>
				<td style='text-align:right;color:#BDBDBD;'>{{TR['회차']}}</td>
				<td style='text-align:center;color:#CEF6F5'>{{TR['기록일자']}}</td>
				<td style='text-align:right'>{{TR['당일종가']}}</td>
				<td style='text-align:right'>{{TR['체결단가']}}</td>
				<td style='text-align:right'>{{TR['체결수량']}}</td>
				<td style='text-align:right'>{{TR['매수금액']}}</td>
				<td style='text-align:right;color:#F5F6CE'>{{TR['평균단가']}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['보유수량']}}</td>
				<td style='text-align:right;color:#F8E6E0'>{{TR['평가금액']}}</td>
				<td style='text-align:right;color:#E0F8F7'>{{TR['총매수금']}}</td>
				<td style='text-align:right'>{{TR['수익현황']}}</td>
				<td style='text-align:right;font-weight:bold'>{{TR['수익률']|safe}}</td>
				<td style='text-align:right;color:#F6CECE'>{{TR['매도금액']}}</td>
				<td style='text-align:right;color:#CEF6CE'>{{TR['가용잔액']}}</td>
				<td style='text-align:center'>{{TR['진행상황']}}</td>
				<td style='text-align:center'>{{TR['일매수금']}}</td>
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% endif %}
<script>
function check_thisForm() {
    if(! $("input[name='code']").val() ) { h_dialog.notice("코드 입력은 필수입니다"); return false; }
	if(! $("input[name='strategy']").val() ) { h_dialog.notice("전략 입력은 필수입니다"); return false; }
    if(! $("input[name='capital']").val() ) { h_dialog.notice("초기자본을 입력해 주세요"); return false; }  
    if(! $("input[name='start_date']").val() ) { h_dialog.notice("시작 일자가 입력되지않았습니다"); return false; }  
    if(! $("input[name='end_date']").val() ) { h_dialog.notice("종료 일자가 입력되지않았습니다"); return false; }  
    if($("input[name='start_date']").val() > $("input[name='end_date']").val() ) { h_dialog.notice("시작 일자는 종료일보다 커야 합니다"); return false; }
}

</script>



{% endblock %}
