{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>


<div class="clearfix" style="width:100%;background-color:#24272d;padding:20px;border:2px solid black;">
	<div class="pull-left" style="margin-right:20px">
		<canvas id="myChart"  style="width:1100px;height:400px;background-color:#24272d;"></canvas>
	</div>
	<div class="pull-left">
		<canvas id="myChart2" style="width:310px;height:400px;background-color:#24272d"></canvas>
	</div>
</div>
<div class="row-row clearfix" style="margin-bottom:-2px;"> 
	<div style="display:inline-block;width:{{D['fy_w']}}px;margin:0;background-color:rgba(255, 99, 132, 0.4)">&nbsp;&nbsp;&nbsp;{{D['첫째상황']['t2']}}</div>
	<div style="display:inline-block;width:{{D['sy_w']}}px;margin:0;background-color:rgba(54, 162, 235, 0.4)">&nbsp;&nbsp;&nbsp;{{D['둘째상황']['t2']}}</div>
	<div style="display:inline-block;width:{{D['ty_w']}}px;margin:0;background-color:rgba(255, 205, 86, 0.4)">&nbsp;&nbsp;&nbsp;{{D['셋째상황']['t2']}}</div>		
	<div class='well'>
		<i class="fa fa-calendar"></i> {{D['오늘날자']}}({{D['오늘요일']}}) &nbsp;
		<i class="fa fa-line-chart"></i> {{D['종가'][-1]}} &nbsp;
		<i class="fa fa-level-up"></i> {{D['종가최대']}} &nbsp;
		<i class="fa fa-level-down"></i> {{D['종가최소']}} &nbsp;
		<i class="fa fa-sign-in"></i> {{D['투자합계']}} &nbsp;
		<i class="fa fa-sign-out"></i> {{D['평가합계']}} &nbsp;
		<i class="fa fa-usd"></i> {{D['손익현황']}} &nbsp;
	</div> 
</div>

<div class="row-row clearfix">
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
				<th style="background-color:#071418;font-style:italic">My</th>
				<th colspan='4' style="background-color:#0A2229;font-style:italic">종합현황</th>

				<th colspan='7' style="background-color:#0B2F3A;font-style:italic">진행현황</th>

				<th colspan='6' style="background-color:#0A2229;font-style:italic">매매전략 From {{D['확인날자']}}({{D['확인요일']}})</th>
			</tr>
			<tr>
				<th style="background-color:#071418;font-style:italic">Account</th>
				<th style="background-color:#0A2229;text-align:right">기초자금</th>
				<th style="background-color:#0A2229;text-align:right">현재자금</th>
				<th style="background-color:#0A2229;text-align:right">증감</th>
				<th style="background-color:#0A2229;text-align:right">수익률</th>

				<th style="background-color:#0B2F3A;text-align:right">시즌</th>
				<th style="background-color:#0B2F3A;text-align:right">진행률</th>
				<th style="background-color:#0B2F3A;text-align:right">수량</th>
				<th style="background-color:#0B2F3A;text-align:right">평균단가</th>
				<th style="background-color:#0B2F3A;text-align:right">수익률</th>
				<th style="background-color:#0B2F3A;text-align:right">평가금액</th>
				<th style="background-color:#0B2F3A;text-align:right">가용잔액</th>

				<th style="background-color:#0A2229;text-align:right">전략</th>
				<th style="background-color:#0A2229;text-align:right">수량</th>
				<th style="background-color:#0A2229;text-align:right">가격</th>
				<th style="background-color:#0A2229;text-align:right">전략</th>
				<th style="background-color:#0A2229;text-align:right">수량</th>
				<th style="background-color:#0A2229;text-align:right">가격</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align:center;color:{{D['첫째상황']['active']}}">첫째계좌</td>
				<td style="text-align:right;">{{D['첫째상황']['t1']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['t2']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['t3']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['t4']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p1']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p2']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p3']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p4']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p5']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p6']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['p7']}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s1']|safe}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s2']|safe}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s3']|safe}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s4']|safe}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s5']|safe}}</td>
				<td style="text-align:right;">{{D['첫째상황']['s6']|safe}}</td>
			</tr>

			<tr>
				<td style="text-align:center;color:{{D['둘째상황']['active']}}">둘째계좌</td>
				<td style="text-align:right;">{{D['둘째상황']['t1']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['t2']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['t3']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['t4']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p1']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p2']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p3']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p4']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p5']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p6']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['p7']}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s1']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s2']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s3']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s4']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s5']|safe}}</td>
				<td style="text-align:right;">{{D['둘째상황']['s6']|safe}}</td>
			</tr>

			<tr>
				<td style="text-align:center;color:{{D['셋째상황']['active']}}">셋째계좌</td>
				<td style="text-align:right;">{{D['셋째상황']['t1']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['t2']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['t3']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['t4']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p1']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p2']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p3']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p4']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p5']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p6']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['p7']}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s1']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s2']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s3']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s4']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s5']|safe}}</td>
				<td style="text-align:right;">{{D['셋째상황']['s6']|safe}}</td>
			</tr>
		</tbody>
	</table>
</div>


<script>

	// 챠트 그리기
	const ctx = $id('myChart');
	const ctx2= $id('myChart2');
	
	ctx.style.backgroundColor = '#33363b';
	ctx.style.border = '2px solid black';
	
	let labels = {{D['날자']|safe}};
	const data = {
		labels : labels,
		datasets : [
			{
				label:' 종가',
				data : {{D['종가']|safe}},
				borderColor:'lightpink', borderWidth:2,borderDash: [2,2], pointStyle:'circle', pointRadius:0, 
				lineTension:0.2
	
			},
			{   
				label:' 첫째',
				data : {{D['첫째']|safe}},
				pointStyle:'circle', borderWidth:4,pointRadius:0,pointHoverRadius:15,borderColor:'#f78181',backgroundColor:'#f78181',
				lineTension:0.2
	
			},

			{
				label:' 첫째-10%',
				data : {{D['첫째10']|safe}},
				borderWidth:2,borderDash:[2,3],pointRadius:0,borderColor:'#58ACFA',
				lineTension:0.2
	
			},

			{
				label:' 첫째-20%',
				data : {{D['첫째20']|safe}},
				borderWidth:2,borderDash:[2,3],pointRadius:0,borderColor:'#58ACFA',
				lineTension:0.2
	
			},

			{
				label:' 첫째-30%',
				data : {{D['첫째30']|safe}},
				borderWidth:2,borderDash:[2,3],pointRadius:0,borderColor:'#58ACFA',
				lineTension:0.2
	
			},

			{
				label:' 둘째',
				data : {{D['둘째']|safe}},
				pointStyle:'circle', borderWidth:4,pointRadius:0,pointHoverRadius:15,borderColor:'#58ACFA',
				lineTension:0.2
	
			},
	
			{
				label:' 셋째',
				data : {{D['셋째']|safe}},
				pointStyle:'circle', borderWidth:4,pointRadius:0,pointHoverRadius:15,borderColor:'yellow',
				lineTension:0.2
	
			}
	
		]   
	};
	const options = {
		animation : {duration:1000},
		plugins : { legend: {display:false}},
		responsive:false,
		layout:{padding:20},
		scales:{
			x:{ ticks : {color:'gray'}, grid:{color:'#272727'}},
			y:{ ticks : {color:'lightgray'}, grid:{color:'#272727'} }
		}
	};
	const config  = {type:'line',data:data,options:options};
	const myChart = new Chart(ctx, config); 
	//

	const labels2 = ['첫째','둘째','셋째','종합'];
	const data2 = {
	labels: labels2,
	datasets: [{
		label: ' 계좌수익률',
		data: [{{D['첫째상황']['t4']}},{{D['둘째상황']['t4']}},{{D['셋째상황']['t4']}},{{D['total_rate']}}],
		backgroundColor: ['rgba(255, 99, 132, 0.4)','rgba(54, 162, 235, 0.4)','rgba(255, 205, 86, 0.4)','rgba(75, 192, 192, 0.4)'],
		borderColor: ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(255, 205, 86)','rgb(75, 192, 192)'],
		borderWidth: 1
	}]
	};

	const config2 = {
	type: 'bar',
	data: data2,
	plugins:[ChartDataLabels],
	options: {
		animation : {duration:1000},
		plugins : { legend: {display:false},
					tooltip : {enabled:false},
					datalabels : {color:'white', anchor:'start', align:'end', offset: 3, font:{size:14}}			
		},
		scales: {
		y: {
			beginAtZero: true
		}
		}
	},
	};

	const myChart2 = new Chart(ctx2, config2); 

	</script>
	
	
{% endblock %}
