{% extends D['_skn'] + 'page/my_dark/main_layout_mobile.html' %}

{% block contents_page  %}
<div>
<div style='font-size:14px;margin-bottom:10px;text-align:left;font-style:italic'>
<b>JYH</b> Translator ver 1.0
</div>

<div style="margin-top:5px;">
	<textarea name="korean" style="width:100%;height:200px;background-color:#0a2229;padding:10px"></textarea>
</div>
<div class="well clearfix" id="btn1" style="margin-top:5px;width:100%;text-align:center;cursor:pointer;padding:5px;">
  <div class="pull-left" style="width:33%;text-align:center;padding:4px;background-color:#222121;border:2px solid black" onclick="do_translate('eng_teacher')">영어로</div>
  <div class="pull-left" style="width:33%;text-align:center;padding:4px;background-color:#222121;border:2px solid black" onclick="do_translate('kor_teacher')">한글로</div>
  <div class="pull-left" style="width:34%;text-align:center;padding:4px;background-color:#222121;border:2px solid black"  onclick="do_translate('gen_teacher')">일반사항</div>
</div>
<div style="margin-top:5px;">
	<textarea name="english" style="width:100%;height:280px;background-color:#071418;color:#E0F8E0;padding:10px" readonly></textarea>
</div>

<div class="well" id="btn2" style="margin-top:5px;width:100%;text-align:center;cursor:pointer;" onclick="do_clear()">
  내용 지우기
</div>


</div>
<script>
function do_translate(opt) {
  let txt = $("textarea[name=korean]").val();
  txt = $.trim(txt);
  if(!txt) { h_dialog.notice("번역할 문장을 입력하여 주세요"); return; }
	var posturl = uri('linkurl') + 'pages-pajax/eng_reply';

  h_dialog.cover({over_opacity:0.3,spin:true});
  $("#btn2").css("backgroundColor","#0B4C5F");
  $("#btn2").css("backgroundColor","#0B4C5F").text("작업 중입니다...");
  
	$.post( posturl,{txt:txt,opt:opt}).done( function(data) { $("textarea[name=english]").val(data); h_dialog.closeCover();
    $("#btn2").css("backgroundColor","").text("내용 지우기");
  });	
}

function do_clear() {
  $("textarea[name=korean]").val('');
  $("textarea[name=english]").val('');
}
</script>
{% endblock %}