@charset "utf-8";

#send-to-mobile-div {display:none;background-color:black;padding:10px;border:1px solid black;border-radius:6px;border:none;}
#send-to-mobile-select {display:inline-block;outline:none;margin-right:10px;}
#send-to-mobile-text {display:inline-block;color:cyan;outline:none;width:600px;white-space:pre-wrap;}
#send-to-mobile-send {display:inline-block;color:yellow;width:80px;text-align:right;}

.i-input-div {display:inline-block; border: 1px solid #4a505e; margin:1px 10px 1px 0px}
.write-input-left  {width:100px; display:inline-block;border:2px solid #000;background-color:#004200;vertical-align:middle;padding:1px 5px 2px 5px;}
.if-this-day {text-align:right;color:#BDBDBD;cursor:pointer}
.if-the-day  {text-align:center;color:#CEF6F5;cursor:pointer}

.dash-div {width:100%;background-color:#1d1f24;color:#e1e1e1;border:2px solid #797979;border-radius:6px;}
.dash-div-head {width:100%;margin-bottom:5px;border-radius:6px 6px 0 0;padding:5px 5px 5px 20px;border-bottom:2px solid darkslategray}
.dash-div-tail {width:100%;text-align:right;border-radius:0 0 6px 6px;font-size:12px;padding:5px;border-top:2px solid darkslategray}
.dash-div+.dash-div {margin-top:10px;}
.dash-table {width:100%;}
.dash-table td {padding:3px;text-align:right;}
.dash-table tr td:nth-child(1) {color:yellow}
.dash-table tr td:nth-child(2) {font-weight:bold}
.dash-table tr td:nth-child(3) {color:#b9b9b9}
.dash-table tr td:nth-child(4) {background-color:black;font-weight:bold}
.dash-table tr td:nth-child(5) {background-color:black;padding:0px}
.dash-table tr td:nth-child(6) {background-color:black;color:#b9b9b9}
