{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div id='publicIP-info-div' class='scrollbar' style="background-color:black;padding:20px;border:1px solid darkgray;margin-top:10px;margin-bottom:10px;min-height:200px;max-height:600px;overflow:auto">
{{D['PublicIP']|safe}}
</div>
<div style="clear:both">
    <div style="float:left"><button class="btn btn-red" onclick='clear_who()'>비우기</button></div>
{% if D['_lcl'] %}
    <div style="float:right">
        <button class="btn btn-blue" onclick='old_token()'>토큰받기</button>
        <button class="btn btn-red" onclick='new_token()'>토큰전송</button>
    </div>
{% endif %}
</div>
<br>
<br>

<script>
function clear_who() {
 
    var url = uri('linkajax') + 'publicip/clear_publicip';
	
	$.post(url,{}).done(function(data){
		if(data=='___OK___') {
            h_dialog.notice('작업이 성공적으로 수행되었습니다.');
            $("#publicIP-info-div").html('');
        }
	});   
}
{% if D['_lcl'] %}

function new_token() {
    
    const url = uri('linkajax') + 'publicip/new_token';
	$.post(url,{}).done(function(data){	if(data=='___OK___') { h_dialog.notice('작업이 성공적으로 수행되었습니다.');}});   
}

function old_token() {
    
    const url = uri('linkajax') + 'publicip/old_token';
	$.post(url,{}).done(function(data){	if(data=='___OK___') { h_dialog.notice('작업이 성공적으로 수행되었습니다.');}});   
}

{% endif %}
</script>
{% endblock %}