{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div class="row-row">
	<div style="position:fixed;left:20px;top:30px;width:{{D['xwidth']}};background-color:#33363b;">
		<form method='post' name='rsn_dashboard' action="{{D['_bse']}}page/rpd_rsnview/rsn_view">
			<br>
			<div class="well clearfix" style="border-radius:0px;">
    			<div class="pull-left">
    				<div class='select' style='margin-right:10px;vertical-align:bottom'>
        				<input placeholder='RSN' name='적용전략' type='text' value="RSN">
            			<div class='btn-group'>
                			<button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    		<ul class='dropdown-menu'>
                        		<li><a>적용전략</a></li>
                        		<li><a href='#'>RSN</a></li>
                    		</ul>
            			</div>
    				</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:100px;font-weight:bold;">투자자금</div>
						<input type='text' class="i-number" name="투자자금" style="width:100px;text-align:center;" value="{{D['투자자금']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:40px">RP</div>
						<input type='text' class="i-number" name="기회시점" style="width:50px;text-align:center;" value="{{D['기회시점']}}">
						<input type='text' class="i-number" name="기회회복" style="width:50px;text-align:center;background-color:black;" value="{{D['기회회복']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:40px">SP</div>
						<input type='text' class="i-number" name="안정시점" style="width:50px;text-align:center;" value="{{D['안정시점']}}">
						<input type='text' class="i-number" name="안정회복" style="width:50px;text-align:center;background-color:black;" value="{{D['안정회복']}}">
					</div>
					<div style="display:inline-block;">
						<i class="fa fa-superpowers fa-lg" style="color:#F6CECE;cursor:pointer;" onclick="write_log()" title="로그기록"></i>
					</div>
					<div style="display:inline-block;">	
						<i class="fa fa-superpowers fa-lg" style="color:gray;cursor:pointer;" onclick="synchro('test')" title="테스트모드"></i>
					</div>
					<div style="display:inline-block;">
						<i class="fa fa-superpowers fa-lg" style="color:cadetblue;cursor:pointer;" onclick="synchro('real')" title="동기화모드"></i>
					</div>
    			</div> <!--pull left-->

    			<div class="pull-right">
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(5)">5y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(3)">3y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(2)">2y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(1)">1y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="startYearSpan()">S</div>&nbsp;
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(0)"> 시작</div>
						<input type='text' name='시작일자' class="i-date" value="{{D['시작일자']}}" style="width:110px;text-align:center;">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(1)"> 종료</div>
						<input type='text' name='종료일자' class="i-date" value="{{D['종료일자']}}" style="width:110px;text-align:center;">
					</div>
    				<button class="btn btn-red-s3" style="vertical-align:middle;user-select:none;">테스팅</button>
    			</div> <!--pull right-->


		</div> 

		<div id="myChart_main-div" class="clearfix" style="height:370px;background-color:#24272d;padding:10px;border:2px solid black;">
			<div class="pull-left" onclick="$('#monthlyProfit').show()">
				<canvas id="myChart_main"  style="width:1070px;height:350px;background-color:#24272d;"></canvas>
			</div>
			<div class="pull-left" ondblclick="$('#statistics-profits').show()" style="margin-left:10px">
				<canvas id="myChart_side" style="width:270px;height:330px;background-color:#24272d;"></canvas>
				<div style="text-align:right;">
					{% if D['s_date'] %}
					<input type='text' name='s_date' class="i-date_1" style="width:90px;text-align:center;background:none;border:none" placeholder='시작일자' value="20{{D['s_date']}}"> -
					<input type='text' name='e_date' class="i-date_2" style="width:90px;text-align:center;background:none;border:none" placeholder='종료일자' value="20{{D['e_date']}}">
					<span style="cursor:pointer;color:gray;vertical-align:middle;" onclick="slice_chart(0)" title="전체시즌"><i class="fa fa-home"></i></span>
					{% endif %}
				</div>
			</div>
			<div class="pull-left" style="padding:10px 5px;margin-right:0px;height:350px;" ondblclick="$('#Next-Strategy').show()">
				Options
				<div class="toggle-block" style="margin-top:20px">
					<input role="switch" type="checkbox" name="chk_fee" {{ 'checked' if D['수료적용'] =='on' else '' }}><span>fee</span> 
				</div>
				<div class="toggle-block">
					<input role="switch" type="checkbox" name="chk_tax" {{ 'checked' if D['세금적용'] =='on' else '' }}><span>Tax</span> 
				</div>
				<div class="toggle-block">
					<input role="switch" type="checkbox" name="chk_brs" {{ 'checked' if D['일밸런싱'] =='on' else '' }}><span>RSN=</span> 
				</div>
				<div class="toggle-block">
					<input role="switch" type="checkbox" name="chk_rs_" {{ 'checked' if D['이밸런싱'] =='on' else '' }}><span>RS>N</span> 
				</div>
				<div class="toggle-block">
					<input role="switch" type="checkbox" name="chk_von" {{ 'checked' if D['일반상황'] =='on' else '' }}><span>V_on</span> 
				</div>
				<div class="toggle-block">
					<input role="switch" type="checkbox" name="chk_chx" {{ 'checked' if D['가상손실'] =='on' else '' }}><span>chx</span> 
				</div>
			</div>
		</div>
	</form>
		{% if D['일정익절'] %}
		<div id="result-memo" style="position:fixed;left:84px;top:120px;color:gray;font-style:italic;">
		V tactic  {{D['일정익절']}}:{{D['일정손절']}} , {{D['일회익절']}}:{{D['일회손절']}}&nbsp;&nbsp;
		<span style="color:#F6CECE">R tactic  {{D['기정익절']}}-{{D['기정손절']}} : {{D['기회익절']}}-{{D['기회손절']}}</span>&nbsp;&nbsp;
		<span style="color:yellow">S tactic   {{D['안정익절']}}-{{D['안정손절']}} : {{D['안회익절']}}-{{D['안회손절']}}</span>&nbsp;&nbsp;
		<span style="color:#CEF6CE">N tactic  {{D['생정익절']}}-{{D['생정손절']}} : {{D['생회익절']}}-{{D['생회손절']}}</span>
		</div>
		{% endif %}

		<div class="clearfix" style="border-radius:0px;padding:10px;">
			{% if D['최장일수'] %}
			<div class="pull-left" style="color:lightgray;">
				최장 : <b>{{D['최장일수']}}</b>일( <span class="positioning_date">{{D['최장일자'][2:]}}</span> ) &nbsp;
				MDD : <b>{{D['MDD2']}}%</b>( <span class="positioning_date">{{D['MDD_DAY2']}}</span> )  / <b>{{D['MDD3']}}%</b>( <span class="positioning_date">{{D['MDD_DAY3']}}</span> ) / <b>{{D['MDD4']}}%</b>( <span class="positioning_date">{{D['MDD_DAY4']}}</span> )&nbsp;
				LP : <b>{{D['손익저점']}}%</b>( <span class="positioning_date">{{D['저점날자'][2:]}}</span> )
				<span style="color:gray">fee : {{ "${:,.2f}".format(D['총수수료']) }} </span>
				<i class="fa fa-arrow-up" onclick="chart_up_dn(1)"></i>
				<i class="fa fa-arrow-down" onclick="chart_up_dn(2)"></i>
			</div>
			<div class="pull-right" style="color:lightgray">
				총 <span style='font-weight:bold;color:white'>{{D['R_총경과일']}}</span>일 
				<span style='font-weight:bold;color:white'>{{D['R_초기자본']}}</span> ▶ <span style='font-weight:bold;color:white'>{{D['R_최종자본']}}</span>
				수익 <span style='font-weight:bold;color:#CEF6CE'>{{D['R_최종수익']}}</span>
				수익률 <span style='font-weight:bold;color:#F6CECE'>{{D['R_최종익률']}} % </span>
			</div>
			{% else %}
			<div style="font-style:italic;color:gray">&nbsp;</div>
			{% endif %}
		</div>
		{% if D['TR'] %}
		<div>
			<table class='table table-striped table-hover' style="border:2px solid black;">
				<tr style="background-color:#393f4a;border-bottom:1px solid black;font-style:italic;">
					<th style='text-align:center;width:50px'>No</th>
					<th style='text-align:center;width:80px'>Date</th>
					<th style='text-align:right;width:60px'>Price</th>
					<th style='text-align:right;width:60px'>Change</th>
					
					{% if D['일반상황']=='on' %}
					<th style='text-align:right;width:120px;color:grey'>V process</th>
					<th style='text-align:center;width:74px;color:gray'>V avg</th>
					<th style='text-align:right;width:70px;color:gray'>V rate</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#F6CECE'>R process</th>
					<th style='text-align:center;width:74px'>R avg</th>
					<th style='text-align:right;width:70px'>R rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;width:110px'>R balance&nbsp;&nbsp;</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#F2F5A9'>S process</th>
					<th style='text-align:center;width:74px'>S avg</th>
					<th style='text-align:right;width:100px'>S profit</th>
					<th style='text-align:right;width:70px'>S rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;width:110px'>S balance&nbsp;&nbsp;</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#CEF6CE'>N process</th>
					<th style='text-align:center;width:74px'>N avg</th>
					<th style='text-align:right;width:70px'>N rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;'>N balance</th>
					{% endif %}
				</tr>
			</table>
		</div>
		{% endif %}
	</div> <!--postion:fixed-->
</div> <!--rowrow clearfix-->

{% if D['TR'] %}
<div id="backTesting-table" class="row-row clearfix" style="width:{{D['xwidth']}};margin-top:470px;">
	
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col style="width:50px;"> <!-- 날수 -->
			<col style="width:80px;"> <!-- 일자 -->
			<col style="width:60px;"> <!-- 당일종가 -->
			<col style="width:60px;border-right:3px solid #424242"> <!-- 종가변동 -->
			
			{% if D['일반상황']=='on' %}
			<col style="width:120px"> <!-- 일반진행 -->
			<col style="width:74px"> <!-- 일반평균 -->
			<col style="width:70px;border-right:3px solid #424242"> <!-- 일반(%) -->
			{% endif %}

			<col style="width:120px"> <!-- 기회진행 -->
			<col style="width:74px"> <!-- 기회평균 -->
			<col style="width:70px"> <!-- 기회(%) -->
			{% if D['일반상황']=='off' %}
			<col style="width:110px;"> <!-- 기회잔액 -->
			{% endif %}

			<col style="width:120px;border-left:3px solid #424242"> <!-- 안정진행 -->
			<col style="width:74px"> <!-- 안정평균 -->
			<col style="width:100px"> <!-- 안정수익 -->
			<col style="width:70px"> <!-- 안정(%) -->
			{% if D['일반상황']=='off' %}
			<col style="width:110px;"> <!-- 안정잔액 -->
			{% endif %}
			<col style="width:120px;border-left:3px solid #424242"> <!-- 생활진행 -->
			<col style="width:74px"> <!-- 생활평균 -->
			<col style="width:70px"> <!-- 생활(%) -->
			{% if D['일반상황']=='off' %}
			<col> <!-- 생활잔액 -->
			{% endif %}
		</colgroup>


			{% for TR in D['TR'] %}
			{% if TR['진행상황']|striptags == '익절매도'  %}
			<tr style="border-top:1px solid #424242;border-bottom:1px solid #424242;background-color:black;font-weight:bold" onclick="show_chart({{TR['기록시즌']}},this)"> 
			{% elif TR['진행상황']|striptags == '손절매도' %}
			<tr style="border-top:1px solid #A9D0F5;border-bottom:1px solid #A9D0F5;background-color:black;" onclick="show_chart({{TR['기록시즌']}},this)">
			{% else %}
			<tr>
			{% endif %}
				<td style='text-align:center'>{{TR['현재날수']}}</td>
				<td class="begin-date" style="cursor:pointer;">{{TR['기록일자']}}</td>
				<td class='ohlc-price' style='text-align:right;font-weight:bold;cursor:pointer;'>{{TR['당일종가']|safe}}</td>
				<td style='text-align:right;font-weight:bold;'>{{TR['종가변동']|safe}}</td>
				{% if D['일반상황']=='on' %}
				<td style='text-align:right;color:#F6CECE'>{{TR['일반진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['일반평균']|safe}}</td>
				<td class="log-v" data-v="{{TR['기록일자']}}">{{TR['일반익률']|safe}}</td>
				{% endif %}

				<td style='text-align:right;color:#F6CECE'>{{TR['기회진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['기회평균']|safe}}</td>
				<td class="log-r" data-r="{{TR['기록일자']}}">{{TR['기회익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-r">{{TR['기회잔액']|safe}}</td>
				{% endif %}
				<td style='text-align:right;color:#F6CECE'>{{TR['안정진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['안정평균']|safe}}</td>
				<td style='text-align:right'>{{TR['안정수익']|safe}}</td>
				<td class="log-s" data-s="{{TR['기록일자']}}">{{TR['안정익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-s">{{TR['안정잔액']|safe}}</td>	
				{% endif %}
				<td style='text-align:right;color:#F6CECE'>{{TR['생활진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['생활평균']|safe}}</td>
				<td class="log-n" data-n="{{TR['기록일자']}}">{{TR['생활익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-n">{{TR['생활잔액']|safe}}</td>
				{% endif %}
			</tr>
			{%- endfor %}

	</table>
</div>
{% endif %}

{% if D['NOTICE'] %}
<div style="padding:20px;font-size:24px;color:gray">{{D['NOTICE']}}</div>
{% endif %}

<div id='backTestingChart' style="position:fixed;left:20px;top:2170px;width:1070px;background-color:#24272d;padding:10px;border:2px solid black;z-index:7;">
	<div id='backTestingChart-notice' style="position:absolute;top:11px;left:74px;color:gray;font-style:italic">&nbsp;</div>
	<canvas id="mybackTestChart" style="width:1040px;height:330px;background-color:#24272d"></canvas>
</div>
{% if D['월별이익'] %}
<div id='monthlyProfit' style="position:fixed;left:27px;top:108px;background-color:#24272d;padding:5px;opacity:0.9;z-index:3;" onclick="$(this).hide()">
	<canvas id="monthlyProfitChart" style="width:1070px;height:350px;"></canvas>
</div>
{% endif %}

<div id="Next-Strategy" style="display:none;opacity:0.9;position:fixed;left:1150px;top:112px;height:350px;background-color: #393f4a;border:2px solid black;padding:20px" onclick="$(this).hide()">
	<ul style="margin-left:10px;margin-bottom:10px">
		<li> {{D['R_총보유량']}} <span style="color:gray">sotcks </span> {{D['NT-AVG']}} <span style="color:gray">total average</span></li>
		<li> {{D['R_총평가금']}} / {{D['R_총매입금']}} ( {{D['R_평가익률']}}% )</li>
	</ul>
	<span style="font-style: italic"> <span style="color:gray">Next Strategy</span></span>
	<table class="table" style="text-align:right;width:310px">
		{% if D['N_기회매수량'] or D['N_안정매수량'] or D['N_생활매수량'] %}
		<tr style="font-style:italic;border-bottom:1px solid gray"><td style="text-align:left;">Tactic</td><td>price</td><td>qty</td><td>ppa</td><td>ppl</td></tr>
		{% endif %}
		{% if D['N_기회매수량'] %}
		<tr><td style="text-align:left;">R buy</td><td>{{D['N_기회매수가']}}</td><td>{{D['N_기회매수량']}}</td><td>{{D['N_기회평대비']}}</td><td>{{D['N_기회종대비']}}</td></tr>
		{% endif %}
		{% if D['N_안정매수량'] %}
		<tr><td style="text-align:left;">S buy</td><td>{{D['N_안정매수가']}}</td><td>{{D['N_안정매수량']}}</td><td>{{D['N_안정평대비']}}</td><td>{{D['N_안정종대비']}}</td></tr>
		{% endif %}
		{% if D['N_생활매수량'] %}
		<tr><td style="text-align:left;">N buy</td><td>{{D['N_생활매수가']}}</td><td>{{D['N_생활매수량']}}</td><td>{{D['N_생활평대비']}}</td><td>{{D['N_생활종대비']}}</td></tr>
		{% endif %}
		{% if D['N_기회매도량'] %}
		<tr style="border-top:1px solid gray"><td style="text-align:left;">R sell</td><td>{{D['N_기회매도가']}}</td><td>{{D['N_기회매도량']}}</td><td>{{D['N_기회도평비']}}</td><td>{{D['N_기회도종비']}}</td></tr>
		{% endif %}
		{% if D['N_안정매도량'] %}
		<tr><td style="text-align:left;">S sell</td><td>{{D['N_안정매도가']}}</td><td>{{D['N_안정매도량']}}</td><td>{{D['N_안정도평비']}}</td><td>{{D['N_안정도종비']}}</td></tr>
		{% endif %}
		{% if D['N_생활매도량'] %}
		<tr><td style="text-align:left;">N sell</td><td>{{D['N_생활매도가']}}</td><td>{{D['N_생활매도량']}}</td><td>{{D['N_생활도평비']}}</td><td>{{D['N_생활도종비']}}</td></tr>
		{% endif %}
		<!-- <tr style="border-top:1px solid gray"><td style="text-align:left;">LP : </td><td>{{D['LPRICE']}}</td><td></td><td style="text-align:left;">CP : </td><td>{{D['CPRICE']}}</td></tr> -->
	</table>
</div>

<div id="statistics-profits" class="scrollbar"
     style="display:none;position:fixed;left:1110px;top:112px;min-width:410px;height:350px;padding:0px;background-color:black;overflow-y:scroll;border:1px solid black" 
	 ondblclick="$('#statistics-profits').hide()">
	 <table class='table table-striped' style="padding:0px">
		<tr style="background-color: #000000;font-weight:bold;color:white;">
			<td style="text-align:left;height:28px;">결과분석</td>
			<td style="text-align:right;">{{D['R_총매도수']}}({{D['R_총익절수']}}/{{D['R_총손절수']}})</td>
			<td style="text-align:right;">{{D['R_총익승률']}}%</td>
			<td style="text-align:right;">{{D['R_익절평균']}}%</td>
			<td style="text-align:right;">{{D['R_손절평균']}}%</td>
		 </tr>
	 {% for TR in D['손익통계'] %}
	 <tr>
		<td class="pointing_sd1" onclick="show_spanChart('{{TR[0]}}',1)">{{TR[0][2:]}}</td>
		<td class="pointing_sd2" onclick="show_chart('{{TR[5]}}','{{TR[0]}}','{{TR[2]}}','{{TR[3]}}')">{{TR[1]}}</td>
		<td style="text-align:right;color:{{TR[4]}}">{{TR[2]}}</td>
		<td style="text-align:right;color:{{TR[4]}}">{{TR[3]}}</td>
		<td style="text-align:right;color:lightgoldenrodyellow">{{TR[6]}}</td>
	 </tr>
	 {% endfor %}
	 </table>
</div>

<div id="daily-log">
	<div id="daily-log-left" class="pull-left"></div>
	<div class="pull-left">
	<table class='table' style="width:900px;">
		<tbody>
			<tr>
				<td style="width:30px">&nbsp;</td>
				<td class='write-td-left' style="width:80px">현금투자</td>
				<td class="write-td-right">
					<div class='i-input-div-2'>
						<div class='write-input-server'>입금</div>
						<input disabled type='text' name='add1' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>출금</div>
						<input disabled type='text' name='add2' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>잔액</i></div>
						<input disabled type='text' name='add3' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>현금비중</div>
						<input disabled type='text' name='add4' class="i-number" style="width:90px;" value="">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="font-size:2px;line-height:8px;">&nbsp;</td>
			</tr>
			<tr style="border:2px solid #CEE3F6;">
				<td style="width:30px">&nbsp;</td>
				<td class='list-code' style="cursor:pointer">투자현황</td>
				<td class="write-td-right" style="padding:12px 8px">
					<div class='i-input-div-choice'>
						<div class='write-input-server'>매수금&nbsp;</div>
						<input disabled type='text' name='add11' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-choice'>
						<div class='write-input-server'>매도금</div>
						<input disabled type='text' name='add12' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-choice'>
						<div class='write-input-server'>변동수량</div>
						<input disabled type='text' name='add5' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>레버비중</div>
						<input disabled type='text' name='add16' class="i-number" style="width:90px;" value="">
					</div>
					<br>
					<div class='i-input-div-2'>
						<div class='write-input-server'>종가</div>
						<input disabled type='text' name='add14' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>종가변동</div>
						<input disabled type='text' name='add20' class="i-number" style="width:90px;text-align:right" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>보유수량</div>
						<input disabled type='text' name='add9' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>현수익률</div>
						<input disabled type='text' name='add8' class="i-text" style="width:90px;text-align:right" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>평균단가</div>
						<input disabled type='text' name='add7' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>현재가치</div>
						<input disabled type='text' name='add15' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>현매수금</div>
						<input disabled type='text' name='add6' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>현재손익</div>
						<input disabled type='text' name='add18' class="i-number" style="width:90px;" value="">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="font-size:2px;line-height:8px;">&nbsp;</td>
			</tr>
			<tr>
				<td style="width:30px">&nbsp;</td>
				<td class='write-td-left'>투자전략</td>
				<td class="write-td-right">
					<div class='i-input-div-2'>
						<div class='write-input-server'>현재시즌</div>
						<input disabled type='text' name='sub1' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'><span id='cn1'>일매수금</span></div>
						<input disabled type='text' name='sub4' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>매수수량</div>
						<input disabled type='text' name='sub2' class="i-number" style="width:90px;color:lightpink;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>매도수량</div>
						<input disabled type='text' name='sub3' class="i-number" style="width:90px;color:cyan;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>경과일수</div>
						<input disabled type='text' name='sub12' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'><span id='cn2'>기초수량</span></div>
						<input disabled type='text' name='sub18' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>매수가격&nbsp;&nbsp;</div>
						<input disabled type='text' name='sub19' class="i-number" style="width:90px;text-align:right;color:lightpink;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>매도가격&nbsp;&nbsp;</div>
						<input disabled type='text' name='sub20' class="i-number" style="width:90px;text-align:right;color:cyan;" value="">
					</div>
					<br><br>		
					<div class='i-input-div-2'>
						<div class='write-input-server'>진행상황</div>
						<input disabled type='text' name='sub29' class="i-text" style="width:90px;text-align:right" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>종가추이</div>
						<input disabled type='text' name='sub5' class="i-text" style="width:90px;text-align:right" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>초기금액</div>
						<input disabled type='text' name='sub6' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>초기일자</div>
						<input disabled type='text' name='sub32' class="i-text" style="width:90px;text-align:right" value="">
					</div>
					<br>
					<div class='i-input-div-2'>
						<div class='write-input-server'>가치합계</div>
						<input disabled type='text' name='add17' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>수수료등</div>
						<input disabled type='text' name='sub30' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>누적수익</div>
						<input disabled type='text' name='sub31' class="i-number" style="width:90px;" value="">
					</div>
					<div class='i-input-div-2'>
						<div class='write-input-server'>특이사항</div>
						<input disabled type='text' name='sub11' class="i-text" style="width:90px;text-align:right;" value="">
					</div>
				</td>
			</tr>
		</tbody>
		</table>
		</div>
</div>

<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>
<script>

{% if D['TR'] %}

$(".i-date_1").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, onSelect:function(){slice_chart(1)}});
$(".i-date_2").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, onSelect:function(){slice_chart(1)}});

$(".ohlc-price").click(function(){
	if ($id("OHLC_DAY")) {h_dialog.close("OHLC_DAY"); return;}
	var code = $("input[name='종목코드']").val()
	var date = '20'+$(this).prev().text();
	var url = uri('linkurl') + 'pages-pajax/get_ohlc/date=' + date + '/code=' + code;
	var ypos= mouse_Y
	if(ypos > 800) ypos = ypos-280
	var o = {id:'OHLC_DAY', width:'430px', x:240, y:ypos,header:false,footer:false,drag:false}
	h_dialog.load(url,o)		
});

let labels_monthly = {{D['월별구분']|safe}};
// 챠트 객체 생성
const ctx_season = $id('mybackTestChart');
ctx_season.style.backgroundColor = '#33363b';
ctx_season.style.border = '2px solid black';

const labels_season = Array.from(new Array(10),(x,i)=> i+1);
const data_season = {
	labels : labels_season,
	datasets : [
		{
			label:'당일종가',
			data : [2,5,6,3,8],
			borderColor:'#58ACFA', borderWidth:2,borderDash: [2,2],pointRadius:0, pointHoverRadius:0, backgroundColor:'#58ACFA',
			lineTension:0.2
		},
		{
			label:'V 평균',
			data : [3,6,7,8,5],
			borderColor:'rgb(143,134,129,0.6)',borderWidth:3,pointRadius:0,lineTension:0.2,
			lineTension:0.2

		},
		{
			label:'R 평균',
			data : [3,6,7,8,5],
			pointStyle:'circle', borderWidth:4,pointRadius:1,pointHoverRadius:15,borderColor:'#f78181',backgroundColor:'#f78181',
			lineTension:0.2

		},
		{
			label:'S 평균',
			data : [3,6,7,8,5],
			pointStyle:'circle', borderWidth:4,pointRadius:1,pointHoverRadius:15,borderColor:'yellow',backgroundColor:'yellow',
			lineTension:0.2

		},
		{
			label:'T 평균',
			data : [3,6,7,8,5],
			pointStyle:'rect', borderWidth:4,pointRadius:3,pointHoverRadius:15,borderColor:'lightgreen',backgroundColor:'lightgreen',
			lineTension:0.2

		},
		{
			label:'추세+10',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'gray',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세+0',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'gray',borderDash: [2,4],backgroundColor:'gray',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세-10',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'gray',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세-20',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'gray',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세-30',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'gray',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세-40',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'#58ACFA',borderDash: [2,4],backgroundColor:'#58ACFA',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		},
		{
			label:'추세-50',
			data : [4,7,5,3,4],
			borderWidth:1,borderColor:'#f78181',borderDash: [2,4],backgroundColor:'#f78181',pointRadius:0,pointHoverRadius:0,
			lineTension:0.2

		}
	]   
};
const options_season = {
	animation : {duration:0},
	plugins : { legend: {display:false} },
	responsive:false,
	layout:{padding:20},
	scales:{
		x:{ ticks : {color:'lightgray'}, grid:{color:'#272727'}},
		y:{ ticks : {color:'lightgray'}, grid:{color:'#272727'}}
	}
};
const config_season  = {type:'line',data:data_season,options:options_season};
const myChart_season = new Chart(ctx_season, config_season);
// --------------------------------------------------------------------------------------
const ctx_side= $id('myChart_side');
const labels_side = [' ',' ',' ',' '];

const data_side = {
  labels: labels_side,
  datasets: [{
    label: ' 수익률비교 ',
    data: [ {{D['v_profit']}}, {{D['r_profit']}}, {{D['s_profit']}}, {{D['n_profit']}}],
	barThickness:40,
    backgroundColor: ['#8F8681','#A67F78','#AEB404','rgba(206,246,206,0.5)','#8F8681','#69491A','#003E19'],
    borderColor: ['#000000','#000000','#000000','#000000','#000000','#000000','#000000'],
    borderWidth: 1
  }]
};

const config_side = {
  type: 'bar',
  data: data_side,
  plugins:[ChartDataLabels],
  options: {
	animation : {duration:500},
    plugins : { legend: {display:false},
				tooltip : {enabled:false},
				datalabels : {color:'white', anchor:'start', align:'end', offset: -18, font:{size:12}}			
	}
  },
};
const myChart_side = new Chart(ctx_side, config_side); 

// --------------------------------------------------------------------------------------
var selected_tr = null
$(document).ready(function(){ 
	$('#backTestingChart').bind('dblclick',function(){$(this).hide();}).draggable().hide();
	$("#daily-log").bind('dblclick',function(){$(this).hide();}).draggable();
});	

function check_thisForm() {
    if(! $("input[name='종목코드']").val() ) { h_dialog.notice("코드 입력은 필수입니다"); return false; }
    if(! $("input[name='시작일자']").val() ) { h_dialog.notice("시작 일자가 입력되지않았습니다"); return false; }  
    if(! $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자가 입력되지않았습니다"); return false; }  
    if($("input[name='시작일자']").val() > $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자는 시작일보다 나중이어야 합니다"); return false; }
}

function show_chart(season,sel,profit=null,rate=null) {
	
	$('#backTestingChart').css({top:'110px',left:'32px'}).show(); 
	var clsp = [];
	var avgv = [];
	var avgr = [];
	var avgs = [];
	var avgt = [];
	var dl10 = []; var dl20 = []; var dl30 = []; var dl40 = []; var dl50 = []; var du00 = []; var du10 = []; var dlnl = [null]*30;
	var amin = 1000.0;
	var amax = 0;

	$(".clsp"+season).each(function() {tmpv = parseFloat($(this).text()); if(tmpv < amin ) amin = tmpv; if(tmpv > amax) amax = tmpv; clsp.push(tmpv)}); 
	$(".avgv"+season).each(function() {tmpv = parseFloat($(this).text());tmpv = (tmpv)? avgv.push(tmpv) : avgv.push(null); });
	$(".avgr"+season).each(function() {tmpv = parseFloat($(this).text());tmpv = (tmpv)? avgr.push(tmpv) : avgr.push(null); });
	$(".avgs"+season).each(function() {tmpv = parseFloat($(this).text());tmpv = (tmpv)? avgs.push(tmpv) : avgs.push(null); });
	$(".avgt"+season).each(function() {tmpv = parseFloat($(this).text());tmpv = (tmpv)? avgt.push(tmpv) : avgt.push(null); });
	
	const a0 = clsp[0];

	// for(let x=0; x < 16; x++) { dlne.push(a0*(1-x*t0));} // clsp.length -> 16 (dn to 30%)
	for(let x=0; x < 10; x++) { du10.push(a0*1.1);}
	for(let x=0; x < 30; x++) { du00.push(a0);}
	for(let x=0; x < 10; x++) { dl10.push(a0*0.9);}
	for(let x=0; x < 20; x++) { dl20.push(a0*0.8);}
	for(let x=0; x < 30; x++) { dl30.push(a0*0.7);}
	for(let x=0; x < 30; x++) { dl40.push(a0*0.6);}
	for(let x=0; x < 30; x++) { dl50.push(a0*0.5);}

	var xticks = clsp.length
	if (xticks < 30 ) { xticks = 30; }
	var new_labels = Array.from(new Array(xticks),(x,i)=> i+1);

	myChart_season.data.labels = new_labels;
	myChart_season.data.datasets[0].data =  clsp;
	myChart_season.data.datasets[1].data =  avgv;
	myChart_season.data.datasets[2].data =  avgr;
	myChart_season.data.datasets[3].data =  avgs;
	myChart_season.data.datasets[4].data =  avgt;
	myChart_season.data.datasets[5].data = (amax>a0*1.0)? du10 : dlnl;
	myChart_season.data.datasets[6].data =  du00;
	myChart_season.data.datasets[7].data =  dl10;
	myChart_season.data.datasets[8].data = (amin<a0*0.8)? dl20 : dlnl;
	myChart_season.data.datasets[9].data = (amin<a0*0.7)? dl30 : dlnl;
	myChart_season.data.datasets[10].data =(amin<a0*0.6)? dl40 : dlnl;
	myChart_season.data.datasets[11].data= (amin<a0*0.5)? dl50 : dlnl;
	
	myChart_season.update();

	if(typeof sel =='object') {
		var p_date    = $(sel).children("td:eq(1)").text();
		var s_profits = $("#statistics-profits table tr td:contains('"+p_date+"')")
		var p_profit  = s_profits.next().next().text();
		var p_rate    = s_profits.next().next().next().text();
		p_date = '20'+p_date;
	} else {
		var p_date    = sel;
		var p_profit  = profit;
		var p_rate    = rate;

		pickTr = $(".begin-date:contains('"+p_date.slice(2)+"')"); 
		offSet = $(pickTr).offset();
		offTop = (offSet)? offSet.top : 0;
		$(document).scrollTop(offTop-800);
	
	}
	$("#backTestingChart-notice").html(p_date+" : $<b> "+p_profit+"</b> ( "+p_rate+"% )");
	
}

// 본챠트 그리기
const ctx_main = $id('myChart_main');
ctx_main.style.backgroundColor = '#33363b';
ctx_main.style.border = '2px solid black';

let closeP_ori   = {{D['clse_p']|safe}};

let avge_r_ori   = {{D['avge_r']|safe}};
let avge_s_ori   = {{D['avge_s']|safe}};
let avge_n_ori   = {{D['avge_n']|safe}};
let totalV_ori   = {{D['totalV']|safe}};
let labels_main_ori = {{D['c_date']|safe}};

let closeP   = closeP_ori.slice(0);

let avge_r   = avge_r_ori.slice(0);
let avge_s   = avge_s_ori.slice(0);
let avge_n   = avge_n_ori.slice(0);

let totalV   = totalV_ori.slice(0);
let labels_main = labels_main_ori.slice(0);

let data_count = labels_main.length

if(data_count > 100) {
	avge_r.fill(null) 
	avge_s.fill(null)
	avge_n.fill(null) 
}

if(data_count <= 100) {

	totalV.fill(null)
}

const data_main = {
    labels : labels_main,
    datasets : [
		{
            label:' 종가변동',
            data : closeP,
			borderColor:'#58ACFA', borderWidth:2, pointRadius:0, borderDash:[2,2],
  			lineTension:0.2
    	},
		{
            label:' 평균단가R',
            data : avge_r,
			borderColor:'#f78181', borderWidth:2, pointRadius:1,pointHoverRadius:24, backgroundColor:'#f78181',
			lineTension:0.2
        },
		{
            label:' 평균단가S',
            data : avge_s,
			borderColor:'yellow', borderWidth:2, pointRadius:1,pointHoverRadius:24, backgroundColor:'yellow',
			lineTension:0.2
        },
		{
            label:' 평균단가N',
            data : avge_n,
			borderColor:'lightgreen', borderWidth:3, pointRadius:1,pointHoverRadius:24, backgroundColor:'lightgreen',
			lineTension:0.2
        },
		{
            label:' 평가밸류R',
            data : totalV,
			borderColor:'#F5A9A9', borderWidth:2,pointRadius:0,
			lineTension:0.2,
			yAxisID : 'y1'
        },
    ]   
};
const options_main = {
	animation : { duration:300},
	// animation,
	plugins : { legend: {display:false}, tooltip:{enabled:false}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'gray'}, grid:{color:'#272727'}},
        y: { ticks : {color:'gray'}, grid:{color:'#272727'},position:'left'},
		y1:{ type:'linear', display:true, position:'right'}
    }
};
const config_main  = {type:'line',data:data_main,options:options_main};
const myChart_main = new Chart(ctx_main, config_main);


function chart_up_dn(opt) {
	if(opt==1) { 
		$("#myChart_main-div").hide(); 
		$("#result-memo").hide(); 
		$("#monthlyProfit").hide();
		$('#statistics-profits').hide();
		$('#Next-Strategy').hide();
		$('#backTestingChart').hide();
		$("#backTesting-table").css("marginTop",'100px'); 
	}
	else {
		$("#myChart_main-div").show(); 
		$("#result-memo").show(); 
		$("#monthlyProfit").show();
		$("#backTesting-table").css("marginTop",'470px');
	}
}

function slice_chart(opt) {

	var s_date,e_date,new_s,new_e
	if(opt==1) { 
		s_date = $("input[name='s_date']").val().slice(2); 
		e_date = $("input[name='e_date']").val().slice(2); 
		for(d=0; d<labels_main_ori.length; d++)     { if(labels_main_ori[d] >= s_date) { new_s = d;   $("input[name='s_date']").val('20'+labels_main_ori[d]);break;}} 
		for(d=labels_main_ori.length-1; d >=0; d--) { if(labels_main_ori[d] <= e_date) { new_e = d+1; $("input[name='e_date']").val('20'+labels_main_ori[d]);break;}} 
	} else {
		s_date = "{{D['s_date']}}".slice(2)
		e_date = "{{D['e_date']}}".slice(2)
		$("input[name='s_date']").val("20{{D['s_date']}}"); 
		$("input[name='e_date']").val("20{{D['e_date']}}");
		new_s =0; new_e = labels_main_ori.length
	}
	end_date = $("input[name='e_date']").val().slice(2);

	myChart_main.config.data.labels = labels_main_ori.slice(new_s,new_e);
	data_count = myChart_main.config.data.labels.length

	myChart_main.config.data.datasets[0].data =  closeP_ori.slice(new_s,new_e);
	myChart_main.config.data.datasets[1].data =  avge_r_ori.slice(new_s,new_e);
	myChart_main.config.data.datasets[2].data =  avge_s_ori.slice(new_s,new_e);
	myChart_main.config.data.datasets[3].data =  avge_n_ori.slice(new_s,new_e);
	myChart_main.config.data.datasets[4].data =  totalV_ori.slice(new_s,new_e);


	if(data_count > 100)  {	
		myChart_main.config.data.datasets[1].data.fill(null); 	
		myChart_main.config.data.datasets[2].data.fill(null); 
		myChart_main.config.data.datasets[3].data.fill(null); 
	}
	if(data_count <= 100) { 
		myChart_main.config.data.datasets[4].data.fill(null); 	
	}

	myChart_main.update();
}

// MonthlyProfitChart Begin
{% if D['월별이익'][0]|safe %}

	const ctx_monthly= $id('monthlyProfitChart');

	ctx_monthly.style.backgroundColor = '#33363b';
	ctx_monthly.style.border = '2px solid black';

	let monthlyProfits = {{D['월별이익']|safe}};
	let backColor = new Array(labels_monthly.length-1);
	let boreColor = new Array(labels_monthly.length-1);
	backColor.fill('rgba(75, 192, 192, 0.4)');
	backColor.push('#8F8681');
	// backColor.push('rgba(255, 205, 86, 0.4)');
	boreColor.fill('rgb(75, 192, 192)');
	boreColor.push('#000000');
	// boreColor.push('rgb(255, 205, 86)');

	const data_monthly = {
	labels: labels_monthly,
	datasets: [{
		label: ' 월별수익금 ',
		data: monthlyProfits,
		backgroundColor: backColor,
		borderColor: boreColor,
		borderWidth: 1
	}]
	};

	const config_monthly = {
	type: 'bar',
	data: data_monthly,
	plugins:[ChartDataLabels],
	options: {
		animation : {duration:500},
		layout:{padding:10},
		plugins : { legend: {display:false},
					title:{display:true,color:'#F7F8E0',align:'end',font:{size:14,style:'italic',weight:'normal'},text:"{{D['손익합계']}}"},
					tooltip : {enabled:false},
					datalabels : {color:'white', anchor:'end', align:'end', offset: 3, font:{size:12}}			
		},
		scales: {
		x: { ticks : {color:'white'}, grid:{color:'#272727'}},
		y: {
			grid : {
				lineWidth:2,
				color: function(context) {
					if(context.tick.value == 0 ) { return '#071418'} else { return '' }
				}
			},
			beginAtZero: true
		}
		}
	},
	};
	const myChart_monthly = new Chart(ctx_monthly, config_monthly); 

	// MonthlyProfitChart End


	$(".begin-date").click(function(e){
		e.preventDefault();
		pick_date = '20'+ $(this).text();
		show_spanChart(pick_date)
	});

	$(".begin-date").contextmenu(function(e){
		e.preventDefault();
		pick_date = '20'+ $(this).text();
		show_spanChart(pick_date,2)
	});

	$(".positioning_date").click(function(){
		pick_date = $(this).text()
		pickTr = $(".begin-date:contains('"+pick_date+"')") 
			offSet = $(pickTr).offset()
			offTop = (offSet)? offSet.top : 0
			$(document).scrollTop(offTop-800);	
	});

	function show_spanChart(pick_date,opt=0) {

		if(opt==1) {
			pickTr = $(".begin-date:contains('"+pick_date.slice(2)+"')") 
			offSet = $(pickTr).offset()
			offTop = (offSet)? offSet.top : 0
			$(document).scrollTop(offTop-800);
			//curTd  = $(".pointing_sd1:contains('"+pick_date.slice(2)+"')")
		}
		if(opt==2) {
			s_date = new Date(pick_date)
			s_date = s_date.format("yyyy-MM-dd")
		} else {
			p_date = new Date(pick_date)
			s_date = new Date(p_date.setDate(p_date.getDate()-100))
			s_date = s_date.format("yyyy-MM-dd") 
			$("input[name=e_date]").val(pick_date);
		}

		$("input[name=s_date]").val(s_date);
		$("#monthlyProfit").hide();
		$('#backTestingChart').hide();
		slice_chart(1)
	}

	if(labels_monthly.length < 10 ) {$("#monthlyProfit").hide();}
{% endif %}
{% endif %}


function year_up_dn(opt) {
	let date1 = $("input[name='시작일자']").val()
	let date2 = $("input[name='종료일자']").val()
	year1 = date1.slice(0,4); year1_l = date1.slice(4);
	year2 = date2.slice(0,4); year2_l = date2.slice(4);
	if(opt) {year1 = parseInt(year1)+1; year2 = parseInt(year2)+1; }
	else    {year1 = parseInt(year1)-1; year2 = parseInt(year2)-1; }

	date1 = year1 + year1_l; $("input[name='시작일자']").val(date1)
	date2 = year2 + year2_l; $("input[name='종료일자']").val(date2)
}

function YearSpan(opt) {
	let date1 = $("input[name='종료일자']").val()
	let now = new Date(date1)

	let YearsAgo = new Date(now.setDate(now.getDate() - (365*opt-1))) 
	let date2 = YearsAgo.toISOString().split('T')[0]
	$("input[name='시작일자']").val(date2)
}

function startYearSpan() {
	let date1 = $("input[name='종료일자']").val()
	let date2 = date1.slice(0,4)+'-01-01'
	$("input[name='시작일자']").val(date2)
}

function synchro(opt) {

	let posturl = uri('linkurl') + 'pages-rsn_ajax/synchro';
	$.post(posturl, { opt : opt },null,'json').done(function(data){
			h_dialog.notice("동기화 데이타가 입력되었습니다.")
			$("input[name='시작일자']").val(data.sdate);
			$("input[name='종료일자']").val(data.ldate);
			$("input[name='기회자금']").val(data.R_mon);
			$("input[name='안정자금']").val(data.S_mon);
			$("input[name='생활자금']").val(data.N_mon);
			if(data.mode_=="전략진행") {$("input[name='chk_chx']").prop('checked',true);}
			else {$("input[name='chk_chx']").prop('checked',false);}
			if(opt=='real'||opt=='test') {$("form[name='rsn_dashboard']").submit();}
	});
}


let pdat = {}

function get_pdat(){

	pdat['기회자금'] = $("input[name='기회자금']").val();
	pdat['안정자금'] = $("input[name='안정자금']").val();
	pdat['생활자금'] = $("input[name='생활자금']").val();
	pdat['시작일자'] = $("input[name='시작일자']").val();
	pdat['기회시점'] = $("input[name='기회시점']").val();
	pdat['기회회복'] = $("input[name='기회회복']").val();
	pdat['안정시점'] = $("input[name='안정시점']").val();
	pdat['안정회복'] = $("input[name='안정회복']").val();

	pdat['수료적용'] = $("input[name='chk_fee']").is(':checked');
	pdat['세금적용'] = $("input[name='chk_tax']").is(':checked');
	pdat['일밸런싱'] = $("input[name='chk_brs']").is(':checked');
	pdat['이밸런싱'] = $("input[name='chk_rs_']").is(':checked');
	pdat['가상손실'] = $("input[name='chk_chx']").is(':checked');
}

function write_log() {

	pdat['종료일자'] = $("input[name='종료일자']").val();
	let posturl = uri('linkurl')+ 'pages-rsn_ajax/log_invest'
	$.post(posturl, pdat, null, 'json' ).done(function(data){
		for(key in data) {$("input[name='"+key+"']").val(data[key]);} 
		$("form[name='rsn_dashboard']").submit();
	});
}


$(".log-v").click(function(){ 
	get_pdat();	
	pdat['적용전략'] = 'V';
	pdat['종료일자'] = '20'+$(this).data('v');
	let html = "RSN-V<br>"+pdat['종료일자']; $("#daily-log-left").html(html); $("#daily-log-left").css("color","gray");
	$("#cn1").text('일매수금');
	$("#cn2").text("기초수량");
	let posturl = uri('linkurl')+ 'pages-rsn_ajax/log_rsn'

	$.post(posturl, pdat, null, 'json' ).done(function(data){for(key in data) {$("input[name='"+key+"']").val(data[key]);$(".i-number").comma('init');} });
	$("#daily-log").show(); 
	
});
$(".log-r").click(function(){ 
	get_pdat();	
	pdat['적용전략'] = 'R';
	pdat['종료일자'] = '20'+$(this).data('r');
	let html = "RSN-R<br>"+pdat['종료일자']; $("#daily-log-left").html(html); $("#daily-log-left").css("color","#F6CECE");
	$("#cn1").text('일매수금');
	$("#cn2").text("기초수량");
	let posturl = uri('linkurl')+ 'pages-rsn_ajax/log_rsn'

	$.post(posturl, pdat, null, 'json' ).done(function(data){for(key in data) {$("input[name='"+key+"']").val(data[key]);$(".i-number").comma('init');} });
	$("#daily-log").show(); 
});
$(".log-s").click(function(){ 
	get_pdat();	
	pdat['적용전략'] = 'S';
	pdat['종료일자'] = '20'+$(this).data('s');
	let html = "RSN-S<br>"+pdat['종료일자']; $("#daily-log-left").html(html); $("#daily-log-left").css("color","#F2F5A9");
	$("#cn1").text('일매수금');
	$("#cn2").text("기초수량");
	let posturl = uri('linkurl')+ 'pages-rsn_ajax/log_rsn'

	$.post(posturl, pdat, null, 'json' ).done(function(data){for(key in data) {$("input[name='"+key+"']").val(data[key]);$(".i-number").comma('init');} });
	$("#daily-log").show(); 
 });
$(".log-n").click(function(){ 
	get_pdat(); 
	pdat['적용전략'] = 'N';
	pdat['종료일자'] = '20'+$(this).data('n');
	let html = "RSN-N<br>"+pdat['종료일자']; $("#daily-log-left").html(html); $("#daily-log-left").css("color","#CEF6CE");
	$("#cn1").text('매수차수');
	$("#cn2").text("배분금액");
	let posturl = uri('linkurl')+ 'pages-rsn_ajax/log_rsn'

	$.post(posturl, pdat, null, 'json' ).done(function(data){for(key in data) {$("input[name='"+key+"']").val(data[key]);$(".i-number").comma('init');} });
	$("#daily-log").show(); 
});
</script>
{% endblock %}
