{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div class="row-row">
	<div style="position:fixed;left:20px;top:30px;width:{{D['xwidth']}};background-color:#33363b;">
		<form method='post' name='stock_back_testing' action="{{D['_bse']}}page/rpd_viewStat/rst_stat" >
			<br>
			<input type='hidden' class="i-number" name="일반자금" value="{{D['일반자금']}}">
			<div class="well clearfix" style="border-radius:0px;">
    			<div class="pull-left">
    				<div class='select' style='margin-right:10px;vertical-align:bottom'>
        				<input placeholder='종목코드' name='종목코드' type='text' value="{{D['종목코드']}}">
            			<div class='btn-group'>
                			<button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    		<ul class='dropdown-menu'>
                        		<li><a>종목코드</a></li>
                        		<li><a href='#'>SOXL</a></li>
                    		</ul>
            			</div>
    				</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px;font-weight:bold;">R</div>
						<input type='text' class="i-number" name="기회자금" style="width:80px;text-align:center;" value="{{D['기회자금']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px;font-weight:bold;">S</div>
						<input type='text' class="i-number" name="안정자금" style="width:80px;text-align:center;" value="{{D['안정자금']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px;font-weight:bold;">T</div>
						<input type='text' class="i-number" name='생활자금' style="width:80px;text-align:center;" value="{{D['생활자금']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px">RP</div>
						<input type='text' class="i-number" name="기회시점" style="width:50px;text-align:center;" value="{{D['기회시점']}}">
						<input type='text' class="i-number" name="기회회복" style="width:50px;text-align:center;background-color:black;" value="{{D['기회회복']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px">SP</div>
						<input type='text' class="i-number" name="안정시점" style="width:50px;text-align:center;" value="{{D['안정시점']}}">
						<input type='text' class="i-number" name="안정회복" style="width:50px;text-align:center;background-color:black;" value="{{D['안정회복']}}">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:40px">TP</div>
						<input type='text' class="i-number" name="생활시점" style="width:50px;text-align:center;" value="{{D['생활시점']}}">
						<input type='text' class="i-number" name="생활회복" style="width:50px;text-align:center;background-color:black;" value="{{D['생활회복']}}">
					</div>
					<div style="display:inline-block;">
						<i class="fa fa-superpowers fa-lg" style="color:#F6CECE;cursor:pointer;" onclick="synchro(0,'start')" title="동기화(처음부터)"></i>
					</div>
					<div style="display:inline-block;">
						<i class="fa fa-superpowers fa-lg" style="color:gray;cursor:pointer;" onclick="synchro(1,'pick')" title="동기화(back)"></i>
					</div>
					<div style="display:inline-block;">
						<i class="fa fa-superpowers fa-lg" style="color:cadetblue;cursor:pointer;" onclick="synchro(2,'pick')" title="동기화(최근시즌)"></i>
					</div>
    			</div> <!--pull left-->

    			<div class="pull-right">
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(5)">5y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(3)">3y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(2)">2y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(1)">1y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="startYearSpan()">S</div>&nbsp;
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(0)"> 시작</div>
						<input type='text' name='통계시작' class="i-date" value="{{D['통계시작']}}" style="width:110px;text-align:center;">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="background-color:#333F4F;text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(1)"> 종료</div>
						<input type='text' name='종료일자' class="i-date" value="{{D['종료일자']}}" style="width:110px;text-align:center;">
					</div>
    				<button class="btn btn-red-s3" style="vertical-align:middle;user-select:none;">테스팅</button>
    			</div> <!--pull right-->


		</div> 

		<div class="clearfix" style="height:50px;background-color:#24272d;padding:5px;border:2px solid black;">
			<div class="pull-left" style="padding:10px 5px;margin-right:0px;height:42px;">
				Options : 
				<input role="switch" type="checkbox" name="chk_fee" {{ 'checked' if D['수료적용'] =='on' else '' }}>&nbsp;<span>fee</span>&nbsp;&nbsp;
				<input role="switch" type="checkbox" name="chk_tax" {{ 'checked' if D['세금적용'] =='on' else '' }}>&nbsp;<span>Tax</span>&nbsp;&nbsp; 
				<input role="switch" type="checkbox" name="chk_brs" {{ 'checked' if D['일밸런싱'] =='on' else '' }}>&nbsp;<span>RST=</span>&nbsp;&nbsp; 
				<input role="switch" type="checkbox" name="chk_rs_" {{ 'checked' if D['이밸런싱'] =='on' else '' }}>&nbsp;<span>RS>T</span>&nbsp;&nbsp; 
			</div>
			<div class="pull-right" style="padding:10px 5px;margin-right:0px;height:42px;">
				<i class="fa fa-line-chart" onclick="show_timeSeries_chart()"></i>
			</div>
		</div>
	</form>

		<div>
			<table class='table table-striped table-hover' style="border:2px solid black;">
				<tr style="background-color:#393f4a;border-bottom:1px solid black;">
					<th style='text-align:center;width:60px;'>No</th>
					<th style='text-align:center;width:90px;'>Start</th>
					<th style='text-align:right;width:60px;'>Days</th>
					
					<th style='text-align:right;width:100px;'>Profit</th>
					<th style='text-align:right;width:70px;'>PR</th>
					
					<th style='text-align:center;width:100px'>LD</th>
					<th style='text-align:center;width:140px'>LP</th>
					<th style='text-align:center;width:140px'>MDD(R)</th>
					<th style='text-align:center;width:140px'>MDD(S)</th>
					<th style='text-align:center;width:140px'>MDD(T)</th>
					
					<th style='text-align:right;width:100px'>Games</th>
					<th style='text-align:right;width:70px'>WR</th>
					<th style='text-align:center;width:80px;'>WAvg</th>
					<th style='text-align:right;width:80px'>LAvg</th>
					<th style='text-align:right;width:120px'>R counts</th>
					<th style='text-align:right;width:100px'>S counts</th>
					<th style='text-align:right;'>T counts</th>

				</tr>
			</table>
		</div>
	</div> <!--postion:fixed-->
</div> <!--rowrow clearfix-->

{% if D['SR'] %}
<div id="backTesting-table" class="row-row clearfix" style="width:{{D['xwidth']}};margin-top:110px">
	
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col style="width:60px"> <!-- No -->
			<col style="width:90px"> <!-- 시작일 -->
			<col style="width:60px;border-right:1px solid gray"> <!-- 경과 -->

			<col style="width:100px"> <!-- 수익 -->
			<col style="width:70px"> <!-- 수익률 -->
			
			<col style="width:100px"> <!-- 최장일 -->
			<col style="width:140px;border-right:1px solid gray"> <!-- LP -->
			<col style="width:140px"> <!-- MDD(R) -->
			<col style="width:140px"> <!-- MDD(S) -->
			<col style="width:140px;border-right:1px solid gray"> <!-- MDD(T) -->
			
			<col style="width:100px"><!-- 게임횟수 -->
			<col style="width:70px"><!-- 게임승률 -->
			<col style="width:80px"><!-- 평균익률 -->
			<col style="width:80px;border-right:1px solid gray"><!-- 평균손률 -->
			
			<col style="width:120px"><!-- R counts -->
			<col style="width:100px"><!-- S counts -->
			<col><!-- T counts -->
		</colgroup>


			{% for S in D['SR'] %}
			{% if S['시작일자'] == D['MaxDD'] %}
			<tr style="border-top:1px solid #F8E6E0;border-bottom:1px solid #F8E6E0;background-color:black;">
			{% else %}
			<tr>
			{% endif %}
				<td style='text-align:center'>{{loop.index}}</td>
				<td>{{S['시작일자']}}</td>
				<td style="text-align:right">{{S['경과일자']}}</td>

				<td style="text-align:right">{{S['최종수익']}}</td>
				<td style="text-align:right;color:#CEF6CE">{{S['종수익률']}}</td>
				<td style="text-align:right">{{S['최장기록']|safe}}</td>
				
				<td style="text-align:right">{{S['저점기록']|safe}}</td>
				<td style="text-align:right">{{S['기회최락']|safe}}</td>
				<td style="text-align:right">{{S['안정최락']|safe}}</td>
				<td style="text-align:right">{{S['생활최락']|safe}}</td>

				<td style="text-align:right">{{S['게임횟수']|safe}}</td>
				<td style="text-align:right">{{S['게임승률']}}</td>
				<td style="text-align:right">{{S['게임익평']}}</td>
				<td style="text-align:right">{{S['게임손평']}}</td>
				
				<td style="text-align:right">{{S['기회갯수']}}</td>
				<td style="text-align:right">{{S['안정갯수']}}</td>
				<td style="text-align:right">{{S['생활갯수']}}</td>
			</tr>
			{%- endfor %}

	</table>
</div>

<div id='backTestingChart' style="display:none;position:fixed;left:20px;top:150px;width:1700px;background-color:#24272d;padding:10px;border:2px solid black;">
	<canvas id="mybackTestChart" style="width:1680px;height:380px;background-color:#24272d"></canvas>
</div>
{% endif %}

<script src="/sys/chart/chart.min.js"></script>
<script>
$(document).ready(function(){ 
	$('#backTestingChart').bind('dblclick',function(){$(this).hide();}).draggable();
	$(".i-date_1").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, onSelect:function(){slice_chart(1)}});
	$(".i-date_2").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, onSelect:function(){slice_chart(1)}});
});

// --------------------------------------------------------------------------------------
{% if D['chart_dte'] %}
let label_timeSeries = {{D['chart_dte']|safe}};
let timeSeries_data  = {{D['chart_val']|safe}};
const ctx_timeSeries = $id('mybackTestChart');
ctx_timeSeries.style.backgroundColor = '#33363b';
ctx_timeSeries.style.border = '2px solid black';
const data_timeSeries = {
	labels : label_timeSeries,
	datasets : [
		{
			label:'최종수익률',
			data : timeSeries_data,
			pointStyle:'circle', borderWidth:2,pointRadius:0,pointHoverRadius:0,borderColor:'#f78181',backgroundColor:'#f78181',
			lineTension:0.2

		}
	]   
};
const options_timeSeries = {
	animation : {duration:0},
	plugins : { legend: {display:false} },
	responsive:false,
	layout:{padding:20},
	scales:{
		x:{ ticks : {color:'gray'}, grid:{color:'#272727'}},
		y:{ ticks : {color:'gray'}, grid:{color:'#272727'}}
	}
};
const config_timeSeries  = {type:'line',data:data_timeSeries,options:options_timeSeries};
function show_timeSeries_chart() {
	$('#backTestingChart').toggle()
	const myChart_timeSeries = new Chart(ctx_timeSeries, config_timeSeries);
}
{% endif %}
// --------------------------------------------------------------------------------------
function check_thisForm() {
    if(! $("input[name='종목코드']").val() ) { h_dialog.notice("코드 입력은 필수입니다"); return false; }
    if(! $("input[name='통계시작']").val() ) { h_dialog.notice("시작 일자가 입력되지않았습니다"); return false; }  
    if(! $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자가 입력되지않았습니다"); return false; }  
    if($("input[name='통계시작']").val() > $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자는 시작일보다 나중이어야 합니다"); return false; }
}


function year_up_dn(opt) {
	let date1 = $("input[name='통계시작']").val()
	let date2 = $("input[name='종료일자']").val()
	year1 = date1.slice(0,4); year1_l = date1.slice(4);
	year2 = date2.slice(0,4); year2_l = date2.slice(4);
	if(opt) {year1 = parseInt(year1)+1; year2 = parseInt(year2)+1; }
	else    {year1 = parseInt(year1)-1; year2 = parseInt(year2)-1; }

	date1 = year1 + year1_l; $("input[name='통계시작']").val(date1)
	date2 = year2 + year2_l; $("input[name='종료일자']").val(date2)
}

function YearSpan(opt) {
	let date1 = $("input[name='종료일자']").val()
	let now = new Date(date1)

	let YearsAgo = new Date(now.setDate(now.getDate() - (365*opt-1))) 
	let date2 = YearsAgo.toISOString().split('T')[0]
	$("input[name='통계시작']").val(date2)
}

function startYearSpan() {
	let date1 = $("input[name='종료일자']").val()
	let date2 = date1.slice(0,4)+'-01-01'
	$("input[name='통계시작']").val(date2)
}

function synchro(opt,begin='pick') {
	let today =''
	if(opt==2 || opt==0) {
		today = new Date().format("yyyy-MM-dd");
		$("input[name='종료일자']").val(today);
	} else if(opt==1){	today = $("input[name='통계시작']").val();} 

	let posturl = uri('linkurl') + 'pages-pajax/rst_sync';
	$.post(posturl, { s_date : today, begin : begin },null,'json').done(function(data){
		if(data.date=='None'){h_dialog.notice(data.msg);}
		else {
			h_dialog.notice("동기화 데이타가 입력되었습니다.")
			$("input[name='통계시작']").val(data.date);
			$("input[name='일반자금']").val(data.V_money);
			$("input[name='기회자금']").val(data.R_money);
			$("input[name='안정자금']").val(data.S_money);
			$("input[name='생활자금']").val(data.T_money);
			if(opt==2||opt==0) {$("form[name=stock_back_testing]").submit();}
		}
	});
}

//
</script>
{% endblock %}
