{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div class="row-row">
	<div style="position:fixed;left:20px;top:30px;width:{{D['xwidth']}};background-color:#33363b;">
		<form method='post' name='n310_chart_dashboard' action="{{D['_bse']}}page/action/vrsn_strategy_test">
			<br>
			<div class="well clearfix" style="border-radius:0px;">
    			<div class="pull-left">
					<div style="display:inline-block;margin-left:10px;margin-right:10px;margin-top:2px;margin-bottom:0px;">
						<select name="전략선택" style="color:yellow;font-size:16px;font-weight:bold;letter-spacing:2px">
							<option value="">전략선택</option>
							<option value="vrsn_n01" {% if D['전략선택'] == 'vrsn_n01' %}selected{% endif %}>VRSN 01</option>
							<option value="vrsn_n02" {% if D['전략선택'] == 'vrsn_n02' %}selected{% endif %}>VRSN 02</option>
							<option value="vrsn_V" {% if D['전략선택'] == 'vrsn_V' %}selected{% endif %}>VRSN V</option>
							<option value="n315" {% if D['전략선택'] == 'n315' %}selected{% endif %}>N315</option>
							<option value="diy" {% if D['전략선택'] == 'diy' %}selected{% endif %}>DIY</option>
							<option value="rsn" {% if D['전략선택'] == 'rsn' %}selected{% endif %}>RSN</option>
						</select>
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(0)"> 시작</div>
						<input type='text' name='시작일자' class="i-date" value="{{D['시작일자']}}" style="width:110px;text-align:center;">
					</div>
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:50px;cursor:pointer;" onclick="year_up_dn(1)"> 종료</div>
						<input type='text' name='종료일자' class="i-date" value="{{D['종료일자']}}" style="width:110px;text-align:center;">
					</div>
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(5)">5y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(3)">3y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(2)">2y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="YearSpan(1)">1y</div>&nbsp;
					<div class='label label-info' style="cursor:pointer" onclick="startYearSpan()">S</div>&nbsp;

					<div style="display:inline-block;margin-right:4px;">
						<i class="fa fa-superpowers fa-lg" style="color:#F6CECE;cursor:pointer;" onclick="synchro('test')" title="테스트모드"></i>
					</div>
					<div style="display:inline-block;margin-right:10px;">
						<i class="fa fa-superpowers fa-lg" style="color:cadetblue;cursor:pointer;" onclick="synchro('real')" title="동기화모드"></i>
					</div>

    			</div> <!--pull left-->

    			<div class="pull-right">
					<div class='i-input-div'>
						<div class='write-input-left' style="text-align:center;width:100px;font-weight:bold;">투자금액</div>
						<input type='text' class="i-number" name="일반자금" style="width:120px;;text-align:center;" value="{{D['일반자금']}}">
					</div>

					<div style="display:inline-block;">
						<input role="switch" type="checkbox" name="chk_fee" {{ 'checked' if D['수료적용'] =='on' else '' }}>&nbsp;수수료 
					</div>
					<div style="display:inline-block;">
						<input role="switch" type="checkbox" name="chk_tax" {{ 'checked' if D['세금적용'] =='on' else '' }}>&nbsp;세금적용
					</div>
    				<button class="btn btn-red-s3" style="vertical-align:middle;user-select:none;">테스팅</button>
    			</div> <!--pull right-->
		</div> 
	</form>

	<!-- 메인 챠트 -->
		<div id="myChart_main-div" style="position:fixed;top:780px;left:1530px"><canvas id="myChart_main" style="width:1050px;height:525px;"></canvas></div>

		<div class="clearfix" style="border-radius:0px;padding:10px;">
			{% if D['최장일수'] %}
			<div class="pull-left" style="color:lightgray;">
				최장 : <b>{{D['최장일수']}}</b>일( <span class="positioning_date">{{D['최장일자'][2:]}}</span> ) &nbsp;
				익절 : {{D['익절횟수']}} &nbsp;
				손절 : {{D['손절횟수']}} &nbsp;
				MDD : <b>{{D['MDD1']}}%</b>( <span class="positioning_date">{{D['MDD_DAY1']}}</span> )&nbsp;
				LP : <b>{{D['손익저점']}}%</b>( <span class="positioning_date">{{D['저점날자'][2:]}}</span> )&nbsp;&nbsp;
			</div>
			<div class="pull-right" style="color:lightgray">
				총 <span style='font-weight:bold;color:white'>{{D['R_총경과일']}}</span>일 
				<span style='font-weight:bold;color:white'>{{D['R_초기자본']}}</span> ▶ <span style='font-weight:bold;color:white'>{{D['R_최종자본']}}</span>
				수익 <span style='font-weight:bold;color:#CEF6CE'>{{D['R_최종수익']}}</span>
				수익률 <span style='font-weight:bold;color:#F6CECE'>{{D['R_최종익률']}} % </span>
			</div>
			{% else %}
			<div style="font-style:italic;color:gray">&nbsp;</div>
			{% endif %}
		</div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
{% if D['전략선택'] in ('vrsn_n01','vrsn_n02','vrsn_V','n315','diy')  %}
		{% if D['TR'] %}
		<div>
			<table class='table table-striped table-hover' style="border:2px solid black;">
				<tr style="background-color:#0A2229;border-bottom:1px solid black;">
					<th style='text-align:center;width:80px'>일자</th>
					<th style='text-align:center;width:50px'>날수</th>
					<th style='text-align:right;width:70px'>종가</th>
					<th style='text-align:right;width:70px'>변동</th>
					<th style='text-align:right;width:80px'>매수량</th>
					<th style='text-align:right;width:80px;'>보유수량</th>
					<th style='text-align:right;width:100px'>평균단가</th>
					<th style='text-align:right;width:100px'>현수익률</th>
					<th style='text-align:right;width:120px;'>현재잔액</th>

					<th style='text-align:right;width:120px'>총매수금</th>
					<th style='text-align:right;width:120px'>평가금액</th>
					<th style='text-align:right;width:110px'>수익현황</th>
					<th style='text-align:center;width:50px'>시즌</th>
					<th style='text-align:right;width:120px'>매수금액</th>
					<th style='text-align:right;width:80px'>진행상황</th>
					<th style='text-align:right;'>가치합계</th>
				</tr>
			</table>
		</div>
		{% endif %}
	</div> <!--postion:fixed-->
</div> <!--rowrow clearfix-->

{% if D['TR'] %}
<div id="backTesting-table" class="row-row clearfix" style="width:{{D['xwidth']}};margin-top:100px">
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col style="width:80px;"> <!-- 일자 -->
			<col style="width:50px;"> <!-- 날수 -->
			<col style="width:70px;"> <!-- 당일종가 -->
			<col style="width:70px;border-right:3px solid #424242;"> <!-- 종가변동 -->
			<col style="width:80px;"> <!-- 매수량 -->
			<col style="width:80px;"> <!-- 보유수량 -->
			<col style="width:100px;border-right:3px solid #424242"> <!-- 평균단가 -->
			<col style="width:100px;border-right:3px solid #424242"> <!-- 현수익률 -->
			<col style="width:120px;border-right:3px solid #424242;"> <!--현재잔액 -->

			<col style="width:120px;"> <!-- 총매수금 -->
			<col style="width:120px;"> <!-- 평가금액 -->
			<col style="width:110px;"> <!-- 수익현황 -->
			<col style="width:50px;"> <!-- 시즌 -->
			<col style="width:120px;"> <!-- 매수금액 -->
			<col style="width:80px"> <!-- 진행상황 -->
			<col> <!-- 가치합계 -->
		</colgroup>


			{% for TR in D['TR'] %}
			{% if TR['진행상황'] == '익절매도'  %}
			<tr style="border-top:1px solid #424242;border-bottom:1px solid #424242;background-color:black;font-weight:bold" onclick="show_chart({{TR['기록시즌']}},this)"> 
			{% elif TR['진행상황'] == '손절매도' %}
			<tr style="border-top:1px solid #A9D0F5;border-bottom:1px solid #A9D0F5;background-color:black;" onclick="show_chart({{TR['기록시즌']}},this)">
			{% else %}
			<tr>
			{% endif %}
				<td class="begin-date" style="cursor:pointer;text-align:center">{{TR['기록일자']}}</td>
				<!-- <td style='text-align:center'>{{TR['현재날수']}}/{{TR['당일연속']}}</td> -->
				<td style='text-align:center'>{{TR['현재날수']}}</td>
				<td class='ohlc-price' style='text-align:right;font-weight:bold;cursor:pointer;'>{{TR['당일종가']|safe}}</td>
				<td style='text-align:right;font-weight:bold;'>{{TR['종가변동']|safe}}</td>
				<td style='text-align:right'>{{TR['매수수량']|safe}}</td>
				<td style='text-align:right;'>{{TR['보유수량']}}</td>
				<td style='text-align:right;color:#F6CECE;'>{{TR['평균단가']|safe}}</td>
				<td style='text-align:right;'>{{TR['현수익률']|safe}}</td>
				<td style='text-align:right;font-weight:bold;color:#CEF6CE'>{{TR['일반잔액']}}</td>

				<td style='text-align:right;color:#E6F8E0'>{{TR['총매수금']|safe}}</td>
				<td style='text-align:right'>{{TR['평가금액']|safe}}</td>
				<td style='text-align:right;'>{{TR['수익현황']|safe}}</td>	
				<td style='text-align:center'>{{TR['기록시즌']}}</td>
				<td style='text-align:right;'>{{TR['매수금액']|safe}}</td>
				<td style='text-align:right;color:gray;'>{{TR['진행상황']|safe}}</td>
				<td style='text-align:right;color:#CEF6CE'>{{TR['가치합계']|safe}}</td>
			</tr>
			{%- endfor %}

	</table>
</div>
{% endif %}
{% endif %}
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
{% if D['전략선택'] == 'rsn' %}
		{% if D['TR'] %}
		<div>
			<table class='table table-striped table-hover' style="border:2px solid black;">
				<tr style="background-color:#393f4a;border-bottom:1px solid black;font-style:italic;">
					<th style='text-align:center;width:50px'>No</th>
					<th style='text-align:center;width:80px'>Date</th>
					<th style='text-align:right;width:60px'>Price</th>
					<th style='text-align:right;width:60px'>Change</th>
					
					{% if D['일반상황']=='on' %}
					<th style='text-align:right;width:120px;color:grey'>V process</th>
					<th style='text-align:center;width:74px;color:gray'>V avg</th>
					<th style='text-align:right;width:70px;color:gray'>V rate</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#F6CECE'>R process</th>
					<th style='text-align:center;width:74px'>R avg</th>
					<th style='text-align:right;width:70px'>R rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;width:110px'>R balance&nbsp;&nbsp;</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#F2F5A9'>S process</th>
					<th style='text-align:center;width:74px'>S avg</th>
					<th style='text-align:right;width:100px'>S profit</th>
					<th style='text-align:right;width:70px'>S rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;width:110px'>S balance&nbsp;&nbsp;</th>
					{% endif %}

					<th style='text-align:right;width:120px;color:#CEF6CE'>N process</th>
					<th style='text-align:center;width:74px'>N avg</th>
					<th style='text-align:right;width:70px'>N rate</th>
					{% if D['일반상황']=='off' %}
					<th style='text-align:right;'>N balance</th>
					{% endif %}
				</tr>
			</table>
		</div>
		{% endif %}
	</div> <!--postion:fixed-->
</div> <!--rowrow clearfix-->

{% if D['TR'] %}
<div id="backTesting-table" class="row-row clearfix" style="width:{{D['xwidth']}};margin-top:100px;">
	
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col style="width:50px;"> <!-- 날수 -->
			<col style="width:80px;"> <!-- 일자 -->
			<col style="width:60px;"> <!-- 당일종가 -->
			<col style="width:60px;border-right:3px solid #424242"> <!-- 종가변동 -->
			
			{% if D['일반상황']=='on' %}
			<col style="width:120px"> <!-- 일반진행 -->
			<col style="width:74px"> <!-- 일반평균 -->
			<col style="width:70px;border-right:3px solid #424242"> <!-- 일반(%) -->
			{% endif %}

			<col style="width:120px"> <!-- 기회진행 -->
			<col style="width:74px"> <!-- 기회평균 -->
			<col style="width:70px"> <!-- 기회(%) -->
			{% if D['일반상황']=='off' %}
			<col style="width:110px;"> <!-- 기회잔액 -->
			{% endif %}

			<col style="width:120px;border-left:3px solid #424242"> <!-- 안정진행 -->
			<col style="width:74px"> <!-- 안정평균 -->
			<col style="width:100px"> <!-- 안정수익 -->
			<col style="width:70px"> <!-- 안정(%) -->
			{% if D['일반상황']=='off' %}
			<col style="width:110px;"> <!-- 안정잔액 -->
			{% endif %}
			<col style="width:120px;border-left:3px solid #424242"> <!-- 생활진행 -->
			<col style="width:74px"> <!-- 생활평균 -->
			<col style="width:70px"> <!-- 생활(%) -->
			{% if D['일반상황']=='off' %}
			<col> <!-- 생활잔액 -->
			{% endif %}
		</colgroup>


			{% for TR in D['TR'] %}
			{% if TR['진행상황']|striptags == '익절매도'  %}
			<tr style="border-top:1px solid #424242;border-bottom:1px solid #424242;background-color:black;font-weight:bold" onclick="show_chart({{TR['기록시즌']}},this)"> 
			{% elif TR['진행상황']|striptags == '손절매도' %}
			<tr style="border-top:1px solid #A9D0F5;border-bottom:1px solid #A9D0F5;background-color:black;" onclick="show_chart({{TR['기록시즌']}},this)">
			{% else %}
			<tr>
			{% endif %}
				<td style='text-align:center'>{{TR['현재날수']}}</td>
				<td class="begin-date" style="cursor:pointer;">{{TR['기록일자']}}</td>
				<td class='ohlc-price' style='text-align:right;font-weight:bold;cursor:pointer;'>{{TR['당일종가']|safe}}</td>
				<td style='text-align:right;font-weight:bold;'>{{TR['종가변동']|safe}}</td>
				{% if D['일반상황']=='on' %}
				<td style='text-align:right;color:#F6CECE'>{{TR['일반진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['일반평균']|safe}}</td>
				<td class="log-v" data-v="{{TR['기록일자']}}">{{TR['일반익률']|safe}}</td>
				{% endif %}

				<td style='text-align:right;color:#F6CECE'>{{TR['기회진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['기회평균']|safe}}</td>
				<td class="log-r" data-r="{{TR['기록일자']}}">{{TR['기회익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-r">{{TR['기회잔액']|safe}}</td>
				{% endif %}
				<td style='text-align:right;color:#F6CECE'>{{TR['안정진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['안정평균']|safe}}</td>
				<td style='text-align:right'>{{TR['안정수익']|safe}}</td>
				<td class="log-s" data-s="{{TR['기록일자']}}">{{TR['안정익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-s">{{TR['안정잔액']|safe}}</td>	
				{% endif %}
				<td style='text-align:right;color:#F6CECE'>{{TR['생활진행']|safe}}</td>
				<td style='text-align:right;color:#E6F8E0'>{{TR['생활평균']|safe}}</td>
				<td class="log-n" data-n="{{TR['기록일자']}}">{{TR['생활익률']|safe}}</td>
				{% if D['일반상황']=='off' %}
				<td class="balance-n">{{TR['생활잔액']|safe}}</td>
				{% endif %}
			</tr>
			{%- endfor %}

	</table>
</div>
{% endif %}
{% endif %}
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
{% if D['NOTICE'] %}
<div style="padding:20px;font-size:24px;color:gray">{{D['NOTICE']}}</div>
{% endif %}

<div id='backTestingChart' style="position:fixed;left:1530px;top:2170px;"><canvas id="mybackTestChart" style="width:1050px;height:525px;"></canvas></div>
{% if D['월별이익'] %}
<div id='monthlyProfit' style="position:fixed;left:1530px;top:430px;">
	<canvas id="monthlyProfitChart" style="width:1050px;height:525px;"></canvas>
</div>
{% endif %}

<div id="Next-Strategy" style="display:none;opacity:0.9;position:fixed;left:1270px;top:112px;height:350px;background-color: #393f4a;border:2px solid black;padding:20px">

</div>
{% if D['TR'] %}
<div id="N310-statistics" class="scrollbar" style="position:fixed;top:60px;left:1540px;width:460px;border:2px solid gray" >
	 <table class='table table-hover' style="padding:0px">
		<tr style="font-weight:bold;color:white;">
			<td style="text-align:left;">결과분석</td>
			<td style="text-align:right;">일수</td>
			<td style="text-align:right;">{{D['R_총매도수']}}({{D['R_총익절수']}}/{{D['R_총손절수']}})</td>
			<td style="text-align:right;">{{D['R_총익승률']}}%</td>
			<td style="text-align:right;">{{D['R_익절평균']}}%</td>
			<td style="text-align:right;">{{D['R_손절평균']}}%</td>
		 </tr>
	 {% for TR in D['손익통계'] %}
	 <tr>
		<td class="pointing_sd1" onclick="show_spanChart('{{TR[0]}}',1)">{{TR[0][2:]}}</td>
		<td style="text-align:right;">{{TR[7]}}</td>
		<td class="pointing_sd2" onclick="show_chart('{{TR[5]}}','{{TR[0]}}','{{TR[2]}}','{{TR[3]}}')">{{TR[1]}}</td>
		<td style="text-align:right;color:{{TR[4]}}">{{TR[2]}}</td>
		<td style="text-align:right;color:{{TR[4]}}">{{TR[3]}}</td>
		<td style="text-align:right;color:lightgoldenrodyellow">{{TR[6]}}</td>
	 </tr>
	 {% endfor %}
	 </table>
</div>
{% endif %}

<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>
<script>

{% if D['TR'] %}

let chart_b_date
let chart_e_date

let labels_monthly_ori = {{D['월별구분']|safe}};
let monthlyProfits_ori = {{D['월별이익']|safe}};
let labels_monthly_cnt = labels_monthly_ori.length; 
// let lms = labels_monthly_cnt -24; if(lms < 0) lms = 0;
// let lme = labels_monthly_cnt ; 
// let labels_monthly = labels_monthly_ori.slice(lms,lme); 
// let monthlyProfits = monthlyProfits_ori.slice(lms,lme);
let labels_monthly = labels_monthly_ori; 
let monthlyProfits = monthlyProfits_ori;

// 챠트 객체 생성--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
{% if D['전략선택'] in ('vrsn_n01','vrsn_n02','vrsn_V','n315','diy')  %}
const ctx_season = $id('mybackTestChart');
ctx_season.style.backgroundColor = 'white';
ctx_season.style.border = '2px solid black';

const labels_season = Array.from(new Array(10),(x,i)=> i+1);
const data_season = {
	labels : labels_season,
	datasets : [
		{ label:'당일종가',  data : [2,5,6,3,8], borderColor:'blue', borderWidth:3,pointRadius:0, pointHoverRadius:0, backgroundColor:'#58ACFA',lineTension:0.2	},
		{ label:'D 평균',	data : [3,6,7,8,5],	borderColor:'red', borderWidth:3, pointRadius:2,pointHoverRadius:24, backgroundColor:'red',lineTension:0.2},
		{ label:'추세+10',	data : [4,7,5,3,4], borderWidth:2,borderColor:'gray',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,lineTension:0.2},
		{ label:'추세+0',	data : [4,7,5,3,4], borderWidth:2,borderColor:'gray',borderDash: [2,4],backgroundColor:'gray',pointRadius:0,pointHoverRadius:0,	lineTension:0.2	},
		{ label:'추세-10', 	data : [4,7,5,3,4], borderWidth:2,borderColor:'white',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,	lineTension:0.2	},
		{ label:'추세-20', 	data : [4,7,5,3,4], borderWidth:2,borderColor:'white',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,lineTension:0.2},
		{ label:'추세-30', 	data : [4,7,5,3,4],	borderWidth:2,borderColor:'white',borderDash: [2,4],backgroundColor:'#CEF6F5',pointRadius:0,pointHoverRadius:0,	lineTension:0.2},
	]   
};
const options_season = {
	animation : {duration:0},
	plugins : { legend: {display:false} },
	responsive:false,
	layout:{padding:20},
	scales:{
		x:{ ticks : {color:'black',font:{size:16}}, grid:{color:'white'}},
		y:{ ticks : {color:'black',font:{size:16}}, grid:{color:'white'}}
	}
};
const config_season  = {type:'line',data:data_season,options:options_season};
const myChart_season = new Chart(ctx_season, config_season);
{% endif %}
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
var selected_tr = null
$(document).ready(function(){ 
	$('#backTestingChart').bind('dblclick',function(){$(this).hide();}).draggable().hide();
	$('#monthlyProfitChart').draggable();
	$("#myChart_main").draggable();

});	

function check_thisForm() {
    if(! $("input[name='종목코드']").val() ) { h_dialog.notice("코드 입력은 필수입니다"); return false; }
    if(! $("input[name='시작일자']").val() ) { h_dialog.notice("시작 일자가 입력되지않았습니다"); return false; }  
    if(! $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자가 입력되지않았습니다"); return false; }  
    if($("input[name='시작일자']").val() > $("input[name='종료일자']").val() ) { h_dialog.notice("종료 일자는 시작일보다 나중이어야 합니다"); return false; }
}

function show_chart(season,sel,profit=null,rate=null) {
	
	$('#backTestingChart').css({top:'110px',left:'32px'}).show();
	var clsp = [];
	var avgv = [];
	var dl10 = []; var dl20 = []; var dl30 = []; var du00 = []; var du10 = []; var dlnl = [null]*30;
	var amin = 1000.0;
	var amax = 0;

	$(".clsp"+season).each(function() {tmpv = parseFloat($(this).text()); if(tmpv < amin ) amin = tmpv; if(tmpv > amax) amax = tmpv; clsp.push(tmpv)}); 
	$(".avgv"+season).each(function() {tmpv = parseFloat($(this).text());tmpv = (tmpv)? avgv.push(tmpv) : avgv.push(null); });
	
	const a0 = clsp[0];	

	for(let x=0; x < 10; x++) { du10.push(a0*1.1);}
	for(let x=0; x < 30; x++) { du00.push(a0);}
	for(let x=0; x < 10; x++) { dl10.push(a0*0.9);}
	for(let x=0; x < 20; x++) { dl20.push(a0*0.8);}
	for(let x=0; x < 30; x++) { dl30.push(a0*0.7);}

	var xticks = clsp.length
	if (xticks < 30 ) { xticks = 30; }
	var new_labels = Array.from(new Array(xticks),(x,i)=> i+1);

	myChart_season.data.labels = new_labels;
	myChart_season.data.datasets[0].data =  clsp;
	myChart_season.data.datasets[1].data =  avgv;
	myChart_season.data.datasets[2].data = (amax>a0*1.0)? du10 : dlnl;
	myChart_season.data.datasets[3].data =  du00;
	myChart_season.data.datasets[4].data =  dl10;
	myChart_season.data.datasets[5].data = (amin<a0*0.8)? dl20 : dlnl;
	myChart_season.data.datasets[6].data = (amin<a0*0.7)? dl30 : dlnl;

	myChart_season.update();

	if(typeof sel =='object') {
		var p_date    = $(sel).children("td:eq(0)").text();
		var s_profits = $("#N310-statistics table tr td:contains('"+p_date+"')")
		var p_profit  = s_profits.next().next().text();
		var p_rate    = s_profits.next().next().next().text();
		p_date = '20'+p_date;
	} else {
		var p_date    = sel;
		var p_profit  = profit;
		var p_rate    = rate;

		pickTr = $(".begin-date:contains('"+p_date.slice(2)+"')"); 
		offSet = $(pickTr).offset();
		offTop = (offSet)? offSet.top : 0;
		$(document).scrollTop(offTop-800);
	
	}
	// $("#backTestingChart-notice").html(p_date+" : $<b> "+p_profit+"</b> ( "+p_rate+"% )");
	
}

// 본챠트 그리기
const ctx_main = $id('myChart_main');
ctx_main.style.backgroundColor = 'white';
ctx_main.style.border = '2px solid black';

let closeP_ori   = {{D['clse_p']|safe}};
let avge_v_ori   = {{D['avge_v']|safe}};
let totalV_ori   = {{D['totalV']|safe}};
let labels_main_ori = {{D['c_date']|safe}};

let closeP   = closeP_ori.slice(0);

let avge_v   = avge_v_ori.slice(0);
let totalV   = totalV_ori.slice(0);
let labels_main = labels_main_ori.slice(0);

let data_count = labels_main.length

if(data_count > 100) {
	avge_v.fill(null) 
}

if(data_count <= 100) {

	totalV.fill(null)
}

const data_main = {
    labels : labels_main,
    datasets : [
		{
            label:' 종가변동',
            data : closeP,
			borderColor:'blue', borderWidth:3, pointRadius:0, 
  			lineTension:0.2
    	},
		{
            label:' 평균단가D',
            data : avge_v,
			borderColor:'red', borderWidth:3, pointRadius:2,pointHoverRadius:0, backgroundColor:'red',
			lineTension:0.2,
			yAxisID : 'y'
        },

		{   label:' 평가밸류R', data : totalV, borderColor:'red', borderWidth:3,pointRadius:0,lineTension:0.2,	yAxisID : 'y1' },
    ]   
};
const options_main = {
	animation : { duration:300},
	// animation,
	plugins : { legend: {display:false}, tooltip:{enabled:false}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'black',font:{size:16}}, grid:{color:'white'}},
		y: { ticks : {color:'black',font:{size:16}}, grid:{color:'white'},position:'left'},
		y1:{ type:'linear', display:true, position:'right'}
    }
};
const config_main  = {type:'line',data:data_main,options:options_main};
const myChart_main = new Chart(ctx_main, config_main);

function slice_chart(opt) {

var s_date,e_date,new_s,new_e
if(opt==1) { 
	s_date = chart_b_date.slice(2); 
	e_date = chart_e_date.slice(2); 
	for(d=0; d<labels_main_ori.length; d++)     { if(labels_main_ori[d] >= s_date) { new_s = d;   break;}} 
	for(d=labels_main_ori.length-1; d >=0; d--) { if(labels_main_ori[d] <= e_date) { new_e = d+1; break;}} 
} else {
	s_date = "{{D['s_date']}}".slice(2)
	e_date = "{{D['e_date']}}".slice(2)
	new_s =0; new_e = labels_main_ori.length
}

myChart_main.config.data.labels = labels_main_ori.slice(new_s,new_e);
data_count = myChart_main.config.data.labels.length

myChart_main.config.data.datasets[0].data =  closeP_ori.slice(new_s,new_e);
myChart_main.config.data.datasets[1].data =  avge_v_ori.slice(new_s,new_e);
myChart_main.config.data.datasets[2].data =  totalV_ori.slice(new_s,new_e);


if(data_count > 200)  {	
	myChart_main.config.data.datasets[1].data.fill(null); 	
}
if(data_count <= 200) { 
	myChart_main.config.data.datasets[2].data.fill(null); 	
}

myChart_main.update();
}

// MonthlyProfitChart Begin
{% if D['월별이익']|safe %}

	const ctx_monthly= $id('monthlyProfitChart');

	ctx_monthly.style.backgroundColor = 'white';
	ctx_monthly.style.border = '2px solid black';

	let backColor = new Array(labels_monthly.length);
	let boreColor = new Array(labels_monthly.length);
	backColor.fill('blue');
	boreColor.fill('black')


	const data_monthly = {
	labels: labels_monthly,
	datasets: [{
		label: ' 월별수익금 ',
		data: monthlyProfits,
		backgroundColor: backColor,
		borderColor: boreColor,
		borderWidth: 2
	}]
	};

	const config_monthly = {
	type: 'bar',
	data: data_monthly,
	plugins:[ChartDataLabels],
	options: {
		animation : {duration:500},
		layout:{padding:10},
		plugins : { legend: {display:false},
					title:{display:false,color:'black',align:'end',font:{size:10,style:'italic',weight:'normal'},text:""},
					tooltip : {enabled:false},
					datalabels : {display:false,color:'white', anchor:'end', align:'end', offset: 3, font:{size:12}}			
		},
		scales: {
		x: { ticks : {color:'black',font:{size:16}}, grid:{color:'white'}},
		y: {ticks : {color:'black',font:{size:16}},
			grid : {
				lineWidth:2,
				color: function(context) {
					if(context.tick.value == 0 ) { return '#071418'} else { return '' }
				}
			},
			beginAtZero: true
		}
		}
	},
	};
	const myChart_monthly = new Chart(ctx_monthly, config_monthly); 

// MonthlyProfitChart End


$(".begin-date").click(function(e){
	e.preventDefault();
	pick_date = '20'+ $(this).text();
	show_spanChart(pick_date)
});

$(".begin-date").contextmenu(function(e){
	e.preventDefault();
	pick_date = '20'+ $(this).text();
	show_spanChart(pick_date,2)
});

$(".positioning_date").click(function(){
	pick_date = $(this).text()
	pickTr = $(".begin-date:contains('"+pick_date+"')") 
		offSet = $(pickTr).offset()
		offTop = (offSet)? offSet.top : 0
		$(document).scrollTop(offTop-800);	
});

function show_spanChart(pick_date,opt=0) {

	if(opt==1) {
		pickTr = $(".begin-date:contains('"+pick_date.slice(2)+"')") 
		offSet = $(pickTr).offset()
		offTop = (offSet)? offSet.top : 0
		$(document).scrollTop(offTop-800);
		//curTd  = $(".pointing_sd1:contains('"+pick_date.slice(2)+"')")
	}
	if(opt==2) {
		s_date = new Date(pick_date)
		s_date = s_date.format("yyyy-MM-dd")
	} else {
		p_date = new Date(pick_date)
		s_date = new Date(p_date.setDate(p_date.getDate()-200))
		chart_b_date = s_date.format("yyyy-MM-dd") 
		chart_e_date = pick_date;
	}

	slice_chart(1)
}


{% endif %}

{% endif %}


function year_up_dn(opt) {
	let date1 = $("input[name='시작일자']").val()
	let date2 = $("input[name='종료일자']").val()
	year1 = date1.slice(0,4); year1_l = date1.slice(4);
	year2 = date2.slice(0,4); year2_l = date2.slice(4);
	if(opt) {year1 = parseInt(year1)+1; year2 = parseInt(year2)+1; }
	else    {year1 = parseInt(year1)-1; year2 = parseInt(year2)-1; }

	date1 = year1 + year1_l; $("input[name='시작일자']").val(date1)
	date2 = year2 + year2_l; $("input[name='종료일자']").val(date2)
}

function YearSpan(opt) {
	let date1 = $("input[name='종료일자']").val()
	let now = new Date(date1)

	let YearsAgo = new Date(now.setDate(now.getDate() - (365*opt-1))) 
	let date2 = YearsAgo.toISOString().split('T')[0]
	$("input[name='시작일자']").val(date2)
}

function startYearSpan() {
	let date1 = $("input[name='종료일자']").val()
	let date2 = date1.slice(0,4)+'-01-01'
	$("input[name='시작일자']").val(date2)
}

function synchro(opt) {

	let posturl = uri('linkurl') + 'page/ajax/DIYChart/synchro_diy';
	$.post(posturl, { opt : opt },null,'json').done(function(data){
		h_dialog.notice("동기화 데이타가 입력되었습니다.")
		$("input[name='시작일자']").val(data.sdate);
		$("input[name='종료일자']").val(data.ldate);
		$("input[name='일반자금']").val(data.V_mon);
		if(opt=='real'||opt=='test') {$("form[name='n310_chart_dashboard']").submit();}
	});
}
//
</script>
{% endblock %}
