{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_body %}

<!-- 본문하단 버튼 -->
<div style="background-color:#24272d;padding:10px 20px 10px 20px;border:1px solid gold;border-radius:6px;">
	<div class="clearfix">
	<div class="pull-left" style="border:2px solid black;border-radius:4px;background-color:#585858;">
		<div class="pull-left" id="imgDropZone">
			{% if D['BODY']['add6'] %}<img src="{{D['BODY']['add6']}}" width='596' height='422' class='file-thumb' />{% endif %}
		</div>
		<div class="pull-left" id="img-title-div">
			<div id="img-title-name" style="height:370px">{{D['BODY']['add7']}}</div>
			<div style="text-align:center">&nbsp;</div>
		</div>
	</div>

	<div class="pull-left" style="margin-left:18px;">
		<div style="width:380px;height:425px;padding:20px 0px 20px 20px;border:2px solid black;border-radius:4px;background-color:#2f2f2f">
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>회사명</div>
				<div class="i-text-div" style="width:240px;">{{D['BODY']['add1']}}</div>
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>프로젝트명</div>
				<div class="i-text-div" style="width:240px;">{{D['BODY']['add2']}}</div>
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>납기기한</div>
				<div class="i-text-div" style="width:240px;">{{D['BODY']['add3']}}</div>
			</div>
			<div class='i-input-div-choice' style="margin-top:10px">
				<div class='write-input-server'>도면NO</div>
				<div class="i-text-div" style="width:240px;">{{D['BODY']['add0']}}</div>
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>간단메모</div>
				<div class="i-text-div" style="width:240px;">{{D['BODY']['add5']}}</div>
			</div>
			<div style="margin-top:10px;font-style:italic;text-align:left;color:#a5a5a5"></div>
			<div style="width:340px;height:180px;margin-top:10px;border:2px solid black;border-radius:4px;padding:10px;line-height:25px;color:lightgray;background-color:#2b2b2b;">{{D['BODY']['content']|safe}}</div>	
		</div>
	</div>
	</div>

	<div style="margin-top:10px;margin-bottom:0px">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr style="border-bottom:1px solid black;border-top:2px solid black;background-color:#0B2F3A;">
					<th style="font-style:italic;width:60px">No</th>
					<th style="width:100px;text-align:right">회사단가</th>
					<th style="width:100px;text-align:left;">외주업체</th>
					<th style="width:100px;text-align:right">재료비</th>
					<th style="width:100px;text-align:right">용접비</th>
					<th style="width:100px;text-align:right">가공비</th>
					<th style="width:100px;text-align:right">후처리</th>
					<th style="width:100px;text-align:right">단  가</th>
					<th style="width:60px;text-align:right">수  량</th>
					<th style="width:100px;text-align:right">총금액</th>
					<th style="font-style:italic">비 고</th>
				</tr>
			</thead>
			<tbody id="table-excel">
				<tr style="background-color:#071418;"> 
					<td class='text-center'>합 계</td>
					<td class="c-total" style="padding-right:12px;"></td>
					<td></td>
					<td class="c-total" style="padding-right:12px;"></td>
					<td class="c-total" style="padding-right:12px;"></td>
					<td class="c-total" style="padding-right:12px;"></td>
					<td class="c-total" style="padding-right:12px;"></td>
					<td class="c-total"></td>
					<td></td>
					<td class="c-total"></td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	<!-- 본문하단 버튼 -->
	<div class="row-row clearfix" style="margin-top:10px">
		<div class='pull-left'>
			<a href="{{D['_bse']}}board/modify/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}/{{D['Searchplus']}}">
			<button class='btn btn-blue btn-small'>내용수정</button>
			</a>
			<button class='btn btn-small btn-red' onclick="delete_chk('{{D['_bse']}}boards-action/delete/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}')">삭제하기</button>
		</div>
		<div class='pull-right'>
			<a href="{{D['_bse']}}board/list/{{D['bid']}}/page={{D['page']}}">
				<button class='btn btn-blue-s5 btn-small'>검색목록</button>
			</a>
		</div>
	</div>
	</div>
</div>
{% endblock %}




{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->
<div style="padding:10px">
<div class="clearfix" style='margin:10px 0px 5px 0px;'>
{% if D['Cat_use'] %}
<form method='post' name='category_search' action="{{D['_bse']}}board/list/{{D['bid']}}" style='display:inline;'>
	<div class="pull-left">
			{%- for cats in D['CAT_LIST'] %}
			<div class='myselect' style='margin-right:5px;'>
				{%- if cats['chked'] %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="color:black;width:100px;background-color:#b5daff" value="{{cats['value']}}" />
				{%- else %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="width:100px" value="{{cats['value']}}" />
				{%- endif %}
				<div class='btn-group'>
					<button class="btn btn-select dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class='dropdown-menu'>
						<li><a> {{cats['title']}} </a></li>
						{%- for li in cats['lists'] %}
						<li><a href="#"> {{li[0]}} </a></li>
						{% endfor -%}
					</ul>
				</div>
			</div>
			{% endfor -%}
	</div>
	<div class="pull-left" style="margin-left:10px">
		<input type="text" name="csh_date1" style="width:100px;text-align:center;color:#CEF6CE" value="{{D['csh_date1']}}" class="i-date_1" placeholder="이날부터">
		<input type="text" name="csh_date2" style="width:100px;text-align:center;color:#CEF6CE" value="{{D['csh_date2']}}" class="i-date_2" placeholder="이날까지">
	</div>
</form>
{% endif -%}
	<div class='pull-right'>
		<span id="cell-sum"></span>
		<div class='select' style='margin-right:5px;'>
			<input placeholder="검색항목" name="search_field" type="text" style="width:100px" value="{{D['search_f']}}" />
			<div class='btn-group'>
				<button class="btn btn-select dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class='dropdown-menu'>
					<li><a> 검색항목 </a></li>
					{% for key, val in D['SHTITLE'].items() -%}
					<li><a href="#"> {{val}}</a></li>
                    {% endfor -%}
					<li><a href="#"> 본 문 </a></li>
				</ul>
			</div>
		</div>

		<input  id="search_input2" type='text' name='search_value' value="{{D['search']}}" style='height:24px;vertical-align:baseline' />
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="list_search2()">검색</button>
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="location.href='{{D['_bse']}}board/list/{{D['bid']}}/csh=on'" >취소</button>
	</div>
</div>
<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->
{% if D['TR'] %}
<div class="row-row clearfix"> 
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
				{% for key,val in D['head_td'].items() %}
				{{val|safe}}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if loop.index0 == D['cno'] %}
			<tr class="list-current-tr" >
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>검색하기</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>새로작성</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>
</div>

<script>
$(document).ready(function(){ 
$(".file-thumb").click(function(){ var sel = $(this).parent().next(); image_view(this); });
v_to_tbl();
$(".i-date_1").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, show_clear_date:1,onSelect:function(){$("form[name=category_search]").submit();}});
$(".i-date_2").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, show_clear_date:1,onSelect:function(){$("form[name=category_search]").submit();}});
});

function xyt(x,y,txt) { $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").text(txt); }
function v_to_tbl() {
	var i=1;
	val = "{{D['BODY']['add10']}}";
	srv = val.split('/*/');
	if(srv) {xyt(i,2,srv[0]);xyt(i,3,'');xyt(i,4,srv[2]);xyt(i,5,srv[3]);xyt(i,6,srv[4]);xyt(i,7,srv[5]);xyt(i,8,srv[6]);xyt(i,9,'');xyt(i,10,srv[8]);xyt(i,11,'');}
}

function image_view(sel) {
	var url = $(sel).attr('src');
	var f_name = url.split('/').reverse()[0]
	if(f_name.match(/\.(jpg|png|gif|jpeg|bmp)$/i)) {
		var iid = src_filter(f_name);
		if($("#"+iid)) h_dialog.close(iid);
		h_dialog.image(url,{id:iid,overlay:false});
	}
}

function imgView() {
	var url = $("#imgDropZone img").attr('src');
	if(url) { 
		var f_name = url.split('/').reverse()[0]
		if(f_name.match(/\.(jpg|png|gif|jpeg|bmp)$/i)) {
			var iid = src_filter(f_name);
			if($("#"+iid)) h_dialog.close(iid);
			h_dialog.image(url,{id:iid,overlay:false});
		}
	}
}

function delete_chk(url) {
	if(uri('brother') < 0) h_dialog.notice("추가글이 존재합니다."); 
	else delete_confirm(url);
}
</script>

{% endblock %}


