<!DOCTYPE html>
<head>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width,initial-scale=1.2" >
<title> {{D['BCONFIG']['title']}}</title>
<link href="/sys/mycss/mycss_dark.css"  rel="stylesheet" >
<link href="/sys/fontawesome/css/font-awesome.css" rel="stylesheet">
<link href="/sys/jyh/yhutils.css" rel="stylesheet">
<link href="/skn/jbk/board/my_dark/myskin.css"  rel="stylesheet" >
<link href="/sys/zebra_datepicker/zebra_datepicker.css"  rel="stylesheet" >

<script src="/sys/jyh/jquery-yh-2307.js"></script>
<script src="/sys/mycss/mycss_dark.js"></script>
<script src="/sys/jyh/yhutils.js"></script>
<script src="/skn/jbk/board/my_dark/skin.js"></script>
<script src="/sys/zebra_datepicker/zebra_datepicker.min.js"></script>
</head>
<body>
{{D['act_msg']|safe}}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner" style="width:{{D['xwidth']}}">
		<span class="brand" > JBK </span>
		<ul class="nav">
		{% for menu in D['MENU_SECTION'] %}
			<li class='dropdown'>
				{% if menu[0] == D['BCONFIG']['section'] %}
				<a  class='dropdown-toggle' data-toggle='dropdown' style="font-weight:bold;cursor:pointer;background-color:black;color:rgb(240, 240, 171)"> 
					{{D['BCONFIG']['title']}} <b class='caret'></b>
				</a>
				{% else %}
				<a  class='dropdown-toggle' data-toggle='dropdown' style="cursor:pointer"> {{ menu[0] }} <b class='caret'></b></a>
				{% endif %}
				<ul class='dropdown-menu'>
				{% for val in D[menu[0]] %}
					<li><a href="/jbk/{{ val['bid'] }}">{{ val['title'] }}</a></li> 
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
		<ul class='nav pull-right'>
			<li><a href="/download/jbk_mydata"><i class='fa fa-folder fa-lg' title="데이타백업"></i></a></li>
			<li style='margin-right:20px;'>
				<a href="{{D['_bse']}}admin/board" target='blank'><i class='fa fa-wrench fa-lg' style='color:#ff6f6f;'></i></a>
			</li>
		</ul>
	</div>
</div>

<div class="row-body" id="content" style="width:{{D['xwidth']}}"><!-- 본문 시작 -->
	{% block contents_body  %}{% endblock %}
	{% block contents_list  %}{% endblock %} 
	{% block contents_write %}{% endblock %}
	<div class='row-row clearfix'>
		<div class="pull-left" style="color:#6a6a6a">
			&nbsp;
		</div>
	</div>
</div><!-- 본문 끝 -->

<script>
	var DOCU_ROOT = "{{D['DOCU_ROOT']}}"
</script>
</body>
</html>