{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->
<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->
<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>

<div class="clearfix" style="width:100%;background-color:#24272d;padding:20px;border-top:2px solid black;border-left:2px solid black;border-right:2px solid black">
	<div class="pull-left" style="margin-right:20px">
		<canvas id="myChart"  style="width:1100px;height:350px;background-color:#24272d;" ondblclick="chart_toggle()"></canvas>
	</div>
	<div class="pull-left">
		<canvas id="myChart2" style="width:220px;height:350px;background-color:#24272d"></canvas>
	</div>
</div>

{% if D['TR'] %}
<div class="row-row clearfix" style="margin-bottom:-2px;" onclick="$('#extra-info-toggle').toggle()"> 
	<div class='well' style="color:{{D['info_color']}}">
		<div style="display:inline-block;width:420px;padding-left:20px" >
			<i class="fa fa-sign-in"></i> {{D['총입금']}} &nbsp;
			<i class="fa fa-sign-out"></i> {{D['총출금']}} &nbsp;
			<i class="fa fa-signal"></i> {{D['현재총액']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['총수익금']}} &nbsp; <i class="fa fa-line-chart"></i> {{D['총수익률']}}% &nbsp;
			
		</div>
		<div style="display:inline-block;width:430px;" >
			<i class="fa fa-bars"></i> {{D['평단가1']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['수익금1']}} &nbsp; <i class="fa fa-line-chart"></i> {{D['수익률1']}}% &nbsp;
			<i class="fa fa-download"></i> {{D['배당금']}} &nbsp;
		</div>
		<div style="display:inline-block;" >
			<i class="fa fa-bars"></i> {{D['평단가2']}} &nbsp;
			<i class="fa fa-sign-in"></i> {{D['매수금2']}} &nbsp; 
			<i class="fa fa-sign-out"></i> {{D['현재평가']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['수익금2']}} &nbsp;
			<i class="fa fa-line-chart"></i> {{D['수익률2']}}% &nbsp;
		</div>
	</div> 
</div>
<div id="extra-info-toggle" class="row-row clearfix" style="margin-bottom:-2px;">
	<div class="well clearfix" style="padding:5px 20px 5px 20px">
		<div class="pull-left">
			<span style="font-weight:bold;color:yellow;font-style:italic">Season {{D['현재시즌']}} - {{D['경과일수']}} days </span>&nbsp;
			<span style="color:#58ACFA"> BP :  <i class="fa fa-shopping-cart"></i> {{D['매수갯수']}} for <i class="fa fa-usd"></i> {{D['매수단가']}} ( {{D['매수예상']}} )</span> / 
			<span style="color:#f78181"> SP :  <i class="fa fa-shopping-cart"></i> {{D['매도갯수']}} for <i class="fa fa-usd"></i> {{D['매도단가']}} ( {{D['매도예상']}} )</span> / 
			<i class="fa fa-arrow-up"></i> {{D['연속상승']}} <i class="fa fa-arrow-down"></i> {{D['연속하락']}}&nbsp;&nbsp; <i class="fa fa-bar-chart"></i>&nbsp; {{D['현이익률']}}%</span> / 
			<span style="color:yellow;font-style:italic">EST&nbsp;{{D['예상이익']}} $ </span>&nbsp;/
			<span style="color:#CEF6F5;font-style:italic">TARGET&nbsp;<b>{{D['목표가치']}}</b>$({{D['가치차이']}}) </span>&nbsp;
		</div>
		<div class="pull-right">
			<input type='text' name='s_date' class="i-date" style="width:90px;text-align:center" placeholder='시작일자' value="{{D['s_date']}}">
			<input type='text' name='e_date' class="i-date" style="width:90px;text-align:center" placeholder='종료일자' value="{{D['e_date']}}">&nbsp;
			<span style="display:inline-block;vertical-align:middle;cursor:pointer;color:gray" onclick="slice_chart(1)"><i class="fa fa-bars"></i>&nbsp;</span>
			<span style="display:inline-block;vertical-align:middle;cursor:pointer;color:gray" onclick="slice_chart(0)"><i class="fa fa-undo"></i>&nbsp;</span>
		</div>
	</div>
</div>
<div class="row-row clearfix">
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
				<th style="background-color:#071418;font-style:italic">Progress</th>
				<th style="background-color:#0A2229;text-align:right;cursor:pointer" onclick="popup_notice('입금내역',0)">입금</th>
				<th style="background-color:#0A2229;text-align:right;cursor:pointer" onclick="popup_notice('출금내역',0)">출금</th>
				<th colspan='2' style="background-color:#0A2229;font-style:italic">US dollar</th>
				
				<th style="background-color:#0B2F3A;text-align:right;cursor:pointer" onclick="popup_notice('매수금1',1)">매수금</th>
				<th style="background-color:#0B2F3A;text-align:right;cursor:pointer" onclick="popup_notice('매도금1',1)">매도금</th>
				<th colspan='4' style="background-color:#0B2F3A;font-style:italic;cursor:pointer" onclick="popup_notice('배당내역',0)">Dividend Stock {{D['배당종목']}}</th>

				<th style="background-color:#0A2229;text-align:right;cursor:pointer" onclick="popup_notice('매수금2',1)">매수금</th>
				<th style="background-color:#0A2229;text-align:right;cursor:pointer" onclick="popup_notice('매도금2',1)">매도금</th>
				<th colspan='4' style="background-color:#0A2229;font-style:italic">Leverage Stock {{D['적용종목']}}</th>

				<th style="background-color:#071418;;font-style:italic">Total</th>
			</tr>
			<tr>
				<th style="background-color:#071418;font-style:italic;width:110px">{{D['총경과일']}} days</th>
				<th style="background-color:#0A2229;text-align:right;width:80px">{{D['총입금']}}</th>
				<th style="background-color:#0A2229;text-align:right;width:80px">{{D['총출금']}}</th>
				<th style="background-color:#0A2229;text-align:right;;width:90px">잔액</th>
				<th style="background-color:#0A2229;text-align:right;;width:60px">비중</th>

				<th style="background-color:#0B2F3A;text-align:right;width:84px">{{D['매수금1']}}</th>
				<th style="background-color:#0B2F3A;text-align:right;width:84px">{{D['매도금1']}}</th>
				<th style="background-color:#0B2F3A;text-align:right;width:60px">수량</th>
				<th style="background-color:#0B2F3A;text-align:right;cursor:pointer;;width:70px" onclick="popup_notice('종가1',0)">종가</th>
				<th style="background-color:#0B2F3A;text-align:right;;width:84px">가치</th>
				<th style="background-color:#0B2F3A;text-align:right;width:60px">비중</th>

				<th style="background-color:#0A2229;text-align:right;width:84px">{{D['매수금2']}}</th>
				<th style="background-color:#0A2229;text-align:right;width:84px">{{D['매도금2']}}</th>
				<th style="background-color:#0A2229;text-align:right;width:60px">수량</th>
				<th style="background-color:#0A2229;text-align:right;cursor:pointer;width:70px" onclick="popup_notice('종가2',0)">종가</th>
				<th style="background-color:#0A2229;text-align:right;width:84px">가치</th>
				<th style="background-color:#0A2229;text-align:right;width:60px">비중</th>
				<th style="background-color:#071418;;font-style:italic">Value</th>
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if TR['add12']|striptags != '0.00' %}
			<tr style="background-color:black;"> 
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>기 록</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'>
		<ul>{{D['Pagination']|safe}}</ul>
	</div>
</div>


<script>
$(".i-date").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:false, offset:[-200,-20],default_position:'below'});
var notice_popup = false;
function popup_notice(option,size) {
	if( notice_popup ) {
			h_dialog.close("POP_INFO"); 
			notice_popup = null
			return;
		} else 
		{	
			if(size) width = '330px' ; else width = '200px' 
			notice_popup = true
			var url = uri('linkurl') + 'boards-stock_longterm_info/get_subinfo/tbl={{D['tbl']}}/opt='+option;
			var ypos = mouse_Y
			// if(ypos > 400) ypos = ypos-250
			var o = {id:'POP_INFO', width: width, x:mouse_X+10, y:mouse_Y,header:false,footer:false,drag:true}
			h_dialog.load(url,o);
		}
}

// 챠트 그리기
const ctx = $id('myChart');
const ctx2= $id('myChart2');

ctx.style.backgroundColor = '#33363b';
ctx.style.border = '2px solid black';

let labels = {{D['chart_date']|safe}};
let close_price = {{D['close_price']|safe}};
let soxl_average = {{D['soxl_average']|safe}};
let total_value = {{D['total_value']|safe}};
let target_value = {{D['target_value']|safe}};
let up_target = {{D['up_target']|safe}};
let dn_target = {{D['dn_target']|safe}};
let bal_change = {{D['bal_change']|safe}};
let close_change = {{D['close_change']|safe}};

let labels_2 = labels.slice({{D['chart_start']}});
let close_price2 = close_price.slice({{D['chart_start']}});
let soxl_average2 = soxl_average.slice({{D['chart_start']}});
let total_value2 = total_value.slice({{D['chart_start']}});
let target_value2 = target_value.slice({{D['chart_start']}});
let up_target2 = up_target.slice({{D['chart_start']}});
let dn_target2 = dn_target.slice({{D['chart_start']}});
let bal_change2 = bal_change.slice({{D['chart_start']}});
let close_change2 = close_change.slice({{D['chart_start']}});

const data1 = {
    labels : labels_2,
    datasets : [
		{
            label:' 종가변동',
            data : close_price2,
			borderColor:'#58ACFA', borderWidth:2, pointRadius:0, borderDash:[2,3],
  			lineTension:0.2
        },
		{
            label:' 평균단가',
            data : soxl_average2,
			borderColor:'#f78181', borderWidth:2, pointRadius:1,pointHoverRadius:24, backgroundColor:'#f78181',
			lineTension:0.2
        },
		{
            label:' 가치합계',
            data : total_value2,
            borderColor:'yellow', borderWidth:3,pointRadius:0, 
			lineTension:0.2,
			yAxisID : 'y1'
        },		
    ]   
};
const options1 = {
	animation : { duration:1000	},

	plugins : { legend: {display:false}, tooltip:{enabled:false}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'gray'}, grid:{color:'#272727'}},
        y: { ticks : {color:'gray'}, grid:{color:'#272727'},position:'left'},
		y1:{ type:'linear', display:true, position:'right'}
    }
};
const config1  = {type:'line',data:data1,options:options1};
const myChart = new Chart(ctx, config1); 
//


const labels2 = ['Cash','Dividend','Leverage'];
const data2 = {
  labels: labels2,
  datasets: [{
    label: ' 자산배분비율 ',
    data: {{D['chart_percent']}},
    backgroundColor: [ 'rgba(75, 192, 192, 0.4)','rgba(255, 99, 132, 0.4)','rgba(255, 205, 86, 0.4)'],
    borderColor: [ 'rgb(75, 192, 192)','rgb(255, 99, 132)','rgb(255, 205, 86)'],
    borderWidth: 1
  }]
};

const config2 = {
  type: 'bar',
  data: data2,
  plugins:[ChartDataLabels],
  options: {
	animation : {duration:1000},
    plugins : { legend: {display:false},
				tooltip : {enabled:false},
				datalabels : {color:'white', anchor:'start', align:'end', offset: 3, font:{size:14}}			
	},
    scales: {
      y: {
		grid : {
			lineWidth:2,
			color: function(context) {
				if(context.tick.value == 20 || context.tick.value == 30 || context.tick.value == 50 || context.tick.value == 60 ) { return '#071418'} else return ''
			}
		},
        beginAtZero: true
      }
    }
  },
};
const myChart2 = new Chart(ctx2, config2); 

const data3 = {
    labels : labels_2,
    datasets : [
		{
            label:' 총투자금',
            data : total_value2,
            borderColor:'yellow', borderWidth:3,pointRadius:0, 
			lineTension:0.2,
			yAxisID : 'y1'
        },
		{
            label:' 목표가치',
            data : target_value2,
			borderColor:'lightgray', borderWidth:1,pointRadius:0,  
			yAxisID : 'y1'
        },
		{
            label:' 가치상한',
            data : up_target2,
			borderColor:'#f78181',borderWidth:1,pointRadius:0, 
			yAxisID : 'y1'
        },
		{
            label:' 가치하한',
            data : dn_target2,
			borderColor:'#58ACFA', borderWidth:1, pointRadius:0,
			yAxisID : 'y1'
        },
        {
            label:' 종가변동',
            data : close_change2,
            borderColor:'cyan', borderWidth:2,borderDash:[2,3],pointRadius:0,  
			lineTension:0.2,
        },
		{
            label:' 현금잔고',
            data : bal_change2,
			borderColor:'#f78181',borderWidth:1,borderDash:[2,3],pointRadius:0, 
			lineTension:0.2,
        }		
    ]   
};

// var check_value = new Array(100,80,60,40,20,0,-20,-40,-60)
const options3 = {
	animation : { duration:1000	},

	plugins : { legend: {display:false}, tooltip:{enabled:false} },
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'gray'}, grid:{color:'#272727'}},
        y: { ticks : {color:'gray'}, 
		   grid:{
			color:function(context) {if(context.tick.value % 20 == 0 ) { return 'rgba(75, 192, 192, 0.4)'} else return '#272727'},
			lineWidth: function(context) {if(context.tick.value == 0 ) { return 2 } else return 0},
		   },
		   position:'left'},
		y1:{ type:'linear', display:true, position:'right'}
    }
};

const config3  = {type:'line',data:data3,options:options3};


let second_chart = false;

function chart_toggle() {
	if(! second_chart ) {
		myChart.config.data = data3;
		myChart.config.options = options3;
	} else {
		myChart.config.data = data1;
		myChart.config.options = options1;
	}
	myChart.update();
	second_chart = ! second_chart;
}


function slice_chart(opt) {

	var s_date,e_date,new_s,new_e
	if(opt) { s_date = $("input[name='s_date']").val().slice(2); e_date = $("input[name='e_date']").val().slice(2) 
		for(d=0; d<labels.length; d++) {if(labels[d] >= s_date)    { new_s = d; $("input[name='s_date']").val('20'+labels[d]);break;}} 
		for(d=labels.length-1; d >=0; d--) {if(labels[d] <= e_date){ new_e = d; $("input[name='e_date']").val('20'+labels[d]);break;}} 
	} else {
		s_date = "{{D['s_date']}}".slice(2); e_date = "{{D['e_date']}}".slice(2)
		$("input[name='s_date']").val("{{D['s_date']}}"); $("input[name='e_date']").val("{{D['e_date']}}");
		new_s =0; new_e = labels.length-1
	}
	if(second_chart) {
		myChart.config.data.labels = labels.slice(new_s,new_e);
		myChart.config.data.datasets[0].data =  total_value.slice(new_s,new_e);
		myChart.config.data.datasets[1].data =  target_value.slice(new_s,new_e);
		myChart.config.data.datasets[2].data =  up_target.slice(new_s,new_e);
		myChart.config.data.datasets[3].data =  dn_target.slice(new_s,new_e);
		myChart.config.data.datasets[4].data =  close_change.slice(new_s,new_e);
		myChart.config.data.datasets[5].data =  bal_change.slice(new_s,new_e);
	} else {
		myChart.config.data.labels = labels.slice(new_s,new_e);
		myChart.config.data.datasets[0].data =  close_price.slice(new_s,new_e);
		myChart.config.data.datasets[1].data =  soxl_average.slice(new_s,new_e);
		myChart.config.data.datasets[2].data =  total_value.slice(new_s,new_e);
	}
	myChart.update();
}
</script>


{% endblock %}