{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}

	<div class="my-box" style="border:2px solid black">
		<div class="my-box-inner" ondblclick="$('#price-chart-div').show()">
			전체 : {{D['ot'][0]}}일 &nbsp; 상승 {{D['ot'][1]}}( {{D['ot'][2]}}% ) 하락 {{D['ot'][3]}}( {{D['ot'][4]}}% )&nbsp; 
			최근 1년 : {{D['ot1'][0]}}일 상승 {{D['ot1'][1]}}( {{D['ot1'][2]}}% ) 하락 {{D['ot1'][3]}}( {{D['ot1'][4]}}% )&nbsp;<span id="qty-pcnt" class="list-bear-cnt"></span><br>
			<table class="table" style="text-align:right;margin-top:10px;height:260px">
				<tr style="background-color:#0A2229;font-weight:bold;">
					<td>연속하락</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td>
				</tr>
				<tr>
					<td>전체기간</td><td>{{D['ot'][7]}}</td><td>{{D['ot'][9]}}</td><td>{{D['ot'][11]}}</td><td>{{D['ot'][13]}}</td><td>{{D['ot'][15]}}</td><td>{{D['ot'][17]}}</td><td>{{D['ot'][19]}}</td><td>{{D['ot'][21]}}</td>
				</tr>
				<tr style="color:#c1e0ff">
					<td>비율</td><td data-pcnt="off">{{D['ot'][8]}}</td><td data-pcnt="off">{{D['ot'][10]}}</td><td data-pcnt="off">{{D['ot'][12]}}</td><td data-pcnt="off">{{D['ot'][14]}}</td>
					<td data-pcnt="off">{{D['ot'][16]}}</td><td data-pcnt="off">{{D['ot'][18]}}</td><td data-pcnt="off">{{D['ot'][20]}}</td><td data-pcnt="off">{{D['ot'][22]}}</td>
				</tr>
				<tr style="border-top:2px solid black;">
					<td>최근일년</td><td>{{D['ot1'][7]}}</td><td>{{D['ot1'][9]}}</td><td>{{D['ot1'][11]}}</td><td>{{D['ot1'][13]}}</td><td>{{D['ot1'][15]}}</td><td>{{D['ot1'][17]}}</td><td>{{D['ot1'][19]}}</td><td>{{D['ot1'][21]}}</td>
				</tr>
				<tr style="border-bottom:2px solid black;color:#ffc4c4">
					<td>비율</td><td data-pcnt="off">{{D['ot1'][8]}}</td><td data-pcnt="off">{{D['ot1'][10]}}</td><td data-pcnt="off">{{D['ot1'][12]}}</td><td data-pcnt="off">{{D['ot1'][14]}}</td>
					<td data-pcnt="off">{{D['ot1'][16]}}</td><td data-pcnt="off">{{D['ot1'][18]}}</td><td data-pcnt="off">{{D['ot1'][20]}}</td><td data-pcnt="off">{{D['ot1'][22]}}</td>
				</tr>
			</table>
			<div style="margin-top:10px;text-align: right;">주가 변동률 : (최근오년) {{D['오년변동률']}}% &nbsp; (최근일년) {{D['일년변동률']}}% &nbsp; (최근한달) {{D['한달변동률']}}%</div>
		</div>
	</div>

<!-- 리스트 상부 카테고리 시작 -->

<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->

{% if D['TR'] %}
<div class="row-row clearfix"> 

	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
				{% for key,val in D['head_td'].items() %}
				{{val|safe}}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if loop.index0 == D['cno'] %}
			<tr class="list-current-tr">
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		{% if not D['업데이트'] %}
		<button class='btn btn-small btn-red' onclick="update_stockPrice()">주가 업데이트</button>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>직접입력</button></a>
		<span style="display:inline-block;margin-left:10px;"> 
			<input name='simple-date'  type="text" style="width:100px;text-align:center" value="{{D['chk_date']}}">
			<input name='simple-close' type="text" style="width:80px;text-align:center"  value="{{D['TR'][0]['add3']|striptags}}">
			<input name='simple-krw'   type="text" style="width:80px;text-align:center"  value="{{D['TR'][0]['add2']|striptags}}">
			<button class='btn btn-small btn-blue' onclick="simple_stockPrice()">간편 입력</button>
		</span>
		{% else %}
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		{% endif %}
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>

<div id='price-chart-div' style="background-color:black;border:1px solid black;position:absolute;left:20px;top:50px;padding:5px;opacity:1.0;z-index:3;"  ondblclick="$(this).hide()">
	<canvas id="priceChart" style="width:868px;height:358px;background-color:#24272d"></canvas>
	<div id='price-chart-comment' style="position:absolute;left:120px;top:256px;z-index:4;"></div>
</div>

<script src="/sys/chart/chart.min.js"></script>
<script>

// 챠트 그리기(메인챠트) -----------------------------------------------------------------------------------------
const ctx_main = $id('priceChart');
ctx_main.style.backgroundColor = '#33363b';
ctx_main.style.border = '2px solid black';

let labels_main     =  {{D['chart_date']|safe}}	
let close_price     =  {{D['close_price']|safe}} 
let krwus_price     =  {{D['krwus_price']|safe}}  
let max_closeP      =  {{D['max_closeP']|safe}}	    
let min_closeP      =  {{D['min_closeP']|safe}}
let max_krwusP      =  {{D['max_krwusP']|safe}}	    
let min_krwusP      =  {{D['min_krwusP']|safe}}
let diff_closeP     =  (min_closeP - max_closeP)/max_closeP*100
let diff_krwusP     =  (min_krwusP - max_krwusP)/max_krwusP*100

let maxCloseP   = []
let minCloseP   = []

for(let x=0; x < labels_main.length; x++) { 
	maxCloseP.push(max_closeP);
	minCloseP.push(min_closeP);
}


const data_main = {
    labels : labels_main,
    datasets : [
		{  label:' 종가변동',  data : close_price,  borderColor:'#58ACFA', borderWidth:2, pointRadius:0, lineTension:0.2, yAxisID : 'y1'	},
		{  label:' 환율변동',  data : krwus_price,	borderColor:'#F5A9A9', borderWidth:2, pointRadius:0, lineTension:0.2, borderDash:[2,2],},
		{  label:' 기간최고',  data : maxCloseP,    borderWidth:1,borderColor:'#ffc4c4',borderDash: [2,4],backgroundColor:'gray',pointRadius:0,pointHoverRadius:0,lineTension:0.2, yAxisID : 'y1'},
		{  label:' 기간최저',  data : minCloseP,    borderWidth:1,borderColor:'#c1e0ff',borderDash: [2,4],backgroundColor:'yellow',pointRadius:0,pointHoverRadius:0,lineTension:0.2, yAxisID : 'y1'},
    ]   
};
const options_main = {
	animation : { duration:300},
	// animation,
	plugins : { legend: {display:false}, tooltip:{enabled:false}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'gray'}, grid:{color:'#272727'}},
        y: { ticks : {color:'gray'}, grid:{color:'#272727'},position:'left'},
		y1:{ type:'linear', display:true, position:'right'}
    }
};
const config_main  = {type:'line',data:data_main,options:options_main};
const myChart_main = new Chart(ctx_main, config_main);
let ihtml = "최근 거래일 "+labels_main.length+"일간"+" 최고가 <span style='color:#ffc4c4'>$"+max_closeP+"</span> 최저가 <span style='color:#c1e0ff'>$"+min_closeP +" </span>("+diff_closeP.toFixed(2)+"%)"
ihtml += " &nbsp;&nbsp;최고환율 <span style='color:#ffc4c4'>"+max_krwusP+"원</span> 최저환율 <span style='color:#c1e0ff'>"+min_krwusP +"원</span>("+diff_krwusP.toFixed(2)+"%)"
$("#price-chart-comment").html(ihtml);
// ------------------------------------------------------------------------------------------------------------------------



$(".list-code").click(function(){
	var code = $(this).text()
	winopen('winopen/chart2/'+code,820,450,'stock_chart');
});

$("[data-pcnt]").click(function()
	{ 
		var s_swt = $(this).data("pcnt");
		var s_sum = parseFloat($("#qty-pcnt").text()); if(isNaN(s_sum)) s_sum = 0;
		var s_val = parseFloat($(this).text()); 
	
		if(s_swt == 'off') {
			$(this).addClass("q-addvalue").data("pcnt","on");
			$(this).prev().addClass("list-bear-cnt");
			s_sum = Number(s_sum) + Number(s_val);
		} else {
			$(this).removeClass("q-addvalue").data("pcnt","off");
			$(this).prev().removeClass("list-bear-cnt");
			s_sum = Number(s_sum) - Number(s_val);
		}
		if(s_sum) {
			var ss = s_sum.toFixed(2); $("#qty-pcnt").text(ss);
		} else { $("#qty-pcnt").text('');}

	}
);

// Ajax

function update_stockPrice() {
	posturl = uri('linkajax') + "stockHistory/update_stock"
	$.post(posturl, {}, null, 'json' ).done(function(data){ 

		if(data=='OK') {location.reload(); h_dialog.notice("주가 정보가 업데이트 되었습니다")}
		else {h_dialog.notice(data);}
	});
}

function simple_stockPrice() {
	posturl = uri('linkajax') + "stockHistory/update_simple"
	var simple_date  = $("input[name=simple-date]").val();
	var simple_close = $("input[name=simple-close]").val();
	var simple_krw   = $("input[name=simple-krw]").val();

	$.post(posturl, {s_d:simple_date,s_c:simple_close,s_k:simple_krw}, null, 'json' ).done(function(data){ 

		if(data=='OK') {location.reload(); h_dialog.notice("주가 정보가 업데이트 되었습니다")}
		else {h_dialog.notice(data);}
	});

}

$('#price-chart-div').draggable();
</script>

{% endblock %}