{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->
<div class="clearfix" style='margin:10px 0px 5px 0px'>
{% if D['Cat_use'] %}
	<div class="pull-left">
		<form method='post' name='category_search' action="{{D['_bse']}}board/list/{{D['bid']}}" style='display:inline;'>
			{%- for cats in D['CAT_LIST'] %}
			<div class='myselect' style='margin-right:5px;'>
				{%- if cats['chked'] %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="color:black;width:100px;background-color:#b5daff" value="{{cats['value']}}" />
				{%- else %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="width:100px" value="{{cats['value']}}" />
				{%- endif %}
				<div class='btn-group'>
					<button class="btn btn-select dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class='dropdown-menu'>
						<li><a> {{cats['title']}} </a></li>
						{%- for li in cats['lists'] %}
						<li><a href="#"> {{li[0]}} </a></li>
						{% endfor -%}
					</ul>
				</div>
			</div>
			{% endfor -%}
			<input type="hidden" name="list_filter" value="{{D['list_filter']}}" >
		</form>
	</div>
{% endif -%}
	<div class='pull-right'>
		<input  type="hidden" name="search_field" value="기록일자" />
		<input  id="search_input2" type='text' name='search_value' value="{{D['search']}}" style='height:24px;vertical-align:baseline;width:120px;text-align:center' />
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="list_search2()">검색</button>
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="location.href='{{D['_bse']}}board/list/{{D['bid']}}/csh=on'" >취소</button>
	</div>
</div>
<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->

{% if D['TR'] %}
<div class="row-row clearfix"> 
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col><col><col><col><col style="background-color:#24272d;border:2px solid black;">
			<col><col><col><col style="background-color:#24272d;border:2px solid black;"><col>
			<col><col><col><col><col>
			<col>			
		</colgroup>
		<thead>
			<tr>
				{% for key,val in D['head_td'].items() %}
				{{val|safe}}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if loop.index0 == D['cno'] %}
			<tr class="list-current-tr">
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>쓰 기</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>

<script>
var selected_tr = null
$(document).ready(function(){ 
	$("#search_input2").Zebra_DatePicker({format:'Y-m-d', offset:[-150,280], first_day_of_week : 0});
	$(".todo_today").click(function(){
		if( selected_tr ) {
			$(selected_tr).css("backgroundColor",'')
			h_dialog.close("ST_TIPS"); 
			selected_tr = null
			return;
		} else 
		{
			selected_tr = $(this).parent()
			$(selected_tr).css("backgroundColor","black")
			var url = uri('linkurl') + 'boards-stock_today_tips/hellow/no='+$(this).attr('data-no');
			var ypos= $(this).closest('table').get(0).offsetTop + this.offsetTop + this.offsetHeight + 5 
			var o = {id:'ST_TIPS', width:'1193px', x:20, y:ypos,header:false,footer:false,drag:false}
			h_dialog.load(url,o);
		}
	});
});
</script>

{% endblock %}