{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->

<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->
<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>

<div style="height:370px;background-color:#24272d;padding:10px;border-top:2px solid black;border-left:2px solid black;border-right:2px solid black">
	<div style="position:absolute;left:30px;top:60px;z-index:5;opacity:0.9">
		<canvas id="myChart_main"  style="width:1128px;height:350px;background-color:#24272d;"></canvas>
	</div>
	<div style="position:absolute;left:1164px;top:60px;">
	<!-- 우측 정보창( Next Strategy )-->
		{% if D['다음날자'] == D['주문확인'] %}
		<div id="Next-Strategy" style="height:350px;width:348px;background-color: #393f4a;border:2px solid black;padding:10px" >
		{% else %}
		<div id="Next-Strategy" style="height:350px;width:348px;background-color: #393f4a;border:4px solid rgba(243, 151, 108, 0.7);padding:10px">	
		{% endif %}

			<span style="font-style: italic;"><span style="color:gray">Strategy for </span><b>{{D['다음날자']}} ({{D['다음요일']}})</b></span>&nbsp;<br>
			
			{% if D['진행시작'] %}
			<table class="table" style="text-align:right;width:324px;margin-top:10px">
				<tr style="font-style:italic;border-bottom:1px solid gray;text-align:right;color:gray;">
					<td style="text-align:left;">Tactic</td><td>price</td><td>qty</td><td>ppa</td><td>ppl</td></tr>

				{% if D['매수대기'] %}
				<tr style="border-top:1px solid gray;text-align:right;color:#ffc4c4;">
					<td style="text-align:left;">L <span style="color:gray">buy</span></td><td>{{D['진입단가']}}</td><td>{{D['진입수량']}}</td>
					<td style="color:gray">{{D['매수평비']}}</td><td style="color:gray">{{D['매수종비']}}</td>
				</tr>
				{% endif %}
				{% if D['매도대기'] %}
				<tr style="border-top:1px solid gray;text-align:right;color:#c1e0ff;">
					<td style="text-align:left;">L <span style="color:gray">sell</span></td><td>{{D['목표단가']}}</td><td>{{D['보유수량']}}</td>
					<td style="color:gray">{{D['매도평비']}}</td><td style="color:gray">{{D['매도종비']}}</td>
				</tr>
				{% endif %}

			</table>
			{% else %}
			<div style="color:gray;width:348px;margin-top:10px;font-style:italic;">Lucky mode 진행 대기 상태입니다</div>
			{% endif %}
		</div>
	</div>
</div>


{% if D['TR'] %}

<div id="extra-info" class="clearfix" style="border:2px solid black;background-color:rgb(34, 33, 33);padding:5px 20px;margin-bottom:-2px">
	<div class="pull-left">
		{%- if D['누적수익'] %}
		<i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;<span class="exchange"> {{D['누적수익']}} ( {{D['실현수익']}} △ {{D['수수료합']}} )</span> &nbsp;
		{%- endif %}
	</div>
	<div class="pull-right" style="color:#222121;">
		<div id ='daily-check'>{{D['주문확인']}}</div>&nbsp;&nbsp;
		<form method='post' name='category_search' action="{{D['_bse']}}board/list/{{D['bid']}}" style='display:inline;'>
			{%- for cats in D['CAT_LIST'] %}
			<div class='myselect' style='margin:-8px -14px -10px 0px'>
				{%- if cats['chked'] %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="color:black;width:100px;background-color:#b5daff" value="{{cats['value']}}" />
				{%- else %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="width:100px" value="{{cats['value']}}" />
				{%- endif %}
				<div class='btn-group'>
					<button class="btn btn-select dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class='dropdown-menu'>
						<li><a> {{cats['title']}} </a></li>
						{%- for li in cats['lists'] %}
						<li><a href="#"> {{li[0]}} </a></li>
						{% endfor -%}
					</ul>
				</div>
			</div>
			{% endfor -%}
		</form>
	</div>
</div>

<div class="row-row clearfix"> 
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr style="background-color:#0A2229;">
					{% for key,val in D['head_td'].items() %}
					{{val|safe}}
					{% endfor %}
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if TR['add16']|striptags in ('익절매도','손절매도')  %}
			<tr style="background-color:black;"> 
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>쓰 기</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>

<script>
// 챠트 그리기(메인챠트) -----------------------------------------------------------------------------------------
const ctx_main = $id('myChart_main');
ctx_main.style.backgroundColor = '#33363b';
ctx_main.style.border = '2px solid black';

let labels_main     =  {{D['chart_date']|safe}}	 
let chart_len       =  labels_main.length
let close_price     =  {{D['close_price']|safe}}
let rsn_V_price     =  {{D['rsn_V_price']|safe}}
let luc_L_price     =  {{D['luc_L_price']|safe}}
	
let buy_price       =  {{D['매수가격']|safe}}	
let sell_price      =  {{D['매도가격']|safe}}	
//let n_avg_value     =  n_avg_origin.slice(ChartStart)  
//let target_buy      =  []
//let target_sel      =  [] 
//for(let x=0; x < chart_len; x++) { target_buy.push(t_buy);}
//for(let x=0; x < chart_len; x++) { target_sel.push(t_sel);}

const data_main = {
    labels : labels_main,
    datasets : [
		{   label:' 종가변동',data : close_price,borderColor:'#58ACFA', borderWidth:2, pointRadius:0, borderDash:[2,3],lineTension:0.2},
		{   label:' 참고평단',data : rsn_V_price,borderColor:'gray',    borderWidth:2, pointRadius:2, borderDash:[2,3],lineTension:0.2},
		{   label:' 럭키평단',data : luc_L_price,borderColor:'#f4d980', borderWidth:2, pointRadius:2, backgroundColor:'#f4d980',lineTension:0.2},
		{   label:' 매수가격',data : buy_price, borderColor:'#ffc4c4',  borderWidth:1, pointRadius:0, borderDash: [2,2]},
		{   label:' 매도가격',data : sell_price,borderColor:'yellow',   borderWidth:1, pointRadius:0, borderDash: [2,2]},
    ]   
};
const options_main = {
	animation : { duration:500},

	plugins : { legend: {display:false}, tooltip:{enabled:true}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x: { ticks : {color:'gray'}, grid:{color:'#272727'}},
        y: { ticks : {color:'lightgray'}, grid:{color:'#272727'},position:'right'},
    }
};
const config_main  = {type:'line',data:data_main,options:options_main};
const myChart_main = new Chart(ctx_main, config_main); 
// ------------------------------------------------------------------------------------------------------------------------
// 각 전략 내용 보기

$("#daily-check").on('dblclick', function() {
	$(this).attr("contenteditable",true).addClass('daily-check-on');
	$(this).on('keydown',function(e){
		if(e.which==13) {
			$(this).attr("contenteditable",false).removeClass('daily-check-on');
			let odrday  = $(this).text(); odrday = $.trim(odrday);
			let posturl = uri('linkurl')+'boards-rsnlog_ajax/dailyCheckUpdate';
			$.post(posturl,{odrday:odrday,option:'LUCKY'}).done(function(){location.replace(location.href);}); 
		} else if(e.which==69) {$(this).attr("contenteditable",false).removeClass('daily-check-on');}
	});
});
</script>

{% endblock %}