{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->
<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->
<script src="/sys/chart/chart.min.js"></script>
<script src="/sys/chart/chartjs-plugin-datalabels.min.js"></script>
<div class="clearfix" style="width:100%;background-color:#24272d;padding:20px;border-top:2px solid black;border-left:2px solid black;border-right:2px solid black">
	<div class="pull-left" style="margin-right:20px">
		<canvas id="myChart"  style="width:1100px;height:350px;background-color:#24272d;"></canvas>
	</div>
	<div class="pull-left">
		<canvas id="myChart2" style="width:220px;height:350px;background-color:#24272d"></canvas>
	</div>
</div>

{% if D['TR'] %}
<div class="row-row clearfix" style="margin-bottom:-2px;"> 
	<div class='well' style="color:{{D['info_color']}}">
		<div style="display:inline-block;width:375px;padding-left:20px" >
			<i class="fa fa-calendar"></i> {{D['경과일수']}} &nbsp;
			<i class="fa fa-sign-in"></i> {{D['총입금']}} &nbsp;
			<i class="fa fa-sign-out"></i> {{D['총출금']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['총수익금']}} &nbsp; <i class="fa fa-line-chart"></i> {{D['총수익률']}}% &nbsp;
			
		</div>
		<div style="display:inline-block;width:470px;" >
			<i class="fa fa-bars"></i> {{D['평단가1']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['수익금1']}} &nbsp; <i class="fa fa-line-chart"></i> {{D['수익률1']}}% &nbsp;
			<i class="fa fa-download"></i> {{D['배당금']}} &nbsp;
		</div>
		<div style="display:inline-block;" >
			<i class="fa fa-bars"></i> {{D['평단가2']}} &nbsp;
			<i class="fa fa-usd"></i> {{D['수익금2']}} &nbsp; <i class="fa fa-line-chart"></i> {{D['수익률2']}}% &nbsp;
			<i class="fa fa-expand"></i> {{D['need_cash']}} &nbsp;
			{{D['대응전략']}} &nbsp; <i class="fa fa-credit-card"></i> {{D['bottom_price']}} &nbsp;
			<i class="fa fa-shopping-cart"></i> {{D['bottom_count']}} &nbsp;
		</div>
	</div> 
</div>
<div class="row-row clearfix">
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
				<th style="background-color:#071418;font-style:italic">Progress</th>
				<th style="background-color:#0A2229;text-align:right;">입금</th>
				<th style="background-color:#0A2229;text-align:right;">출금</th>
				<th colspan='2' style="background-color:#0A2229;font-style:italic">US dollar</th>
				
				<th style="background-color:#0B2F3A;text-align:right">매수금</th>
				<th style="background-color:#0B2F3A;text-align:right">매도금</th>
				<th colspan='4' style="background-color:#0B2F3A;font-style:italic">Dividend Stock</th>

				<th colspan='6' style="background-color:#0A2229;font-style:italic">Leverage Stock</th>

				<th style="background-color:#071418;;font-style:italic">Total</th>
			</tr>
			<tr>
				<th style="background-color:#071418;font-style:italic">Diary</th>
				<th style="background-color:#0A2229;text-align:right">{{D['총입금']}}</th>
				<th style="background-color:#0A2229;text-align:right">{{D['총출금']}}</th>
				<th style="background-color:#0A2229;text-align:right">잔액</th>
				<th style="background-color:#0A2229;text-align:right">비중</th>

				<th style="background-color:#0B2F3A;text-align:right">{{D['매수금1']}}</th>
				<th style="background-color:#0B2F3A;text-align:right">{{D['매도금1']}}</th>
				<th style="background-color:#0B2F3A;text-align:right">수량</th>
				<th style="background-color:#0B2F3A;text-align:right">종가</th>
				<th style="background-color:#0B2F3A;text-align:right">가치</th>
				<th style="background-color:#0B2F3A;text-align:right">비중</th>

				<th style="background-color:#0A2229;text-align:right">{{D['매수금2']}}</th>
				<th style="background-color:#0A2229;text-align:right">{{D['매도금2']}}</th>
				<th style="background-color:#0A2229;text-align:right">수량</th>
				<th style="background-color:#0A2229;text-align:right">종가</th>
				<th style="background-color:#0A2229;text-align:right">가치</th>
				<th style="background-color:#0A2229;text-align:right">비중</th>
				<th style="background-color:#071418;;font-style:italic">Value</th>
			</tr>


		</thead>
		<tbody>
			{%- for TR in D['TR'] -%}
			{% if loop.index0 == D['cno'] %}
			<tr class="list-current-tr">
			{% else %}
			<tr> 
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>쓰 기</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>


<script>

// 챠트 그리기
const ctx = $id('myChart');
const ctx2= $id('myChart2');

ctx.style.backgroundColor = '#33363b';
ctx.style.border = '2px solid black';

let labels = {{D['chart_date']|safe}};
const data = {
    labels : labels,
    datasets : [
		{
            label:' 최대가치',
            data : {{D['chart_max']}},
            pointStyle:'circle', borderWidth:2,pointRadius:0,borderColor:'#f78181',backgroundColor:'#f78181',
			lineTension:0.2

        },
        {
            label:' 현재위치',
            data : {{D['chart_cur']|safe}},
            borderColor:'yellow', borderWidth:4,pointRadius:0, pointHoverRadius:24, backgroundColor:'yellow',
			lineTension:0.2

        },
        {
            label:' 현금위치',
            data : {{D['chart_cash']|safe}},
            borderColor:'rgba(75, 192, 192, 0.8)', borderWidth:2,borderDash:[2,3],pointRadius:0,
			lineTension:0.2

        },
        {
            label:' 합계위치',
            data : {{D['chart_total']|safe}},
            borderColor:'rgba(75, 192, 192, 0.8)', borderWidth:4,pointRadius:0,
			lineTension:0.2

        },

        {
            label:' 배당위치',
            data : {{D['chart_dividend']|safe}},
            borderColor:'lightpink', borderWidth:2,borderDash:[2,3],pointRadius:0,
			lineTension:0.2

        },

        {
            label:' 목표가치',
            data : {{D['chart_target']}},
            borderColor:'lightgray', borderWidth:1,pointRadius:0,  backgroundColor:'lightgray',
			lineTension:0.2

        },

        {
            label:' 최소가치',
            data : {{D['chart_min']}},
            borderColor:'#58ACFA', borderWidth:2, pointRadius:0,  backgroundColor:'#58ACFA',
			lineTension:0.2,
			fill:true,
			backgroundColor:'rgba(11,47,58,0.3)'
        },

    ]   
};
const options = {
	animation : { duration:1000	},

	plugins : { legend: {display:false}, tooltip:{enabled:false},
				title:{display:true, text:'Current Value : {{D['current_value']}} / {{D['target_value']}}',color:'lightgray',align:'end',font:{size:14}}},
    responsive:false,
    layout:{padding:20},
    scales:{
        x:{ ticks : {color:'gray'}, grid:{color:'#272727'}},
        y:{ ticks : {color:'lightgray'}, grid:{color:'#272727'} }
    }
};
const config  = {type:'line',data:data,options:options};
const myChart = new Chart(ctx, config); 
//


const labels2 = ['Cash','Dividend','Leverage'];
const data2 = {
  labels: labels2,
  datasets: [{
    label: ' 자산배분비율 ',
    data: {{D['chart_percent']}},
    backgroundColor: [ 'rgba(75, 192, 192, 0.4)','rgba(255, 99, 132, 0.4)','rgba(255, 205, 86, 0.4)'],
    borderColor: [ 'rgb(75, 192, 192)','rgb(255, 99, 132)','rgb(255, 205, 86)'],
    borderWidth: 1
  }]
};

const config2 = {
  type: 'bar',
  data: data2,
  plugins:[ChartDataLabels],
  options: {
	animation : {duration:1000},
    plugins : { legend: {display:false},
				tooltip : {enabled:false},
				datalabels : {color:'white', anchor:'start', align:'end', offset: 3, font:{size:14}}			
	},
    scales: {
      y: {
		grid : {
			lineWidth:2,
			color: function(context) {
				if(context.tick.value == 20 || context.tick.value == 60 ) { return 'black'} else return ''
			}
		},
        beginAtZero: true
      }
    }
  },
};

const myChart2 = new Chart(ctx2, config2); 
</script>


{% endblock %}