{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_list %}
<!-- 리스트 상부 카테고리 시작 -->
<div class="clearfix" style='margin:10px 0px 5px 0px'>
{% if D['Cat_use'] %}
	<div class="pull-left">
		<form method='post' name='category_search' action="{{D['_bse']}}board/list/{{D['bid']}}" style='display:inline;'>
			{%- for cats in D['CAT_LIST'] %}
			<div class='myselect' style='margin-right:5px;'>
				{%- if cats['chked'] %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="color:black;width:80px;background-color:#b5daff" value="{{cats['value']}}" />
				{%- else %}
				<input placeholder="{{cats['title']}}" name="csh_{{cats['fkey']}}" id="{{cats['id']}}" type="text" style="width:80px" value="{{cats['value']}}" />
				{%- endif %}
				<div class='btn-group'>
					<button class="btn btn-select dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class='dropdown-menu'>
						<li><a> {{cats['title']}} </a></li>
						{%- for li in cats['lists'] %}
						<li><a href="#"> {{li[0]}} </a></li>
						{% endfor -%}
					</ul>
				</div>
			</div>
			{% endfor -%}
		</form>
	</div>
{% endif -%}
	<div class='pull-right'>
		{{D['earning_info']|safe}}&nbsp;&nbsp;
		<input  type="hidden" name="search_field" value="기록일자" />
		<input  id="search_input2" type='text' name='search_value' value="{{D['search']}}" style='height:24px;vertical-align:baseline;width:120px;text-align:center' />
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="list_ontheday()">검색</button>
		<button class='btn btn-black btn-small' style="height:25px;vertical-align:top;" onclick="location.href='{{D['_bse']}}board/list/{{D['bid']}}/csh=on'" >취소</button>
	</div>
</div>
<!-- 리스트 상부 카테고리 종료 -->

<!-- 리스트 메인 테이블 시작 -->

{% if D['TR'] %}
<div class="row-row clearfix"> 
	<table class='table table-striped table-hover' style="border:2px solid black">
		<colgroup>
			<col> <!--코드(add1)-->
			<col> <!--시즌(add2)-->	
			<col> <!--일수(add3)-->
			<col> <!--회차(add4)-->
			<col> <!--기록일자(add0)-->
			<col style="border-left:1px solid rgb(131, 163, 252);border-right:1px solid rgb(131, 163, 252);"> <!--당일종가(add5)-->
			<col> <!--체결단가(add6)-->
			<col> <!--체결수량(add7)-->
			<col> <!--매수금액(add8)-->
			<col style="border-left:1px solid darkorange;border-right:1px solid darkorange;"> <!--평균단가(add9)-->
			<col> <!--보유수량(add10)-->
			<col> <!--평가금액(add11)-->
			<col> <!--총매수금(add12)-->
			<col> <!--매매현황-->
			<col> <!--수익현황-->
			<col> <!--수익률(add15)-->
			<col> <!--가용잔액(add16)-->
			<col> <!--진행상황(add18)-->
		</colgroup>
		<thead>
			<tr style="background-color:#272a31;border-bottom:2px solid black">
				{% for key,val in D['head_td'].items() %}
				{{val|safe}}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% if D['BCONFIG']['row_sum'] == 'on' and D['search'] %}
			<tr id="list-sum">{{D['row_sum']|safe}}</tr>
			{% endif %}
			{%- for TR in D['TR'] -%}
			{% if TR['add18']|striptags == '전량매도' or TR['add18']|striptags == '부분매도' %}
			<tr style="border-top:2px solid yellow;border-bottom:2px solid yellow;background-color:black;"> 
			{% elif TR['add18']|striptags == '강제매도' %}
			<tr style="border-top:2px solid orange;border-bottom:2px solid orange;background-color:black;"> 
			{% elif TR['add18']|striptags == '전략매도' or TR['add18']|striptags == '임의매도' %}
			<tr style="border-top:2px solid #A9D0F5;border-bottom:2px solid #A9D0F5;background-color:black;">
			{% else %}
			<tr>
			{% endif %}
			{% for key,val in TR.items() %}
			{{val|safe}}
			{% endfor %}
			</tr>
			{%- endfor %}
			{% if D['code'] and D['season'] %}
			<tr style="border-top:2px solid black;">
				<td>정보</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="text-align:right;color:#E0F2F7">{{D['종가변동']}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td style="text-align:right;color:#F6CECE">{{D['평가변동']}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row-row clearfix"> 
	<div class='well'><strong>안내사항 :</strong> 현재 작성된 글이 없거나 검색결과에 일치하는 데이타가 없습니다.  </div> 
</div>
{% endif %}
<!-- 리스트 메인 테이블 종료 -->

<!-- 하단 버튼 [ 목록 쓰기] [페이지네이션]-->
<div class="row-row clearfix">
	<div class='pull-left'>
		<a href="{{D['_bse']}}board/list/{{D['bid']}}"><button class='btn btn-small btn-blue'>목 록</button></a>
		<a href="{{D['_bse']}}board/write/{{D['bid']}}{{D['Searchplus']}}"><button class='btn btn-small btn-red'>쓰 기</button></a>&nbsp;
	</div>
	<div class='pagination pull-right'><ul>
		{{D['Pagination']|safe}}
	</ul></div>
</div>
{% if D['chart_code'] and D['chart_season'] %}
<div>
	<img src="/DOCU_ROOT/개인자료/주식투자/주식챠트/{{D['bid']}}_stock_chart_{{D['chart_code']}}_{{D['chart_season']}}.png" style="border:1px solid black">
</div>
{% endif %}

<script>
function open_stock_chart(stock) {
	winopen('winopen/chart2/'+stock,820,450,'stock_chart'+stock)
}

function list_ontheday() { 
	var search = $("input[name='search_value']").val(); if(! search ) return;
	var url = uri('linkurl') + 'board/list/{{D['bid']}}/search=' + search + '/search_f=기록일자/csh=off' ;
	location.href = url; 
}

var selected_tr = null
$(document).ready(function(){ 
	$("#search_input2").Zebra_DatePicker({format:'Y-m-d', offset:[-150,280], first_day_of_week : 0,onSelect:function(){list_ontheday()}});
	$(".todo_today").click(function(){
		if( selected_tr ) {
			$(selected_tr).css("backgroundColor",'')
			h_dialog.close("ST_TIPS"); 
			selected_tr = null
			return;
		} else 
		{
			selected_tr = $(this).parent()
			$(selected_tr).css("backgroundColor","black")
			var url = uri('linkurl') + 'boards-stock_today_tips/hellow/no='+$(this).attr('data-no')+"/tbl={{D['tbl']}}";
			var ypos = mouse_Y
			// var ypos= $(this).closest('table').get(0).offsetTop + this.offsetTop + this.offsetHeight
			if(ypos > 400) ypos = ypos-250
			var o = {id:'ST_TIPS', width:'350px', x:240, y:ypos,header:false,footer:false,drag:false}
			h_dialog.load(url,o);
		}
	});
});
</script>

{% endblock %}