{% include D['_skn'] + 'admin/common_head.html' %}

<div id='sidebar'>
	<ul>
		<li class='active'><a href="{{D['_bse']}}admin/board"><i class='fas fa-edit'></i> <span> 보드관리메인 </span></a></li>
        {% for val in D['bgrp'] %}
            <li class="{{'active submenu open' if val['sec'] == D['sec'] else 'submenu'}}">
            <a href='#'><i class='fa fa-th-list'></i> <span> {{val['sec']}} </span> <span class='label'> {{val['cnt']}} </span></a>
            <ul>
            {% for b_list in D[val['sec']] %}
                <li class="{{'active' if b_list['bid'] == D['bid'] else ''}}">
                    <a href="{{D['_bse']}}admin/board_edit/bid={{b_list['bid']}}/sec={{b_list['section']}}"> {{b_list['title']}} </a>
                </li> 
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
	</ul>
</div>

<div id='content'>
	<div id='content-header'>
		<h1> Delete A Board </h1>

		<div class='btn-group'>
			<a href="{{D['_bse']}}admin/board" class='btn btn-large' title='보드 추가하기'><i class='fa fa-plus'></i></a>
			<a href="{{D['_bse']}}admin/board_delete" class='btn btn-large' title='보드 삭제하기'><i class='fa fa-minus'></i></a>
			<a href="{{D['_bse']}}admin/board_copy" class='btn btn-large' title='보드 복제하기'><i class='fa fa-clone'></i></a>
			<a href="{{D['_bse']}}admin/board_sort" class='btn btn-large' title='메뉴 순서 설정'><i class='fa fa-list-ol'></i></a>
		</div>
	</div>
	<div id='breadcrumb'>
		<a href='#' title='HOME' class='tip-bottom'><i class='fa fa-home'></i> Home</a>
		<a href='#' > ADMIN </a>
		<a href='#' > BOARD </a>
		<a href='#' class='current'> BOARD DELETE </a>
	</div>

	<div id='style-switcher'>
		<span>Style : </span>
			<a href="" style="background-color: #555555;"></a>
			<a href="" style="background-color: #2D2F57;"></a>
			<a href="" style="background-color: #673232;"></a>
	</div>

	<div class='container'>
		<div class='row'>
			<div class='span12'>
				<div class='widget-box'>
					<div class='widget-title'><span class='icon'><i class='fa fa-th-list'></i></span><h5>보드 복사</h5></div>
					<div class='widget-content nopadding'>
						<form id='adminBoardB_copy' action="{{D['_bse']}}admins-action/board_copy" method="post" class="form-horizontal" >
							<div class='control-group'>
								<label class='control-label'>복사할보드선택 : </label>
								<div class='controls'>
									<input type='text' name='c_bid' style='width:150px' />
										<select  name='s_bid' style='background:#CCFFFF;display:inline-block;width:150px;' >
										<option selected='selected' value=''> 섹션선택 </option>
										{% for val in D['section_list'] : %}
										<option value="{{val[0]}}"> {{val[0]}} </option>
										{% endfor %}
									</select>&nbsp;&nbsp;
									<span id='copy_section'>&nbsp;</span>
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'>새보드 이름 : </label>
								<div class='controls'>
									<input type='text' name='n_bid' style='width:150px' />
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'>새보드 타이틀 : </label>
								<div class='controls'>
									<input type='text' name='n_tle' style='width:150px' />
								</div>
							</div>
							<div class="form-actions" style='margin:0;padding:0px 170px;'>
								<button type="submit" class="btn btn-danger" style='width:150px;'><i class='icon-ok'></i>&nbsp;COPY A BOARD</button>
							</div>
						</form>
					</div><!-- widget-content -->
				</div><!-- widget-box -->
			</div><!-- span12 -->
		</div><!-- row -->
	</div><!-- container -->


<script type='text/javascript'>
$(document).ready(function(){
	$("select[name='s_bid']").change( function() {
		var posturl = uri('linkurl') + 'admins-ajax/board_list';
		$.post( posturl, { section : this.value, target : 'c_bid' },function(data) { $('#copy_section').html(data); } );
	}); 
}); 
</script>

{% include D['_skn'] + 'admin/common_tail.html' %}