{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}
<div class="row-row">
<div style="position:fixed;left:20px;top:30px;width:{{D['xwidth']}};background-color:#33363b;">
<br>
<div class="well clearfix" style="border-radius:0px">
    <form method='post' name='stock_back_testing' action="{{D['_bse']}}page/backtest/{{D['bid']}}" onsubmit='return check_thisForm()'>
    <div class="pull-left">
    <div class='select' style='margin-right:10px;vertical-align:bottom'>
        <input placeholder='종목코드' name='code' type='text' value="{{D['code']}}">
            <div class='btn-group'>
                <button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    <ul class='dropdown-menu'>
                        <li><a>종목코드</a></li>
                        {% for cdx in D['sel_codes'] %}
                        <li><a href='#'>{{cdx}}</a></li>
                        {% endfor %}
                    </ul>
            </div>
    </div>
    <div class='select' style='margin-right:10px;vertical-align:bottom'>
        <input placeholder='매매전략' name='strategy' type='text' value="{{D['strategy']}}" style="width:170px">
            <div class='btn-group'>
                <button class='btn btn-select dropdown-toggle' data-toggle='dropdown' tabindex='-1'><span class='caret'></span></button>
                    <ul class='dropdown-menu'>
                        <li><a>매매전략</a></li>
                        {% for stg in D['sel_strategy'] %}
                        <li><a href='#'>{{stg}}</a></li>
                        {% endfor %}
                    </ul>
            </div>
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 초기 자본금</div>
        <input type='text' name='capital' class="i-number" style="width:80px;text-align:center;" value="{{D['capital']}}">
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 추가 자본금</div>
        <input type='text' class="i-number" name="addition" style="width:80px;text-align:center;" value="{{D['addition']}}">
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 초기 진행률</div>
        <input type='text' name="progress" style="width:60px;text-align:center;" value="{{D['progress']}}">
    </div>
    </div> <!--pull left-->
    <div class="pull-right">
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 시작일자</div>
        <input type='text' name='start_date' class="i-date" value="{{D['start_date']}}" style="width:110px;text-align:center;">
    </div>
    <div class='i-input-div'>
        <div class='write-input-left' style="background-color:#333F4F;text-align:center;"> 종료일자</div>
        <input type='text' name='end_date' class="i-date" value="{{D['end_date']}}" style="width:110px;text-align:center;">
    </div>
    <button class="btn btn-red-s3" style="vertical-align:middle;">테스팅</button>
    </div> <!--pull right-->
    </form>
</div> 

<div id="myChart2-div" class="clearfix" style="width:100%;background-color:#24272d;padding:10px;border:2px solid black;">
	<div class="pull-left" style="margin-right:20px">
		<canvas id="myChart2"  style="width:1210px;height:350px;background-color:#24272d;"></canvas>
	</div>
	<div class="pull-left">
		<canvas id="myChart3" style="width:220px;height:350px;background-color:#24272d"></canvas>
	</div>
</div>

{% endblock %}
