/* Mouse Over Style 2019-07-15 */
.body-myfile, .body-myimage { font-weight:bold; border-bottom:5px solid red;cursor:pointer; color:#000000}
.body-mydocu { font-weight:bold; border-bottom:5px solid red;cursor:pointer; }
.img-thumbs  { border-radius:4px; border: 1px solid black;max-width:715px;}

A:link {color:#086a87; font-weight:bold}
[data-myfile] {font-weight:bold;color:#003651}
[data-mylocal] { font-weight:bold }
[data-myimage] { font-weight:bold; cursor:pointer }
[data-mydocu]  { font-weight:bold; cursor:pointer }
[data-myprog]  { font-weight:bold; cursor:pointer }
/* ////////////////////////////////////////////////////////////////////////////////////////////////
// 본문 작석용 클래스 모음입니다. 
//////////////////////////////////////////////////////////////////////////////////////////////// */
.A4h, .A4w, .A4hx, .A4wx {min-height:50mm; color:black; background-color:white;box-shadow: 0 0 0.5cm rgba(0,0,0,0.6);padding:1cm; border-radius:6px; margin-bottom:20px;opacity:0.96;page-break-after:always}
.A4h  {width:210mm; max-height:290mm }
.A4w  {width:297mm; max-height:203mm }
.A4hx {width:210mm; min-height:100mm }
.A4wx {width:297mm; min-height:100mm }

.pbox  { color:black; background-color:#f3f3f3; padding:5px 10px; border:1px solid black; margin-bottom:10px; border-radius:4px; }
.sbox  { background-color:#e6e6e6;padding:5px;border-radius:4px;}
.sbox + .p-title {margin-top:10px}
.black {background-color:black; color:white;padding:5px;border-radius:4px;}

.block1, .block0 { display:inline-block; padding:5px; border:1px solid gray; border-radius: 6px 6px 0px 0px; 
 margin-bottom:-1px; margin-left:1px}
.block0 { background-color:#0b3b0b; font-weight:700 }

.p-title {margin-bottom:0px; font-weight: bold; font-size:16px; border-bottom:2px solid gray; margin-bottom:10px;}
.s-title {font-weight:bold; color: #8A4B08;font-size:15px}

.text-red {font-weight:bold;color:red;}

.table-th {background-color:#0B2161; color:white; font-weight:bold; }