{% extends D['_skn'] + 'page/my_dark/main_layout.html' %}

{% block contents_page  %}

<div class="row-row clearfix"> 
	<table class='table table-bordered table-striped table-hover'>
		<thead>
			<tr>
                <th>no</th></th><th>날자</th><th>종가</th><th>시가</th><th>고점</th><th>저점</th><th>볼륨</th><th>증감</th>
			</tr>
		</thead>
		<tbody>
			{%- for TR in D['S_DATA'] -%}
			<tr>
                {%- for key,val in TR.items() -%}
                    <td>{{val}}</td>
                {% endfor %}
            </tr> 
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}