{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_write %}
<form id='YHBmainEditorForm' method="POST" action="{{D['Form_act']}}" onsubmit='return check_MainWriteForm(this)' >
<input type='hidden' name='mode'	value="{{D['Mode']}}" >
<input type='hidden' name='uid'		value="{{D['USER']['uid']}}" >
<input type='hidden' name='uname'	value="{{D['USER']['uname']}}" >
<textarea  name='content' style="display:none"></textarea>

<table class='table' style="border:2px solid black;border-radius:4px;width:{{D['w_width2']}}">
<tbody>
    <tr>
        <td class='write-td-left'>기본정보</td>
		<td class="write-td-right" style="background-color:#393e4a">
			<div class='i-input-div'>
				<div class='write-input-left'>진행일자</div>
				{% if D['Mode'] == 'modify' %}
				<input type='text' name='add0' disabled style="width:150px;text-align:center" value="{{D['BODY']['add0']}}">
				{% else %}
				<input type='text' name='add0' class="i-date" style="width:150px;text-align:center" value="">
				{% endif %}
            </div>
            <button class="btn btn-blue"  onclick="auto_datainput();return false">이전정보</button>&nbsp;&nbsp;
            <button class="btn btn-blue-s4" onclick="auto_calculate();return false">자동계산</button>&nbsp;&nbsp;
            <button class="btn btn-blue-s4" onclick="auto_suggest();return false">리셋하기</button>&nbsp;&nbsp;
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>현금투자</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">입금</div>
				<input type='text' name='add1' class="i-number" style="width:100px;" value="{{D['BODY']['add1']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">출금</div>
				<input type='text' name='add2' class="i-number" style="width:100px;" value="{{D['BODY']['add2']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">잔액</div>
				<input type='text' name='add3' class="i-number" style="width:110px;" value="{{D['BODY']['add3']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add4' class="i-number" style="width:100px;" value="{{D['BODY']['add4']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>JEPI</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add5' class="i-number" style="width:100px;" value="{{D['BODY']['add5']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add6' class="i-number" style="width:100px;" value="{{D['BODY']['add6']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">수량</div>
				<input type='text' name='add7' class="i-number" style="width:110px;" value="{{D['BODY']['add7']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add10' class="i-number" style="width:100px;" value="{{D['BODY']['add10']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add8' class="i-number" style="width:100px;" value="{{D['BODY']['add8']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add9' class="i-number" style="width:100px;" value="{{D['BODY']['add9']}}">
			</div>
			<div style="display:inline-block;width:227px">
                &nbsp;
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>TQQQ</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add11' class="i-number" style="width:100px;" value="{{D['BODY']['add11']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add12' class="i-number" style="width:100px;" value="{{D['BODY']['add12']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">수량</div>
				<input type='text' name='add13' class="i-number" style="width:110px;" value="{{D['BODY']['add13']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add16' class="i-number" style="width:100px;" value="{{D['BODY']['add16']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add14' class="i-number" style="width:100px;" value="{{D['BODY']['add14']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add15' class="i-number" style="width:100px;" value="{{D['BODY']['add15']}}">
			</div>
			<div style="display:inline-block;width:227px">
                &nbsp;
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>투자상황</td>
		<td class="write-td-right">
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">최소가치</div>
				<input type='text' name='add18' class="i-number" style="width:100px;" value="{{D['BODY']['add18']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">목표가치</div>
				<input type='text' name='add19' class="i-number" style="width:100px;" value="{{D['BODY']['add19']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">현재가치</div>
				<input type='text' name='add17' class="i-number" style="width:110px;" value="{{D['BODY']['add17']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">최대가치</div>
				<input type='text' name='add20' class="i-number" style="width:100px;" value="{{D['BODY']['add20']}}">
			</div>
        </td>
    </tr>
</tbody>
</table>
<div style="margin-top:-12px;width:{{D['w_width2']}}">
    {% include D['_skn'] + 'board/my_dark/write/basic_editor_tools.htm' %}
</div>
<!-- BEGIN ====================================================================================== -->
<div style="position:relative;width:{{D['w_width1']}}">
<div id="selectedMarkL"></div>	
<div id="write-wrap" style="float:left;width:{{D['w_width2']}};z-index:3">
<div id="YHBmainEditor">
{% if D['Mode'] == 'modify' -%} 
{{D['OBODY']['content']|safe}}
{% else %} 
<div><p>#</p></div>
{%- endif %}
</div><!-- YHBmainEditor  -->
<!-- 하단 요소====================================================================================== -->
<div class="clearfix" style="padding:0px;border:1px solid black;background-color:#393E4A">
	<div class="pull-left">
		<a href="{{D['_bse']}}board/list/{{D['bid']}}/csh=on"><span class="btn btn-small btn-blue" style="height:30px;">목록</span> </a>
		{%- if D['Mode'] == 'modify' -%}
		<a onclick="delete_confirm('{{D['_bse']}}boards-action/delete/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}')">
			<span class="btn btn-small btn-red-s4" style="height:30px">삭제</span>
		</a>
		{%- endif -%}
	</div>
	<div class="pull-right">
		<button class="btn btn-small btn-red-s3" style="height:30px">저장</button>
	</div>
</div>
<div id="choicedMark"   style="left:{{D['w_width2']}}"></div>
<div id="selectedMarkR" style="left:{{D['w_width2']}}"></div>
</div>
<!-- END ====================================================================================== -->
</form>
{% include D['_skn'] + 'board/my_dark/write/side_editor_tools.htm' %}

<!-- 표관련 메뉴 -->
<div id='tableMenu' class="rightClickMenu" style='display:none;'>
	<li onclick="$('#tableMenu').hide()"> 메뉴감추기 </li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('left')">좌측컬럼 추가</li>
	<li onclick="JYHEDITOR.addRowCol('right')">우측컬럼 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('up')">위쪽행 추가</li>
	<li onclick="JYHEDITOR.addRowCol('down')">아래행 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('col')">현재컬럼 삭제</li>
	<li onclick="JYHEDITOR.addRowCol('row')">현재 행 삭제</li>
</div>


<script>
JYHEDITOR.start('YHBmainEditor');

function check_MainWriteForm(f)	{	
	var wDiv = $id("YHBmainEditor");
	JYHEDITOR.clearDocuSelect();
	f.content.value = wDiv.innerHTML;
	if(check_FormInput(f,{{D['ChkField']|safe}})) return false;
	return true;
}

function open_style_edit() {
	var furl = uri('linkurl')+"filemanagers-fedit/open/bodyCss.css"; 
	var specs = "height=700,width=1200,status=no,menubar=no,location=no,titlebar=no,scrollbars=yes";
	window.open(furl,'css_editor', specs);
}

function form_basic(opt) {
	var html;
	$('#contextMenu').hide()
	switch (opt){
		case  'A1'  : html= '\n<div class="pbox">\n<p>글입력</p>\n</div>\n'; break;	
		case  'A2'  : html= '\n<div class="pbox">\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n</div>\n'; break;
		case  'B1'  : html= '\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n'; break;
		case  'A4h' : html= '\n<div class="A4h">\n<p>글내용</p>\n</div>\n'; break;
		case  'A4w' : html= '\n<div class="A4w">\n글내용\n</div>\n'; break;
	}
	if(docuSelected != null) { $(docuSelected).before(html); JYHEDITOR.selectedMark();} 
	else $("#YHBmainEditor").append(html); 
	
}

JYHEDITOR.UserTable = function() {
	if(docuSelectedType != 'TD') return;
	$("#tableMenu").css({left:mouse_X - 20 , top:mouse_Y }).toggle();
}

function auto_datainput() {

	var dest = "boards-stock_longterm/autoinput/{{D['tbl']}}"
    var posturl = uri('linkurl')+ dest 
	var postData = {}
    postData['add0']  = $("input[name='add0']").val()

    $.post( posturl, postData).done(function(data)  {
        var ans = JSON.parse(data)
        var update_key  = ['add3','add7','add8','add13','add14']
			update_key.forEach(function(i){$("input[name='"+i+"']" ).val(ans[i])})        
    });
}

function auto_calculate() {
	
	const 현재일  = $("input[name='add0']").val()
	const 기준일  = '2022-04-12'

	const date1= new Date(현재일)
	const date2= new Date(기준일)
	const diffDate = date1.getTime() - date2.getTime()
	const diffDays = diffDate/(1000*3600*24) 
	
	const 입금    = txt_to_num('add1','i');
    const 출금    = txt_to_num('add2','i');
    const 매수금1 = txt_to_num('add5','f');
    const 매도금1 = txt_to_num('add6','f');
    const 매수금2 = txt_to_num('add11','f');
    const 매도금2 = txt_to_num('add12','f');
    const 종가1   = txt_to_num('add8','f');
    const 수량1   = txt_to_num('add7','i');
    const 종가2   = txt_to_num('add14','f');
    const 수량2   = txt_to_num('add13','i');
    let   잔액    = txt_to_num('add3','i');

	잔액    = (잔액+입금+매도금1+매도금2-출금-매수금1-매수금2)
	let 목표가치 = 6860 * (1+0.002)**diffDays
    
    let 가치1   = (종가1 * 수량1)
    let 가치2   = (종가2 * 수량2)
    let 현재가치 = (잔액 + 가치1 + 가치2)

    let 비중1 = (잔액/현재가치*100).toFixed(2);
    let 비중2 = (가치1/현재가치*100).toFixed(2);
    let 비중3 = (가치2/현재가치*100).toFixed(2);

    잔액  = 잔액.toFixed()
    가치1 = 가치1.toFixed(2)
    가치2 = 가치2.toFixed(2)
    현재가치 = 현재가치.toFixed()
    let 최소가치 = (목표가치*0.9).toFixed();
    let 최대가치 = (목표가치*1.2).toFixed();
	목표가치 = 목표가치.toFixed();



    $("input[name='add1']").val(입금).comma('init');
    $("input[name='add2']").val(출금).comma('init');
    $("input[name='add5']").val(매수금1).comma('init');
    $("input[name='add6']").val(매도금1).comma('init');
    $("input[name='add11']").val(매수금2).comma('init');
    $("input[name='add12']").val(매도금2).comma('init');

    $("input[name='add3']").val(잔액).comma('init');
    $("input[name='add9']").val(가치1).comma('init');
    $("input[name='add15']").val(가치2).comma('init');
    $("input[name='add17']").val(현재가치).comma('init');
    $("input[name='add18']").val(최소가치).comma('init');
	$("input[name='add19']").val(목표가치).comma('init');
    $("input[name='add20']").val(최대가치).comma('init');
    $("input[name='add4']").val(비중1).comma('init');
    $("input[name='add10']").val(비중2).comma('init');
    $("input[name='add16']").val(비중3).comma('init');
}

function txt_to_num(key,opt) {
    var a =  $("input[name='"+key+"']").val();
    if(!a) return 0
    a = a.replace(',','');
    if(opt=='i') return parseInt(a);
    else return parseFloat(a);
}

</script>
{% endblock %}