{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_write %}
<form id='YHBmainEditorForm' method="POST" action="{{D['Form_act']}}" onsubmit='return check_MainWriteForm(this)' >
<input type='hidden' name='mode'	value="{{D['Mode']}}" >
<input type='hidden' name='uid'		value="{{D['USER']['uid']}}" >
<input type='hidden' name='uname'	value="{{D['USER']['uname']}}" >
<textarea  name='content' style="display:none"></textarea>
<table class='table' style="border:2px solid black;border-radius:4px;width:{{D['w_width2']}}">
<tbody>
    <tr>
        <td class='write-td-left'>기본정보</td>
		<td class="write-td-right" style="background-color:#393e4a">
			<div class='i-input-div'>
				<div class='write-input-left' style="width:80px">진행일자</div>
				{% if D['Mode'] == 'modify' %}
				<input type='text' name='add0' style="width:120px;text-align:center" value="{{D['BODY']['add0']}}">
				{% else %}
				<input type='text' name='add0' class="i-date" style="width:120px;text-align:center" value="{{D['today']}}">
				{% endif %}
            </div>
            <button class="btn btn-blue" onclick="auto_calculate();return false">자동계산</button>&nbsp;&nbsp;
            <button class="btn btn-blue-s4" onclick="auto_reset();return false">리셋하기</button>&nbsp;&nbsp;
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>현금투자</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">입금</div>
				<input type='text' name='add1' class="i-number" style="width:100px;" value="{{D['BODY']['add1']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">출금</div>
				<input type='text' name='add2' class="i-number" style="width:100px;" value="{{D['BODY']['add2']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">잔액</div>
				<input type='text' name='add3' class="i-number" style="width:110px;" value="{{D['BODY']['add3']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add4' class="i-number" style="width:100px;" value="{{D['BODY']['add4']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left' id="first_stock">JEPQ</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add5' class="i-number" style="width:100px;" value="{{D['BODY']['add5']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add6' class="i-number" style="width:100px;" value="{{D['BODY']['add6']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">변동수량</div>
				<input type='text' name='sub8' class="i-number" style="width:110px;" value="{{D['BODY']['sub8']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">배당금</div>
				<input type='text' name='sub10' class="i-number" style="width:100px;" value="{{D['BODY']['sub10']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add8' class="i-number" style="width:100px;" value="{{D['BODY']['add8']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add9' class="i-number" style="width:100px;" value="{{D['BODY']['add9']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">보유수량</div>
				<input type='text' name='add7' class="i-number" style="width:110px;" value="{{D['BODY']['add7']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add10' class="i-number" style="width:100px;" value="{{D['BODY']['add10']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">평균단가</div>
				<input type='text' name='sub21' class="i-number" style="width:100px;" value="{{D['BODY']['sub21']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매도누적</div>
				<input type='text' name='sub22' class="i-number" style="width:100px;" value="{{D['BODY']['sub22']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매수누적</div>
				<input type='text' name='sub23' class="i-number" style="width:110px;" value="{{D['BODY']['sub23']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">현매수금</div>
				<input type='text' name='sub24' class="i-number" style="width:100px;" value="{{D['BODY']['sub24']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr style="border:2px solid #CEE3F6;">
        <td class='write-td-left' id="second_stock">SOXL</td>
		<td class="write-td-right" style="padding:12px 8px">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add11' class="i-number" style="width:100px;" value="{{D['BODY']['add11']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add12' class="i-number" style="width:100px;" value="{{D['BODY']['add12']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">변동수량</div>
				<input type='text' name='sub9' class="i-number" style="width:110px;" value="{{D['BODY']['sub9']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">현수익률</div>
				<input type='text' name='sub33' class="i-text" style="width:100px;text-align:right" value="{{D['BODY']['sub33']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add14' class="i-number" style="width:100px;" value="{{D['BODY']['add14']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add15' class="i-number" style="width:100px;" value="{{D['BODY']['add15']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">보유수량</div>
				<input type='text' name='add13' class="i-number" style="width:110px;" value="{{D['BODY']['add13']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add16' class="i-number" style="width:100px;" value="{{D['BODY']['add16']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">평균단가</div>
				<input type='text' name='sub16' class="i-number" style="width:100px;" value="{{D['BODY']['sub16']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매도누적</div>
				<input type='text' name='sub15' class="i-number" style="width:100px;" value="{{D['BODY']['sub15']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매수누적</div>
				<input type='text' name='sub14' class="i-number" style="width:110px;" value="{{D['BODY']['sub14']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">현매수금</div>
				<input type='text' name='sub17' class="i-number" style="width:100px;" value="{{D['BODY']['sub17']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">연속상승</div>
				<input type='text' name='sub5' class="i-number" style="width:100px;" value="{{D['BODY']['sub5']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">연속하락</div>
				<input type='text' name='sub6' class="i-number" style="width:100px;" value="{{D['BODY']['sub6']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">진행상황</div>
				<input type='text' name='add18' class="i-text" style="width:110px;text-align:right" value="{{D['BODY']['add18']}}">
			</div>
        </td>
    </tr>
	<tr onclick="$('#config-toggle').toggle()">
		<td colspan="2" style="font-size:2px;line-height:12px;background-color: #010213;">&nbsp;</td>
	</tr>
    <tr id="config-toggle">
        <td class='write-td-left'>투자상황</td>
		<td class="write-td-right">
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">가용잔액</div>
				<input type='text' name='add19' class="i-number" style="width:100px;" value="{{D['BODY']['add19']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">배당합계</div>
				<input type='text' name='sub11' class="i-number" style="width:100px;" value="{{D['BODY']['sub11']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">입금합계</div>
				<input type='text' name='sub25' class="i-number" style="width:110px;" value="{{D['BODY']['sub25']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">현투자금</div>
				<input type='text' name='sub27' class="i-number" style="width:100px;" value="{{D['BODY']['sub27']}}">
			</div>
			<div class='i-input-div-must2'>
				<div class='write-input-left' style="background-color:darkslategray;">추가자금</div>
				<input type='text' name='add20' class="i-number" style="width:100px;" value="{{D['BODY']['add20']}}">
			</div>
			<div class='i-input-div-must2'>
				<div class='write-input-left' style="background-color:darkslategray;">출금합계</div>
				<input type='text' name='sub26' class="i-number" style="width:100px;" value="{{D['BODY']['sub26']}}">
			</div>
			<div class='i-input-div-must2'>
				<div class='write-input-left' style="background-color:darkslategray;">가치합계</div>
				<input type='text' name='add17' class="i-number" style="width:110px;" value="{{D['BODY']['add17']}}">
			</div>
			<div class='i-input-div-must2'>
				<div class='write-input-left' style="background-color:darkslategray;">현수익률</div>
				<input type='text' name='sub28' class="i-number" style="width:100px;" value="{{D['BODY']['sub28']}}">
			</div>
			<br><br>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">현재시즌</div>
				<input type='text' name='sub1' class="i-number" style="width:100px;" value="{{D['BODY']['sub1']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">일매수금</div>
				<input type='text' name='sub4' class="i-number" style="width:100px;" value="{{D['BODY']['sub4']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">매수수량&nbsp;&nbsp;<i class="fa fa-calculator" onclick="show_add_info(1)"></i></div>
				<input type='text' name='sub2' class="i-number" style="width:110px;" value="{{D['BODY']['sub2']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">매도수량</div>
				<input type='text' name='sub3' class="i-number" style="width:100px;" value="{{D['BODY']['sub3']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">경과일수</div>
				<input type='text' name='sub12' class="i-number" style="width:100px;" value="{{D['BODY']['sub12']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">기초수량</div>
				<input type='text' name='sub18' class="i-number" style="width:100px;" value="{{D['BODY']['sub18']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">매수가격&nbsp;&nbsp;<i class="fa fa-calculator" onclick="show_add_info(2)"></i></div>
				<input type='text' name='sub19' class="i-text" style="width:110px;text-align:right;" value="{{D['BODY']['sub19']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">매도가격&nbsp;&nbsp;<i class="fa fa-calculator" onclick="show_add_info(3)"></i></div>
				<input type='text' name='sub20' class="i-text" style="width:100px;text-align:right;" value="{{D['BODY']['sub20']}}">
			</div>
			<br><br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">일증가율</div>
				<input type='text' name='sub29' class="i-number" style="width:100px;" value="{{D['BODY']['sub29']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">목표가치</div>
				<input type='text' name='sub30' class="i-number" style="width:100px;" value="{{D['BODY']['sub30']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">허용범위</div>
				<input type='text' name='sub31' class="i-number" style="width:110px;" value="{{D['BODY']['sub31']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">보존금액</div>
				<input type='text' name='sub32' class="i-number" style="width:100px;" value="{{D['BODY']['sub32']}}">
			</div>
        </td>
    </tr>
</tbody>
</table>
<div style="margin-top:-12px;width:{{D['w_width2']}}">
    {% include D['_skn'] + 'board/my_dark/write/basic_editor_tools.htm' %}
</div>
<!-- BEGIN ====================================================================================== -->
<div style="position:relative;width:{{D['w_width1']}}">
<div id="selectedMarkL"></div>	
<div id="write-wrap" style="float:left;width:{{D['w_width2']}};z-index:3">
<div id="YHBmainEditor">
{% if D['Mode'] == 'modify' -%} 
{{D['OBODY']['content']|safe}}
{% else %} 
<div><p>New</p></div>
{%- endif %}
</div><!-- YHBmainEditor  -->
<!-- 하단 요소====================================================================================== -->
<div class="clearfix" style="padding:0px;border:1px solid black;background-color:#393E4A">
	<div class="pull-left">
		<a href="{{D['_bse']}}board/list/{{D['bid']}}/csh=on"><span class="btn btn-small btn-blue" style="height:30px;">목록</span> </a>
		{%- if D['Mode'] == 'modify' -%}
		<a onclick="delete_confirm('{{D['_bse']}}boards-action/delete/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}')">
			<span class="btn btn-small btn-red-s4" style="height:30px">삭제</span>
		</a>
		{%- endif -%}
	</div>
	<div class="pull-right">
		<button class="btn btn-small btn-red-s3" style="height:30px">저장</button>
	</div>
</div>
<div id="choicedMark"   style="left:{{D['w_width2']}}"></div>
<div id="selectedMarkR" style="left:{{D['w_width2']}}"></div>
</div>
<!-- END ====================================================================================== -->
</form>
{% include D['_skn'] + 'board/my_dark/write/side_editor_tools.htm' %}

<!-- 표관련 메뉴 -->
<div id='tableMenu' class="rightClickMenu" style='display:none;'>
	<li onclick="$('#tableMenu').hide()"> 메뉴감추기 </li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('left')">좌측컬럼 추가</li>
	<li onclick="JYHEDITOR.addRowCol('right')">우측컬럼 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('up')">위쪽행 추가</li>
	<li onclick="JYHEDITOR.addRowCol('down')">아래행 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('col')">현재컬럼 삭제</li>
	<li onclick="JYHEDITOR.addRowCol('row')">현재 행 삭제</li>
</div>
<!-- 참고정보 관련 -->
<div id="add-info" style="display:none;position:fixed;left:1030px;top:100px;width:180px;height:500px;background-color:#24272D;border:2px solid black">
<div class="add-info-title"   style="font-weight:bold;padding:10px;text-align:center;color:yellow" onclick="$('#add-info').toggle()">Title</div>
<div class="add-info-content" style="padding:10px">Content</div>
</div>

<script>
JYHEDITOR.start('YHBmainEditor');

var AutoCalulated = false

var reset_key = ['add1','add2','add3','add4',
                 'add5','add6','sub8','sub10','add8','add9','add7','add10','sub21','sub22','sub23','sub24',
				 'add11','add12','sub9','add18','add14','add15','add13','add16','sub16','sub15','sub14','sub17',
				 'add19','sub11','sub25','sub27','add20','sub26','add17','sub28',
				 'sub1','sub4','sub2','sub3','sub12','sub18','sub19','sub20',
				 'sub29','sub30','sub31','sub32']
var reset_val = []
for(i=1;i<reset_key.length;i++) {
	reset_val[i] = $("input[name='"+reset_key[i]+"']" ).val()
}


let 이전목표 = 0.0
let 이전날자 = ''

function check_MainWriteForm(f)	{	
	var wDiv = $id("YHBmainEditor");
	JYHEDITOR.clearDocuSelect();
	if( ! AutoCalulated && uri('method') != 'modify' ) auto_calculate()
	f.content.value = wDiv.innerHTML;
	if(check_FormInput(f,{{D['ChkField']|safe}})) return false;

	return true;
}

function open_style_edit() {
	var furl = uri('linkurl')+"filemanagers-fedit/open/bodyCss.css"; 
	var specs = "height=700,width=1200,status=no,menubar=no,location=no,titlebar=no,scrollbars=yes";
	window.open(furl,'css_editor', specs);
}

function form_basic(opt) {
	var html;
	$('#contextMenu').hide()
	switch (opt){
		case  'A1'  : html= '\n<div class="pbox">\n<p>글입력</p>\n</div>\n'; break;	
		case  'A2'  : html= '\n<div class="pbox">\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n</div>\n'; break;
		case  'B1'  : html= '\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n'; break;
		case  'A4h' : html= '\n<div class="A4h">\n<p>글내용</p>\n</div>\n'; break;
		case  'A4w' : html= '\n<div class="A4w">\n글내용\n</div>\n'; break;
	}
	if(docuSelected != null) { $(docuSelected).before(html); JYHEDITOR.selectedMark();} 
	else $("#YHBmainEditor").append(html); 
	
}

JYHEDITOR.UserTable = function() {
	if(docuSelectedType != 'TD') return;
	$("#tableMenu").css({left:mouse_X - 20 , top:mouse_Y }).toggle();
}

function auto_reset() {
	for(i=1;i<reset_key.length;i++) {
		$("input[name='"+reset_key[i]+"']" ).val(reset_val[i])
	}
	AutoCalulated = false
}

function auto_calculate() {
	let 입금     = txt_to_num('add1','f');
    let 출금     = txt_to_num('add2','f');
	let 잔액     = txt_to_num('add3','f');
	let 일매수금 = txt_to_num('sub4','i');
    let 매수금1  = txt_to_num('add5','f');
    let 매도금1  = txt_to_num('add6','f');
	let 배당금   = txt_to_num('sub10','f');
    let 매수금2  = txt_to_num('add11','f');
    let 매도금2  = txt_to_num('add12','f');
    let 종가1    = txt_to_num('add8','f');
    let 수량1    = txt_to_num('sub8','i');
	let 누적1    = txt_to_num('add7','i');   // JEPQ 보유수량
    let 종가2    = txt_to_num('add14','f');
    let 수량2    = txt_to_num('sub9','i');
	let 누적2    = txt_to_num('add13','i');  // TQQQ 보유수량
	let 평균단가1= txt_to_num('sub21','f');
	let 매도누적1= txt_to_num('sub22','f');
	let 매수누적1= txt_to_num('sub23','f');
	let 현매수금1= txt_to_num('sub24','f');
	let 매수누적2= txt_to_num('sub14','f');
	let 매도누적2= txt_to_num('sub15','f');
	let 평균단가2= txt_to_num('sub16','f');
	let 현매수금2= txt_to_num('sub17','f');
	let 배당합계 = txt_to_num('sub11','f');
	let 입금합계 = txt_to_num('sub25','f');
	let 출금합계 = txt_to_num('sub26','f');
	let 현투자금 = txt_to_num('sub27','f');
	let 현수익률 = txt_to_num('sub28','f');

	누적1 += 수량1; 누적2 += 수량2;

	잔액    = (잔액+입금+매도금1+매도금2+배당금-출금-매수금1-매수금2)

    let 가치1   = (종가1 * 누적1)
    let 가치2   = (종가2 * 누적2)
    let 현재가치 = (잔액 + 가치1 + 가치2)

	입금합계 = 입금합계 + 입금
	출금합계 = 출금합계 + 출금
	현투자금 = 입금합계 - 출금합계
	현수익률 = ((현재가치 / 현투자금 - 1) * 100).toFixed(1);
	배당합계 = 배당합계 + 배당금

    let 비중1 = (잔액/현재가치*100).toFixed(2);
    let 비중2 = (가치1/현재가치*100).toFixed(2);
    let 비중3 = (가치2/현재가치*100).toFixed(2);

    잔액  = 잔액.toFixed(2)
    가치1 = 가치1.toFixed(2)
    가치2 = 가치2.toFixed(2)
    현재가치 = 현재가치.toFixed(2)
	
	현수익률2 = 0

	if(매수금1) {
		매수누적1 += 매수금1
		현매수금1 += 매수금1
		평균단가1  = (현매수금1 / 누적1)
		매수누적1  = 매수누적1.toFixed(2)
		현매수금1  = 현매수금1.toFixed(2)
	} 

	if(매수금2) {
		매수누적2 += 매수금2
		현매수금2 += 매수금2
		평균단가2  = (현매수금2 / 누적2)
		매수누적2  = 매수누적2.toFixed(2)
		현매수금2  = 현매수금2.toFixed(2)
	} 

	if(매도금1) {
		매도누적1 += 매도금1
		현매수금1 = (평균단가1 * 누적1).toFixed(2)
		매도누적1 = 매도누적1.toFixed(2)
	}

	if(매도금2) {
		매도누적2 += 매도금2
		현매수금2 = (평균단가2 * 누적2).toFixed(2);
		매도누적2 = 매도누적2.toFixed(2)
		현수익률2  = ((종가2/평균단가2) -1)*100
		현수익률2  = 현수익률2.toFixed(2)
		평균단가2 = 0
	}

	if(평균단가2) {	현수익률2  = ((종가2/평균단가2) -1)*100 }
	else {현수익률2 = 0}
	현수익률2  = 현수익률2.toFixed(2)
	// 평균단가는 매수할 때만 변동됨

	평균단가1= 평균단가1.toFixed(4) ; 평균단가2= 평균단가2.toFixed(4)

	$("input[name='add1']").val(입금).comma('init');
    $("input[name='add2']").val(출금).comma('init');
    $("input[name='add5']").val(매수금1).comma('init');
    $("input[name='add6']").val(매도금1).comma('init');
	$("input[name='sub10']").val(배당금).comma('init');
    $("input[name='add11']").val(매수금2).comma('init');
    $("input[name='add12']").val(매도금2).comma('init');
	$("input[name='add7']").val(누적1).comma('init');
	$("input[name='add13']").val(누적2).comma('init');

    $("input[name='add3']").val(잔액).comma('init');
    $("input[name='add9']").val(가치1).comma('init');
    $("input[name='add15']").val(가치2).comma('init');
    $("input[name='add4']").val(비중1).comma('init');
    $("input[name='add10']").val(비중2).comma('init');
    $("input[name='add16']").val(비중3).comma('init');
	$("input[name='add17']").val(현재가치).comma('init');

	$("input[name='sub4']").val(일매수금).comma('init');
	$("input[name='sub11']").val(배당합계).comma('init');
	$("input[name='sub14']").val(매수누적2).comma('init');
	$("input[name='sub15']").val(매도누적2).comma('init');
	$("input[name='sub16']").val(평균단가2).comma('init');
	$("input[name='sub17']").val(현매수금2).comma('init');
	$("input[name='sub21']").val(평균단가1).comma('init');
	$("input[name='sub22']").val(매도누적1).comma('init');
	$("input[name='sub23']").val(매수누적1).comma('init');
	$("input[name='sub24']").val(현매수금1).comma('init');

	$("input[name='sub25']").val(입금합계).comma('init');
	$("input[name='sub26']").val(출금합계).comma('init');
	$("input[name='sub27']").val(현투자금).comma('init');
	$("input[name='sub28']").val(현수익률).comma('init');
	
	$("input[name='sub33']").val(현수익률2).comma('init');
	AutoCalulated = true
}

function txt_to_num(key,opt) {
    var a =  $("input[name='"+key+"']").val();
    if(!a) return 0
    a = a.replace(/,/g,'');
    if(opt=='i') return parseInt(a);
    else return parseFloat(a);
}

function show_add_info(opt) {
	var title=''
	var content=''
    
	if(opt==1) {
		title = "일자별 매수수량"		
		bs = txt_to_num('sub18','i') 
		sum = 0
		for(i=1;i<15;i++) {
			tmp = Math.ceil(bs*((i-1)*1.06 +1))
			sum += tmp
			content += "<span style='display:inline-block;width:40px;text-align:right'>"+i+"일 :</span>"
			content += "<span style='display:inline-block;width:50px;text-align:right'>"+tmp.toLocaleString('ko-KR')+" :</span>" 
			content += "<span style='display:inline-block;width:50px;text-align:right'>"+sum.toLocaleString('ko-KR')+"</span><br>" 
		}
	} else if(opt==2) {
		title = "매수가격 참고표"		
		bs = txt_to_num('sub16','f') 
		sum = 0
		for(i=1;i<21;i++) {
			tmp = (bs * (1-i/100)).toFixed(2)
			content += "<span style='display:inline-block;width:50px;text-align:right'>-"+i+"% :</span>"
			content += "<span style='display:inline-block;width:70px;text-align:right'>"+tmp+"</span><br>" 
		}
	} else if(opt==3) {
		title = "매도가격 참고표"		
		bs = txt_to_num('sub16','f') 
		sum = 0
		for(i=1;i<21;i++) {
			tmp = (bs * (1+i/100)).toFixed(2)
			content += "<span style='display:inline-block;width:50px;text-align:right'>"+i+"% :</span>"
			content += "<span style='display:inline-block;width:70px;text-align:right'>"+tmp+"</span><br>" 
		}
	}
	$("#add-info .add-info-title").html(title);
	$("#add-info .add-info-content").html(content);
	$("#add-info").toggle()
}

</script>
{% endblock %}