{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_write %}
<form id='YHBmainEditorForm' method="POST" action="{{D['Form_act']}}" onsubmit='return check_MainWriteForm(this)' >
<input type='hidden' name='mode'	value="{{D['Mode']}}" >
<input type='hidden' name='uid'		value="{{D['USER']['uid']}}" >
<input type='hidden' name='uname'	value="{{D['USER']['uname']}}" >
<textarea  name='content' style="display:none"></textarea>
<table class='table' style="border:2px solid black;border-radius:4px;width:{{D['w_width2']}}">
<tbody>
    <tr>
        <td class='write-td-left'>기본정보</td>
		<td class="write-td-right" style="background-color:#393e4a">
			<div class='i-input-div'>
				<div class='write-input-left' style="width:80px">진행일자</div>
				{% if D['Mode'] == 'modify' %}
				<input type='text' name='add0' disabled style="width:120px;text-align:center" value="{{D['BODY']['add0']}}">
				{% else %}
				<input type='text' name='add0' class="i-date" style="width:120px;text-align:center" value="">
				{% endif %}
            </div>
			<div class='i-input-div'>
				<div class='write-input-left' style="width:80px">목표일자</div>
				<input type='text' name='sub5' class="i-date" style="width:120px;text-align:center" value="{{D['BODY']['sub5']}}">
            </div>
            <button class="btn btn-blue"  onclick="auto_datainput();return false">이전정보</button>&nbsp;&nbsp;
            <button class="btn btn-blue-s4" onclick="auto_calculate();return false">자동계산</button>&nbsp;&nbsp;
            <button class="btn btn-blue-s4" onclick="auto_reset();return false">리셋하기</button>&nbsp;&nbsp;
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>현금투자</td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">입금</div>
				<input type='text' name='add1' class="i-number" style="width:100px;" value="{{D['BODY']['add1']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">출금</div>
				<input type='text' name='add2' class="i-number" style="width:100px;" value="{{D['BODY']['add2']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">잔액</div>
				<input type='text' name='add3' class="i-number" style="width:110px;" value="{{D['BODY']['add3']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add4' class="i-number" style="width:100px;" value="{{D['BODY']['add4']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left' id="first_stock"><input type='text' name='sub6' style="border:none;width:70px;background-color:#4a505e;color:white" value="{{D['BODY']['sub6']}}"></td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add5' class="i-number" style="width:100px;" value="{{D['BODY']['add5']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add6' class="i-number" style="width:100px;" value="{{D['BODY']['add6']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">변동수량</div>
				<input type='text' name='sub8' class="i-number" style="width:110px;" value="{{D['BODY']['sub8']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">배당금</div>
				<input type='text' name='sub10' class="i-number" style="width:100px;" value="{{D['BODY']['sub10']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add8' class="i-number" style="width:100px;" value="{{D['BODY']['add8']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add9' class="i-number" style="width:100px;" value="{{D['BODY']['add9']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">누적수량</div>
				<input type='text' name='add7' class="i-number" style="width:110px;" value="{{D['BODY']['add7']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add10' class="i-number" style="width:100px;" value="{{D['BODY']['add10']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left' id="second_stock"><input type='text' name='sub7' style="border:none;width:70px;background-color:#4a505e;color:white" value="{{D['BODY']['sub7']}}"></td>
		<td class="write-td-right">
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금</div>
				<input type='text' name='add11' class="i-number" style="width:100px;" value="{{D['BODY']['add11']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">매도금</div>
				<input type='text' name='add12' class="i-number" style="width:100px;" value="{{D['BODY']['add12']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">변동수량</div>
				<input type='text' name='sub9' class="i-number" style="width:110px;" value="{{D['BODY']['sub9']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">기타수익</div>
				<input type='text' name='sub11' class="i-number" style="width:100px;" value="{{D['BODY']['sub11']}}">
			</div>
            <br>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">종가</div>
				<input type='text' name='add14' class="i-number" style="width:100px;" value="{{D['BODY']['add14']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">가치</div>
				<input type='text' name='add15' class="i-number" style="width:100px;" value="{{D['BODY']['add15']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">누적수량</div>
				<input type='text' name='add13' class="i-number" style="width:110px;" value="{{D['BODY']['add13']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">비중</div>
				<input type='text' name='add16' class="i-number" style="width:100px;" value="{{D['BODY']['add16']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">평균단가</div>
				<input type='text' name='sub16' class="i-number" style="width:100px;" value="{{D['BODY']['sub16']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매도누적</div>
				<input type='text' name='sub15' class="i-number" style="width:100px;" value="{{D['BODY']['sub15']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">매수누적</div>
				<input type='text' name='sub14' class="i-number" style="width:110px;" value="{{D['BODY']['sub14']}}">
			</div>
			<div class='i-input-div-choice2'>
				<div class='write-input-left' style="background-color:#333F4F;">현매수금</div>
				<input type='text' name='sub17' class="i-number" style="width:100px;" value="{{D['BODY']['sub17']}}">
			</div>
        </td>
    </tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
    <tr>
        <td class='write-td-left'>투자상황</td>
		<td class="write-td-right">
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">최소가치</div>
				<input type='text' name='add18' class="i-number" style="width:100px;" value="{{D['BODY']['add18']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">목표가치</div>
				<input type='text' name='add19' class="i-number" style="width:100px;" value="{{D['BODY']['add19']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">최대가치</div>
				<input type='text' name='add20' class="i-number" style="width:110px;" value="{{D['BODY']['add20']}}">
			</div>
			<div class='i-input-div-must'>
				<div class='write-input-left' style="background-color:darkslategray;">가치합계</div>
				<input type='text' name='add17' class="i-number" style="width:100px;" value="{{D['BODY']['add17']}}">
			</div>
        </td>
    </tr>
	<tr onclick="$('.stategy-toggle').toggle()">
		<td colspan="2" style="font-size:2px;line-height:2px;background-color: #393e4a;">&nbsp;</td>
	</tr>
    <tr class='stategy-toggle'>
        <td class='write-td-left'>설정정보</td>
		<td class="write-td-right">
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">기본가치</div>
				<input type='text' name='sub1' class="i-number" style="width:100px;" value="{{D['BODY']['sub1']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">하강한계</div>
				<input type='text' name='sub4' class="i-number" style="width:100px;" value="{{D['BODY']['sub4']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">가중치</div>
				<input type='text' name='sub2' class="i-number" style="width:110px;" value="{{D['BODY']['sub2']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">상승한계</div>
				<input type='text' name='sub3' class="i-number" style="width:100px;" value="{{D['BODY']['sub3']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">기본수량</div>
				<input type='text' name='sub12' class="i-number" style="width:100px;" value="{{D['BODY']['sub12']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">증가율</div>
				<input type='text' name='sub18' class="i-number" style="width:100px;" value="{{D['BODY']['sub18']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">적용전략</div>
				<input type='text' name='sub19' class="i-text" style="width:110px;text-align:right;" value="{{D['BODY']['sub19']}}">
			</div>
			<div class='i-input-div-notice'>
				<div class='write-input-left' style="background-color:darkslategray;">시즌</div>
				<input type='text' name='sub20' class="i-text" style="width:100px;text-align:right;" value="{{D['BODY']['sub20']}}">
			</div>
        </td>
    </tr>
</tbody>
</table>
<div style="margin-top:-12px;width:{{D['w_width2']}}">
    {% include D['_skn'] + 'board/my_dark/write/basic_editor_tools.htm' %}
</div>
<!-- BEGIN ====================================================================================== -->
<div style="position:relative;width:{{D['w_width1']}}">
<div id="selectedMarkL"></div>	
<div id="write-wrap" style="float:left;width:{{D['w_width2']}};z-index:3">
<div id="YHBmainEditor">
{% if D['Mode'] == 'modify' -%} 
{{D['OBODY']['content']|safe}}
{% else %} 
<div><p>New</p></div>
{%- endif %}
</div><!-- YHBmainEditor  -->
<!-- 하단 요소====================================================================================== -->
<div class="clearfix" style="padding:0px;border:1px solid black;background-color:#393E4A">
	<div class="pull-left">
		<a href="{{D['_bse']}}board/list/{{D['bid']}}/csh=on"><span class="btn btn-small btn-blue" style="height:30px;">목록</span> </a>
		{%- if D['Mode'] == 'modify' -%}
		<a onclick="delete_confirm('{{D['_bse']}}boards-action/delete/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}')">
			<span class="btn btn-small btn-red-s4" style="height:30px">삭제</span>
		</a>
		{%- endif -%}
	</div>
	<div class="pull-right">
		<button class="btn btn-small btn-red-s3" style="height:30px">저장</button>
	</div>
</div>
<div id="choicedMark"   style="left:{{D['w_width2']}}"></div>
<div id="selectedMarkR" style="left:{{D['w_width2']}}"></div>
</div>
<!-- END ====================================================================================== -->
</form>
{% include D['_skn'] + 'board/my_dark/write/side_editor_tools.htm' %}

<!-- 표관련 메뉴 -->
<div id='tableMenu' class="rightClickMenu" style='display:none;'>
	<li onclick="$('#tableMenu').hide()"> 메뉴감추기 </li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('left')">좌측컬럼 추가</li>
	<li onclick="JYHEDITOR.addRowCol('right')">우측컬럼 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('up')">위쪽행 추가</li>
	<li onclick="JYHEDITOR.addRowCol('down')">아래행 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('col')">현재컬럼 삭제</li>
	<li onclick="JYHEDITOR.addRowCol('row')">현재 행 삭제</li>
</div>


<script>
JYHEDITOR.start('YHBmainEditor');

let 이전목표 = 0.0
let 이전날자 = ''

function check_MainWriteForm(f)	{	
	var wDiv = $id("YHBmainEditor");
	JYHEDITOR.clearDocuSelect();
	f.content.value = wDiv.innerHTML;
	if(check_FormInput(f,{{D['ChkField']|safe}})) return false;
	return true;
}

function open_style_edit() {
	var furl = uri('linkurl')+"filemanagers-fedit/open/bodyCss.css"; 
	var specs = "height=700,width=1200,status=no,menubar=no,location=no,titlebar=no,scrollbars=yes";
	window.open(furl,'css_editor', specs);
}

function form_basic(opt) {
	var html;
	$('#contextMenu').hide()
	switch (opt){
		case  'A1'  : html= '\n<div class="pbox">\n<p>글입력</p>\n</div>\n'; break;	
		case  'A2'  : html= '\n<div class="pbox">\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n</div>\n'; break;
		case  'B1'  : html= '\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n'; break;
		case  'A4h' : html= '\n<div class="A4h">\n<p>글내용</p>\n</div>\n'; break;
		case  'A4w' : html= '\n<div class="A4w">\n글내용\n</div>\n'; break;
	}
	if(docuSelected != null) { $(docuSelected).before(html); JYHEDITOR.selectedMark();} 
	else $("#YHBmainEditor").append(html); 
	
}

JYHEDITOR.UserTable = function() {
	if(docuSelectedType != 'TD') return;
	$("#tableMenu").css({left:mouse_X - 20 , top:mouse_Y }).toggle();
}

function auto_datainput() {

	var dest = "boards-stock_longterm/autoinput2/{{D['tbl']}}"
    var posturl = uri('linkurl')+ dest 
	var postData = {}
	var ck_date = $("input[name='add0']").val(); 
	if (!ck_date) { h_dialog.notice("진행일자를 입력해 주세요"); return; }

    postData['add0'] = ck_date
    $.post( posturl, postData).done(function(data)  {
        var ans = JSON.parse(data)
		이전날자 = ans['add0']
		이전목표 = ans['add19']
        var update_key  = ['add3','add7','add8','add13','add14','sub1','sub2','sub3','sub4','sub5','sub6','sub7','sub12','sub14','sub15','sub16','sub17','sub18','sub19','sub20']
			update_key.forEach(function(i){$("input[name='"+i+"']" ).val(ans[i])})  
    });
}

function auto_reset() {
	var reset_key  = ['add1','add2','add5','add6','sub8','add11','add12','sub9','sub10','sub11','sub14','sub15','sub16','sub17']
		reset_key.forEach(function(i){$("input[name='"+i+"']" ).val(0)})
	var reset_key2  = ['add4','add9','add10','add15','add16','add17','add18','add19','add20']
		reset_key2.forEach(function(i){$("input[name='"+i+"']" ).val('')})  

	auto_datainput()
}

function auto_calculate() {
	
	const 현재일  = $("input[name='add0']").val()
	const 기준일  = 이전날자

	const date1= new Date(현재일)
	const date2= new Date(기준일)
	const diffDate = date1.getTime() - date2.getTime()
	const diffDays = diffDate/(1000*3600*24) 
	
	let 입금     = txt_to_num('add1','i');
    let 출금     = txt_to_num('add2','i');
    let 매수금1  = txt_to_num('add5','f');
    let 매도금1  = txt_to_num('add6','f');
	let 배당금   = txt_to_num('sub10','f');
    let 매수금2  = txt_to_num('add11','f');
    let 매도금2  = txt_to_num('add12','f');
    let 종가1    = txt_to_num('add8','f');
    let 수량1    = txt_to_num('sub8','i');
	let 누적1    = txt_to_num('add7','i');
    let 종가2    = txt_to_num('add14','f');
    let 수량2    = txt_to_num('sub9','i');
	let 기초가치 = txt_to_num('sub1','f');
	let 가중치   = txt_to_num('sub2','f');
	let 최대임계 = txt_to_num('sub3','f');
	let 최소임계 = txt_to_num('sub4','f');
	let 기타수익 = txt_to_num('sub11','f');
	let 누적2    = txt_to_num('add13','i');
    let 잔액     = txt_to_num('add3','i');
	let 기본수량 = txt_to_num('sub12','i');
	let 매수누적 = txt_to_num('sub14','f');
	let 매도누적 = txt_to_num('sub15','f');
	let 평균단가 = txt_to_num('sub16','f');
	let 현매수금 = txt_to_num('sub17','f');
	let 증가율   = txt_to_num('sub18','f');
	let 적용전략 = $("input[name='sub19']").val();
	let 목표가치 = 0.0

	누적1 += 수량1; 누적2 += 수량2;

	잔액    = (잔액+입금+매도금1+매도금2+기타수익-출금-매수금1-매수금2+배당금)

	switch(적용전략) {
		case '기초변동추종' : 목표가치 = 기초가치 * 가중치; break;
		case '고정비율상승' : 목표가치 = 이전목표 * (1+ 증가율 )**diffDays; break;
	}
    
    let 가치1   = (종가1 * 누적1)
    let 가치2   = (종가2 * 누적2)
    let 현재가치 = (잔액 + 가치1 + 가치2)

    let 비중1 = (잔액/현재가치*100).toFixed(2);
    let 비중2 = (가치1/현재가치*100).toFixed(2);
    let 비중3 = (가치2/현재가치*100).toFixed(2);

    잔액  = 잔액.toFixed()
    가치1 = 가치1.toFixed(2)
    가치2 = 가치2.toFixed(2)
    현재가치 = 현재가치.toFixed()
    let 최소가치 = ( 목표가치* 최소임계 ).toFixed();
    let 최대가치 = ( 목표가치* 최대임계 ).toFixed();
	

	if(매수금2) {
		매수누적 += 매수금2
		현매수금  = 매수누적
		평균단가  = (현매수금 / 누적2)
		매수누적  = 매수누적.toFixed(2)
	} 

	if(매도금2) {
		매도누적 += 매도금2
		현매수금 = (평균단가 * 누적2).toFixed(2);

		실현수익 = (종가2 - 평균단가) * -수량2

		if(실현수익 > 0) {
			가중치 = ((목표가치 + 실현수익) / 기초가치).toFixed(4)
			기본수량 = 누적2
		} 
	}

	평균단가  = 평균단가.toFixed(4)
	목표가치 = 목표가치.toFixed();

    $("input[name='add1']").val(입금).comma('init');
    $("input[name='add2']").val(출금).comma('init');
    $("input[name='add5']").val(매수금1).comma('init');
    $("input[name='add6']").val(매도금1).comma('init');
	$("input[name='sub10']").val(배당금).comma('init');
    $("input[name='add11']").val(매수금2).comma('init');
    $("input[name='add12']").val(매도금2).comma('init');
	$("input[name='add7']").val(누적1).comma('init');
	$("input[name='add13']").val(누적2).comma('init');

    $("input[name='add3']").val(잔액).comma('init');
    $("input[name='add9']").val(가치1).comma('init');
    $("input[name='add15']").val(가치2).comma('init');
    $("input[name='add17']").val(현재가치).comma('init');
    $("input[name='add18']").val(최소가치).comma('init');
	$("input[name='add19']").val(목표가치).comma('init');
    $("input[name='add20']").val(최대가치).comma('init');
    $("input[name='add4']").val(비중1).comma('init');
    $("input[name='add10']").val(비중2).comma('init');
    $("input[name='add16']").val(비중3).comma('init');
	$("input[name='sub11']").val(기타수익).comma('init');

	$("input[name='sub2']").val(가중치).comma('init');
	$("input[name='sub12']").val(기본수량).comma('init');
	$("input[name='sub14']").val(매수누적).comma('init');
	$("input[name='sub15']").val(매도누적).comma('init');
	$("input[name='sub16']").val(평균단가).comma('init');
	$("input[name='sub17']").val(현매수금).comma('init');
}

function txt_to_num(key,opt) {
    var a =  $("input[name='"+key+"']").val();
    if(!a) return 0
    a = a.replace(/,/g,'');
    if(opt=='i') return parseInt(a);
    else return parseFloat(a);
}

</script>
{% endblock %}