{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_write %}
<form id='YHBmainEditorForm' method="POST" action="{{D['Form_act']}}" onsubmit='return check_MainWriteForm(this)' >
<input type='hidden' name='mode'	value="{{D['Mode']}}" >
<input type='hidden' name='uid'		value="{{D['USER']['uid']}}" >
<input type='hidden' name='uname'	value="{{D['USER']['uname']}}" >
{%- if D['BCONFIG']['type'] == 'yhboard' %}
<input type='hidden' name='brother'	value="{{D['Brother']}}" >
{% endif -%}
<textarea  name='content' style="display:none"></textarea>
<table class='table' style="border:2px solid black;border-radius:4px;width:{{D['w_width2']}}">
	<tbody>
	<!-- 상단 요소====================================================================================== -->
	<tr>
		<td class='write-td-left'>필수입력</td>
		<td>
			<div class='i-input-div'>
				<div class='write-input-left'>날자</div>
				{% if D['Mode'] == 'modify' %}
				<input type='text' name='add0' disabled style="width:182px;text-align:center" value="{{D['BODY']['add0']}}">
				{% else %}
				<input type='text' name='add0' class="i-date" style="width:182px;text-align:center" value="{{D['BODY']['add0']}}">
				{% endif %}
			</div>			
			{% if D['Mode'] == 'modify' %}
			<input type='text' name='add1' disabled style="width:132px;margin-right:15px;text-align:center" value="{{D['BODY']['add1']}}">
			{% else %}
			{{D['user_add1']|safe}}
			{% endif %}
			<button class="btn btn-blue" onclick="auto_datainput();return false">자동계산</button>
			
		</td>
	</tr>
	<tr>
		<td class='write-td-left'>로테이션</td>	
		<td class='write-td-right'>	
			<div class='i-input-div'>
				<div class='write-input-left'>진행시즌</div>
				<input type='text' name='add15' class="i-text" style="width:30px;text-align:center" value="{{D['BODY']['add15']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left'>로테이션</div>
				<input type='text' name='add16' class="i-text" style="width:30px;text-align:center" value="{{D['BODY']['add16']}}">
			</div>
			{{D['user_add2']|safe}}

			<button class="btn btn-blue" onclick="auto_dataclean();return false">리셋하기</button>

		</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size:2px;line-height:5px;background-color: rgb(1, 2, 19);">&nbsp;</td>
	</tr>
	<tr>
		<td class='write-td-left'>자동입력</td>	
		<td class='write-td-right' style="padding-top:10px;padding-bottom:10px">	
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">당일종가</div>
				<input type='text' name='add3' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add3']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">체결단가</div>
				<input type='text' name='add4' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add4']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">체결수량</div>
				<input type='text' name='add5' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add5']}}">
			</div>
			<div class='i-input-div-choice'>
				<div class='write-input-left' style="background-color:#333F4F;">매수금액</div>
				<input type='text' name='add6' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add6']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">평균단가</div>
				<input type='text' name='add10' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add10']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">보유수량</div>
				<input type='text' name='add7' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add7']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">총매수금</div>
				<input type='text' name='add9' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add9']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">평가금액</div>
				<input type='text' name='add8' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add8']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">수익현황</div>
				<input type='text' name='add11' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add11']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">현수익률</div>
				<input type='text' name='add12' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add12']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">가용잔액</div>
				<input type='text' name='add14' class="i-number" style="width:90px;text-align:center" value="{{D['BODY']['add14']}}">
			</div>
			<div class='i-input-div'>
				<div class='write-input-left' style="background-color:#333F4F;">진행상황</div>
				<input type='text' name='add17' class="i-text" style="width:90px;text-align:center" value="{{D['BODY']['add17']}}">
			</div>
		</td>
	</tr>
	</tbody>
</table>
<div style="width:{{D['w_width2']}}">
{% include D['_skn'] + 'board/my_dark/write/basic_editor_tools.htm' %}
</div>
<!-- BEGIN ====================================================================================== -->
<div style="position:relative;width:{{D['w_width1']}}">
<div id="selectedMarkL"></div>	
<div id="write-wrap" style="float:left;width:{{D['w_width2']}};z-index:3">
<div id="YHBmainEditor">
{% if D['Mode'] == 'modify' -%} 
{{D['OBODY']['content']|safe}}
{%- endif %}
</div><!-- YHBmainEditor  -->
<!-- 하단 요소====================================================================================== -->
		<div class="clearfix" style="padding:0px;border-top:1px solid black;background-color:#393E4A">
			<div id="TAG_STRUCTURE" class="pull-left" style="padding:0px 15px"></div>
			<div class="pull-right">
				<span class="btn-transparent" onclick="$('#YHBmainEditorForm').submit()"><i class="fa fa-circle-o" style="font-size:20px;color:#0099ff;margin:2px 0" title="저장"></i></span>
				<a href="{{D['_bse']}}board/list/{{D['bid']}}/csh=on"><i class="fa fa-circle-o" style="font-size:20px;color:#a66c39;margin:2px 0" title="취소"></i></a>&nbsp;&nbsp;
			</div>
		</div>
	</div><!-- write-wrap  -->
<div id="choicedMark"   style="left:{{D['w_width2']}}"></div>
<div id="selectedMarkR" style="left:{{D['w_width2']}}"></div>	

</div>
<!-- END ====================================================================================== -->
</form>
{% include D['_skn'] + 'board/my_dark/write/side_editor_tools.htm' %}

<!-- 표관련 메뉴 -->
<div id='tableMenu' class="rightClickMenu" style='display:none;'>
	<li onclick="$('#tableMenu').hide()"> 메뉴감추기 </li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('left')">좌측컬럼 추가</li>
	<li onclick="JYHEDITOR.addRowCol('right')">우측컬럼 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('up')">위쪽행 추가</li>
	<li onclick="JYHEDITOR.addRowCol('down')">아래행 추가</li>
	<li class='divider'></li>
	<li onclick="JYHEDITOR.addRowCol('col')">현재컬럼 삭제</li>
	<li onclick="JYHEDITOR.addRowCol('row')">현재 행 삭제</li>
</div>


<script>
JYHEDITOR.start('YHBmainEditor');

function open_style_edit() {
	var furl = uri('linkurl')+"filemanagers-fedit/open/bodyCss.css"; 
	var specs = "height=700,width=1200,status=no,menubar=no,location=no,titlebar=no,scrollbars=yes";
	window.open(furl,'css_editor', specs);
}

function auto_datainput() {
	
	if(! $("input[name='add0']").val() ) { h_dialog.notice("날자 입력은 필수입니다"); return false; }
	if(! $("input[name='add1']").val() ) { h_dialog.notice("종목 코드는 필수입니다"); return false; }

	var posturl = uri('linkurl')+"boards-stocks/autoinput/{{D['method']}}"
	var postData = {}

	postData['add0']  = $("input[name='add0']").val()  // 날자
	postData['add1']  = $("input[name='add1']").val()  // 종목
	postData['add2']  = $("input[name='add2']").val()  // 매매전략
	postData['add4']  = $("input[name='add4']").val()  // 체결단가
	postData['add5']  = $("input[name='add5']").val()  // 체결수량
	postData['add6']  = $("input[name='add6']").val()  // 매수금액	
	postData['add14'] = $("input[name='add14']").val() // 가용잔액	


	$.post( posturl, postData).done(function(data) {
		var ans = JSON.parse(data)
		
		if(ans.replyCode == 'NMDATA') {
			$("input[name='add4']" ).parent().removeClass("i-input-div").addClass("i-input-div-must");
			$("input[name='add2']" ).parent().addClass("i-input-div-must-2");
			$("input[name='add5']" ).parent().removeClass("i-input-div-choice").addClass("i-input-div-must");
			$("input[name='add6']" ).parent().removeClass("i-input-div-choice").addClass("i-input-div");
			$("input[name='add14']").parent().removeClass("i-input-div").addClass("i-input-div-must");
			h_dialog.notice(ans.msg);
		} 
		else if(ans.replyCode == 'NOTICE') {
			h_dialog.notice(ans.msg);
		}
		else {
			var update_key = ['add15','add16','add2','add3','add4','add5','add6','add10','add7','add9','add8','add11','add12','add14','add17']
				update_key.forEach(function(i){$("input[name='"+i+"']" ).val(ans[i])})
		}
	});
}
function auto_dataclean() {
		var update_key = ['add15','add16','add2','add3','add4','add5','add6','add10','add7','add9','add8','add11','add12','add14','add17']
			update_key.forEach(function(i){$("input[name='"+i+"']" ).val('')})
}

function form_basic(opt) {
	var html;
	$('#contextMenu').hide()
	switch (opt){
		case  'A1'  : html= '\n<div class="pbox">\n<p>글입력</p>\n</div>\n'; break;	
		case  'A2'  : html= '\n<div class="pbox">\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n</div>\n'; break;
		case  'B1'  : html= '\n<p class="p-title">타이틀</p>\n<p class="sbox">\n글내용\n</p>\n'; break;
		case  'A4h' : html= '\n<div class="A4h">\n<p>글내용</p>\n</div>\n'; break;
		case  'A4w' : html= '\n<div class="A4w">\n글내용\n</div>\n'; break;
	}
	if(docuSelected != null) { $(docuSelected).before(html); JYHEDITOR.selectedMark();} 
	else $("#YHBmainEditor").append(html); 
	
}


JYHEDITOR.UserTable = function() {
	if(docuSelectedType != 'TD') return;
	$("#tableMenu").css({left:mouse_X - 20 , top:mouse_Y }).toggle();
}

function check_MainWriteForm(f)	{	
	var wDiv = $id("YHBmainEditor");
	JYHEDITOR.clearDocuSelect();
	f.content.value = wDiv.innerHTML;
	if(check_FormInput(f,{{D['ChkField']|safe}})) return false;
	return true;
}
</script>
{% endblock %}