{% extends D['_skn'] + 'board/my_dark/main_layout.html' %}

{% block contents_write %}
<form id='YHBmainEditorForm' method="POST" action="{{D['Form_act']}}" onsubmit='return check_MainWriteForm(this)'  style="margin-bottom:0px">
<input type='hidden' name='mode'	value="{{D['Mode']}}" >
<input type='hidden' name='add4'	value="{{D['BODY']['add4']}}" >
<input type='hidden' name='add6'	value="{{D['BODY']['add6']}}" >
<input type='hidden' name='add10'	value="{{D['BODY']['add10']}}" >
<input type='hidden' name='add11'	value="{{D['BODY']['add11']}}" >
<input type='hidden' name='add12'	value="{{D['BODY']['add12']}}" >
<input type='hidden' name='add13'	value="{{D['BODY']['add13']}}" >
<input type='hidden' name='add14'	value="{{D['BODY']['add14']}}" >
<input type='hidden' name='add15'	value="{{D['BODY']['add15']}}" >
<input type='hidden' name='add16'	value="{{D['BODY']['add16']}}" >
<input type='hidden' name='add17'	value="{{D['BODY']['add17']}}" >
<input type='hidden' name='add18'	value="{{D['BODY']['add18']}}" >
<input type='hidden' name='tle_color' value="" >
<!-- END ====================================================================================== -->
<div class="clearfix" style="background-color:#24272d;padding:10px;border:1px solid black;border-top-left-radius:6px;border-top-right-radius:6px">
	<div class="pull-left" style="padding:10px">
		<div id="imgDropZone" style="width:596px;height:422px;border:2px solid black;border-radius:4px;background-color:#585858">
			{% if D['BODY']['add6'] %}<img src="{{D['BODY']['add6']}}" width='594' height='420' class='file-thumb' />{% endif %}
		</div>
	</div>
	<div class="pull-left" style="padding:10px 5px">
		<div style="width:50px;height:422px;border:2px solid black;border-radius:4px;background-color:#363636" onclick="imgView()">
			&nbsp;
		</div>
	</div>
	<div class="pull-left" style="padding:10px">
		<div style="width:380px;height:422px;padding:20px 0px 20px 20px;border:2px solid black;border-radius:4px;background-color:#2f2f2f">

			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>회사명</div>
				<input type='text' name='add1' class="i-text" style="width:240px;" value="{{D['BODY']['add1']}}">
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>프로젝트명</div>
				<input type='text' name='add2' class="i-text" style="width:240px;" value="{{D['BODY']['add2']}}">
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>납기기한</div>
				<input type='text' name='add3' id="i-date-due" style="width:240px;" value="{{D['BODY']['add3']}}">
			</div>
			<div class='i-input-div-choice' style="margin-top:10px">
				<div class='write-input-server'>모델명</div>
				<input type='text' name='add0' class="i-text" style="width:240px;" value="{{D['BODY']['add0']}}">
			</div>
			<div class='i-input-div' style="margin-top:10px">
				<div class='write-input-server'>간단메모</div>
				<input type='text' name='add5' class="i-text" style="width:240px;" value="{{D['BODY']['add5']}}">
			</div>
			<div style="margin-top:10px;font-style:italic;text-align:left;color:#a5a5a5">
			본문내용을 기재하시기 바랍니다()
			</div>
			<div class="A4drawingUpload" style="width:340px;height:150px;margin-top:10px;">
				<textarea  name='content' style="border:2px solid black;width:100%;height:100%;padding:10px;line-height:25px;color:lightgray;">{% if D['Mode'] == 'modify' -%}{{D['BODY']['content']|safe}}{%- endif %}</textarea>
			</div>	
		</div>
	</div>
</div>

<div class="well" style="border-radius:0px; padding:5px 20px">&nbsp;</div>


<div style="border:1px solid gold;border-radius:4px">
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr style="border-bottom:1px solid black;border-top:2px solid black">
			<th style="background-color:#071418;font-style:italic;width:60px">No</th>
			<th style="background-color:#0A2229;width:100px;text-align:right">회사단가</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:left;">외주업체</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">재료비</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">용접비</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">가공비</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">후처리</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">단  가</th>
			<th style="background-color:#0B2F3A;width:60px;text-align:right">수  량</th>
			<th style="background-color:#0B2F3A;width:100px;text-align:right">총금액</th>
			<th style="background-color:#071418;font-style:italic">비 고</th>
		</tr>
	</thead>
	<tbody id="table-excel">
		{% for i in range(8) %}
		<tr> 
			<td class='list-c1'>{{i+1}}</td>
			<td class='list-c2'><input class="list-input-number" style="font-weight:bold"/></td>
			<td class='list-c3'>
				<select style="width:130px;padding:0px;border:none;border:1px solid #424242">
					<option value=""></option>
					{{D['out_co_list']|safe}}
				</select>				
			</td>
			<td class='list-c4'><input class="list-input-number" /></td>
			<td class='list-c5'><input class="list-input-number" /></td>
			<td class='list-c6'><input class="list-input-number" /></td>
			<td class='list-c7'><input class="list-input-number" /></td>
			<td class='list-c8'></td>
			<td class='list-c9'><input class="list-input-number" style="width:60px;" /></td>
			<td class='list-c10'></td>
			<td class='list-c11' contenteditable="true"></td>
		</tr>
		{% endfor %}
		<tr style="background-color:#071418;"> 
			<td class='text-center'>합 계</td>
			<td class="c-total" style="padding-right:12px;"></td>
			<td></td>
			<td class="c-total" style="padding-right:12px;"></td>
			<td class="c-total" style="padding-right:12px;"></td>
			<td class="c-total" style="padding-right:12px;"></td>
			<td class="c-total" style="padding-right:12px;"></td>
			<td class="c-total"></td>
			<td></td>
			<td class="c-total"></td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
<!-- 하단 요소====================================================================================== -->
<div class="clearfix" style="padding:0px;margin-top:10px">
	<div class="pull-left">
		<a href="{{D['_bse']}}board/list/{{D['bid']}}/csh=on"><span class="btn btn-small btn-blue" style="height:30px;">목록</span> </a>
		{%- if D['Mode'] == 'modify' -%}
		<a onclick="delete_confirm('{{D['_bse']}}boards-action/delete/{{D['bid']}}/no={{D['No']}}/page={{D['page']}}')">
			<span class="btn btn-small btn-red-s4" style="height:30px">삭제</span>
		</a>
		{%- endif -%}
	</div>
	<div class="pull-right">
		<button class="btn btn-small btn-red-s3" style="height:30px">저장</button>
	</div>
</div>
</form>
<!-- END ====================================================================================== -->
<script>

var upload_dir = "{{D['upload_dir']}}"

$(document).ready(function() {

//	$(".list-input-number").comma('init').contextmenu(function(e){e.preventDefault(); $(this).val('')});
	$(".list-input-number").comma('init');
	$(".list-input-number").on('keydown',null,'left',function(e){ var inputs = $(this).closest('tbody').find('input');inputs.eq( inputs.index(this)-1 ).focus();});
	$(".list-input-number").on('keydown',null,'right',function(e){var inputs = $(this).closest('tbody').find('input');inputs.eq( inputs.index(this)+1 ).focus();});
	$(".list-input-number").on('keydown',null,'up',	function(e){  var inputs = $(this).closest('tbody').find('input');inputs.eq( inputs.index(this)-6 ).focus();});
	$(".list-input-number").on('keydown',null,'down',function(e){ var inputs = $(this).closest('tbody').find('input');inputs.eq( inputs.index(this)+6 ).focus();});
	$("#i-date-due").Zebra_DatePicker({format:'Y-m-d', first_day_of_week : 0, show_icon:true });
	$(".file-thumb").click(function(){ var sel = $(this).parent().next(); image_view(this); });

	if( uri('method') == 'modify' ) { v_to_tbl(); }
	fileDropDown();
});

function check_MainWriteForm(f)	{	

	if(check_FormInput(f,{{D['ChkField']|safe}})) return false;
	for(i=1;i<9;i++) {
		var row  = vxy(i,2)+'/*/'+sxy(i,3)+'/*/'+vxy(i,4)+'/*/'+vxy(i,5)+'/*/'+vxy(i,6)+'/*/'+vxy(i,7)+'/*/'+txy(i,8)+'/*/'+vxy(i,9)+'/*/'+ txy(i,10)+'/*/'+txy(i,11);
		var add  = "input[name=add1"+ i + "]";
		$(add).val(row);
	}
	var i=9;
	var tot = txy(i,2)+'/*/'+''+'/*/'+txy(i,4)+'/*/'+txy(i,5)+'/*/'+txy(i,6)+'/*/'+txy(i,7)+'/*/'+txy(i,8)+'/*/'+''+'/*/'+ txy(i,10)+'/*/'+''; 
	$("input[name=add10]").val(tot);
	
	total = txy(9,10);
	$("input[name=add4]").val(total);
	return true;
}

function vxy(x,y) { return $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").children("input").val(); }
function txy(x,y) { return $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").text(); }
function sxy(x,y) { return $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").children("select").val(); }

function xyv(x,y,val) { $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").children("input").val(val); }
function xyt(x,y,txt) { $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").text(txt); }
function xys(x,y,val) { $("#table-excel").children("tr:nth-child("+x+")").children("td:nth-child("+y+")").children("select").val(val).prop("selected",true); }

function v_to_tbl() {
	for(i=1;i<9;i++){
		var add  = "input[name=add1"+ i + "]";
		var val  = $(add).val();
		var srv  = val.split('/*/');
		if(srv) {xyv(i,2,srv[0]);xys(i,3,srv[1]);xyv(i,4,srv[2]);xyv(i,5,srv[3]);xyv(i,6,srv[4]);xyv(i,7,srv[5]);xyt(i,8,srv[6]);xyv(i,9,srv[7]);xyt(i,10,srv[8]);xyt(i,11,srv[9]);}
	}
	var i=9;
	val = $("input[name=add10]").val();
	srv = val.split('/*/');
	if(srv) {xyt(i,2,srv[0]);xyt(i,3,'');xyt(i,4,srv[2]);xyt(i,5,srv[3]);xyt(i,6,srv[4]);xyt(i,7,srv[5]);xyt(i,8,srv[6]);xyt(i,9,'');xyt(i,10,srv[8]);xyt(i,11,'');}
}

// Drag And Drop File Upload

function fileDropDown(){
	var dropZone = $("#imgDropZone");
	//Drag기능 
	//dropZone.on('dragenter',function(e){e.stopPropagation();e.preventDefault();dropZone.css('background-color','blue');});
	dropZone.on('dragleave',function(e){e.stopPropagation();e.preventDefault();dropZone.css('background-color','#585858');});
	dropZone.on('dragover', function(e){e.stopPropagation();e.preventDefault();dropZone.css('background-color','red');});
	dropZone.on('drop',     function(e){e.preventDefault();	dropZone.css('background-color','#585858');
		
		var files = e.originalEvent.dataTransfer.files;
		if(files != null){
			if(files.length < 1){	alert("폴더 업로드 불가");	return;	}
		}
		uploadFile(files);
		});
}

function uploadFile(files){
	var formData = new FormData();
	formData.append('drop_file', files[0]);
	formData.append('save_dir', upload_dir);
	h_dialog.cover();
	$.ajax({
		url: uri('linkurl') + 'filemanager/file_dropUp' ,
		data:formData,
		type:'POST',
		enctype:'multipart/form-data',
		processData:false,
		contentType:false,
		cache:false,
		xhr: function() {
				var xhr = $.ajaxSettings.xhr();
				xhr.upload.onprogress = function(e) {
				var percent = (e.loaded * 100 / e.total).toFixed(1) + '%';
                
				$("#progress_index").text(percent); 
			}
			return xhr;
		},
		error  :function(){ h_dialog.closeCover(); h_dialog.alert('파일전송오류로 전송이 되지 않았습니다(ex 개별파일용량 초과)');},
		success:function(data){ h_dialog.closeCover(); insert_img_to(data);}});
}

function insert_img_to(data) {
	var html = "<img src='"+data+"' width='594' height='420' class='file-thumb'>";
	$("#imgDropZone").html(html);
	$("input[name=add6]").val(data);
}

function image_view(sel) {
	var url = $(sel).attr('src');
	var f_name = url.split('/').reverse()[0]
	if(f_name.match(/\.(jpg|png|gif|jpeg|bmp)$/i)) {
		var iid = src_filter(f_name);
		if($("#"+iid)) h_dialog.close(iid);
		h_dialog.image(url,{id:iid,overlay:false});
	}
}

function imgView() {
	var url = $("#imgDropZone img").attr('src');
	if(url) { 
		var f_name = url.split('/').reverse()[0]
		if(f_name.match(/\.(jpg|png|gif|jpeg|bmp)$/i)) {
			var iid = src_filter(f_name);
			if($("#"+iid)) h_dialog.close(iid);
			h_dialog.image(url,{id:iid,overlay:false});
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
</script>
{% endblock %}