@charset "utf-8";
/* ------------------------------------------------------------------------------------------------
	LIST PART 
------------------------------------------------------------------------------------------------ */
.rename-edit-on { font-weight:bold; color:red; }
.file-icon { cursor:pointer }
.list-file-edit {text-overflow : hidden }
.file-found{color:navy;font-weight:bold;}
/* ------------------------------------------------------------------------------------------------
	ToolBar right-click menu 
------------------------------------------------------------------------------------------------ */
.rightClickMenu  { position: fixed; z-index: 1015; float: left;	padding: 5px 0px 5px 0px;  margin: 2px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #7b7b7b; border-radius: 6px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); background-clip: padding-box;}
.rightClickMenu .divider {  height: 1px;  margin: 3px 1px 0px 1px;  overflow: hidden;  background-color: #e5e5e5;  border-bottom: 1px solid #ffffff;}
.rightClickMenu > li { display: block;  padding: 2px 10px;  clear: both;  font-weight: normal;  line-height: 20px; white-space: nowrap; }
.rightClickMenu > li:hover { cursor:pointer; color: #ffffff; text-decoration: none; background-color: #00007d; }

.hover_SPAN { border-bottom:2px solid red;  }
/* ------------------------------------------------------------------------------------------------
	BODY PART 
------------------------------------------------------------------------------------------------ */
#copy_me {font-weight:bold;font-size:16px;color:#979700;background-color:#ffffcc;padding-left:20px;line-height:30px}
#bottom-tool-bar {border-top:1px solid grey;color:black;background-color:white;font-weight:bold;position:fixed;left:0;bottom:0;padding:5px 10px;width:100%;min-height:32px}

[data-myfile]:before {content:"【"}
[data-myfile]:after {content:"】"}
[data-myimage]:before {content:"【"}
[data-myimage]:after {content:"】"}